<?php $crnt = $mvc->getView();?>
<div class="footerBody">
	<div>
		<ul class="mainNav">
			<li<?php if($crnt == 'footer-home') echo ' class="current"';?>><a href="/" title="Home">Home</a></li>
			<li<?php if($crnt == 'footer-schools') echo ' class="current"';?>><a href="schools.html" title="Schools">Schools</a></li>
			<li<?php if($crnt == 'footer-community') echo ' class="current"';?>><a href="community.html" title="Community">Community</a></li>
			<li<?php if($crnt == 'footer-discussions') echo ' class="current"';?>><a href="discussions.html" title="Discussions">Discussions</a></li>
			<li<?php if($crnt == 'footer-about') echo ' class="current"';?>><a href="about.html" title="About YouCademy">About YouCademy</a></li>						
		</ul>
	</div>
	<p>(c) Copyright 2010 YouCademy. All rights reserved.</p>
</div>