<?php	$message = $mvc->getObject(UsersService::ON_SUCCESS);
		if (isset($message) && $message!=NULL){?>
			<span class="message warning"><?php echo $message; ?></span>
<?php	} else { ?>
<h1>_i18n{Please enter your new password.}</h1>
<?php	$errors = $mvc->getObject(UsersService::ERROR);
		if (isset($errors)){?>
			<div class="error">
				<ul>
<?php			foreach ($errors as $key => $value){
					echo '<li>' . $value . '</li>'; }?>
				</ul>
			</div>
<?php 	} ?>

<div class="center">
	<form action="new-password.html" method="post">
		<dl>
			<dt>_i18n{Password}:</dt>
			<dd>
				<input type="password" name="password" id="password" size="35"/>
			</dd>
			<dt>_i18n{Confirm Password}:</dt>
			<dd>
				<input type="password" name="confirm_password" id="confirm_password" size="35"/>
			</dd>
		</dl>
		<input type="hidden" name="id" id="id" value="<?php $result = $mvc->getObject('id'); if($result) echo ($result);?>"></input>
		<input type="hidden" name="validation_id" id="validation_id" value="<?php $result = $mvc->getObject('validation_id'); if($result) echo ($result);?>"></input>
		<input type="submit" value="Submit"/>
	</form>
</div>
<?php } ?>