<div class="wrapLogin">
	<div class="greyBox">
		<div class="viewRBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h2>_i18n{Change Password}</h2>
				<div class="unitForm unitLast">
<?php	$message = $mvc->getObject(UsersService::ON_SUCCESS);
		if (isset($message) && $message!=NULL){?>
			<div class="itemOk"><?php echo $message; ?></div>
<?php	} else { ?>
					<form action="/new-password.html" method="post">
<?php					$errors = $mvc->getObject(UsersService::ERROR);
						if (isset($errors)){ ?>
							<div class="itemWarning">
								<ul>
<?php							foreach ($errors as $key => $value){ ?>
									<li><?php echo $value; ?></li>
<?php		 					} ?>
								</ul>
							</div>
<?php 					} ?>
						<div class="itemForm">
							<label for="frmEmail">_i18n{Password}:</label>
							<span class="itemData"><input type="password" class="inpTxt" name="password" size="17" /></span>
						</div>
						<div class="itemForm">
							<label for="frmEmail">_i18n{Confirm Password}:</label>
							<span class="itemData"><input type="password" class="inpTxt" name="confirm_password" size="17" /></span>
						</div>
						<div class="itemBtn">
							<input type="hidden" name="id" id="id" value="<?php $result = $mvc->getObject('id'); if($result) echo ($result);?>"></input>
							<input type="hidden" name="validation_id" id="validation_id" value="<?php $result = $mvc->getObject('validation_id'); if($result) echo ($result);?>"></input>
							<button type="submit"  name="submit"><span><strong>_i18n{Submit}</strong></span></button>
							<a class="linkBtn" href="/login.html"><span><strong>_i18n{Cancel}</strong></span></a>
				    	</div>
					</form>
<?php 	} ?>
				</div>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>