<!--p>_i18n{Already registered or want to make changes to your account?} <a href="login.html" title="_i18n{Sign in to eBids4U account}">_i18n{Sign in}</a></p-->
<?php $role = $mvc->getObject('role'); ?>
<? if(!isset($role) || $role==NULL ){ ?>
<div class="wrapLogin">
	<div class="greyBox">
		<div class="viewRBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<div class="unitForm unitLast">
					<div class="itemForm">
						<span class="itemData">
							<a href="/registration.html?role=1" title="USER" >USER</a>
						</span>
						<span class="itemData">
							<a href="/registration.html?role=2" title="TRADESMAN" >TRADESMAN</a>
						</span>
					</div>
				</div>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>
<?php } else { ?>
		<?php if ($role==1) { ?>
			<?php TemplateEngine::inclusion('registrationTR1.html', $mvc) ?>
		<?php } else { ?>
			<?php TemplateEngine::inclusion('registrationUR1.html', $mvc) ?>
		<?php } ?>		
<?php } ?>