<?php 
$categories = $mvc->getObject(CategoryService::CATEGORY);
$subcategories = $mvc->getObject(SubCategoryService::SUBCATEGORY);
$regions = $mvc->getObject(RegionService::REGIONS);
$remind_regions = $mvc->getObject(RemindService::REGION_ID);
$errors = $mvc->getObject(ContentController::ERROR);
$message = $mvc->getObject(UsersService::ON_SUCCESS);
$role = $mvc->getObject(UsersService::ROLE); 
?>

<div class="wrapLogin">
	<div class="greyBox">
		<div class="viewWBox">
			<div class="angleT"></div>
			<div class="bodyBox">
<?php	if (isset($message) && $message!=NULL){?>
						<div class="itemOk"><?php echo $message; ?></div>
<?php	} else { ?>
					
<?php 	$errors = $mvc->getObject(UsersService::ERROR);
		if (isset($errors)){?>
						<div class="itemWarning">
							<ul>
<?php	foreach ($errors as $key => $value){ ?>
								<li><?php echo $value; ?></li>
<?php	} ?>
							</ul>
						</div>
<?php	} ?>
			<form action="confirm-registration.html" method="post">
				<div class="unitWBlock">
					<div class="unitEqColumn">
						<h3>_i18n{Bank Data}</h3>
						<div class="itemForm">
							<label for="frmR1">Bank:<span class="itemReq">*</span></label>
							<span class="itemData"><input type="text" id="frmR1" name="bank" class="inpTxt" value="<? if(isset($_POST['company'])) echo $_POST['bank']; ?>/></span>
						</div>
						<div class="itemForm">
							<label for="frmR2">Kto-Nr:<span class="itemReq">*</span></label>
							<span class="itemData"><input type="text" id="frmR2" name="account_number" class="inpTxt" value="<? if(isset($_POST['company'])) echo $_POST['account_number']; ?>/></span>
						</div>
						<div class="itemForm">
							<label for="frmR3">BLZ:<span class="itemReq">*</span></label>
							<span class="itemData"><input type="text" id="frmR3" name="bank_blz" class="inpTxt" value="<? if(isset($_POST['company'])) echo $_POST['bank_blz']; ?>/></span>
						</div>
						<div class="itemForm">
							<label for="frmR4">Zahlungsmodalitaten:<span class="itemReq">*</span></label>
							<span class="itemData">
								<select id="frmR4" name="payment">
									<option>1/4-jahrlich</option>
									<option>1/2-jahrlich</option>
									<option>jahrlich</option>
								</select>
							</span>
						</div>
					</div>
					<div class="unitEqColumn">
						<?php echo StaticBlockService::getBlock(22); ?>
					</div>
				</div>
				<div class="unitWBlock" style="display:none">
					<input type="radio" class="inpChk" /><label>Zahlung per Kreditkarte</label>
					<input type="radio" class="inpChk" /><label>Lastschrift</label>
					<input type="radio" class="inpChk" /><label>Paypal</label>
				</div>
				<ul class="viewIList">
					<li class="itemNewB"><a href="#" title="_i18n{New notification}">_i18n{New notification}</a></li>
				</ul>
				<h2>_i18n{Choose Notification}</h2>
				<div class="unitWBlock">
					<div id="unitNotif" class="hideElement">
						<!-- sample on -->
						<div class="unitNotif">
							<div class="unitP">
								<div class="itemForm itemFirst">
									<label for="frmR5">_i18n{Category}:</label>
									<div class="itemData">
										<select class="gCategory" name="category" id="frmR5">
											<option value="1" selected="selected">IT</option>
											<option value="2">finance</option>
										</select>
									</div>
								</div>
								<div class="itemForm">
									<label for="frmR6">_i18n{Sub-Category}:</label>
									<div class="itemData">
										<select class="gSubCategory" name="subcategory" id="frmR6">
											<option value="1" selected="selected">SEO</option>
											<option value="2">web-design</option>
											<option value="3">development</option>
										</select>
									</div>
								</div>
								<div class="itemForm">
									<label for="frmR7">Auftragsvolumen:</label>
									<div class="itemData">
										<select id="frmR7" name="plan">
											<option>0-1.000 Euro</option>
											<option>1.000-5.000 Euro</option>
											<option>5.000-unbegrenzt</option>
										</select>
									</div>
								</div>
							</div>
							<div class="linkDelete">
								<a href="#" title="Remove notification">Remove notification</a>
							</div>
						</div>
						<!-- sample off -->
					</div>
					<div class="unitNotifEmpty hideElement">Empty notification</div>
					<dl class="viewRList">
						<dt>Region:</dt>
						<dd>
							<ul>
								<li>
									<input id="frmR10" type="checkbox" class="inpChk" name="region[1]" value="Wien"/>
									<label for="frmR10">Wien</label>
								</li>
								<li>
									<input id="frmR11" type="checkbox" class="inpChk" name="region[2]" value="Oberosterreich"/>
									<label for="frmR11">Oberosterreich</label>
								</li>
								<li>
									<input id="frmR12" type="checkbox" class="inpChk" name="region[3]" value="Karnten"/>
									<label for="frmR12">Karnten</label>
								</li>
								<li>
									<input id="frmR13" type="checkbox" class="inpChk" name="region[4]" value="Osttirol"/>
									<label for="frmR13">Osttirol</label>
								</li>
								<li>
									<input id="frmR14" type="checkbox" class="inpChk" name="region[5]" value="Niederosterreich"/>
									<label for="frmR14">Niederosterreich</label>
								</li>
								<li>
									<input id="frmR15" type="checkbox" class="inpChk" name="region[6]" value="Steiermark"/>
									<label for="frmR15">Steiermark</label>
								</li>
								<li>
									<input id="frmR16" type="checkbox" class="inpChk" name="region[7]" value="Tirol"/>
									<label for="frmR16">Tirol</label>
								</li>
								<li>
									<input id="frmR17" type="checkbox" class="inpChk" name="region[8]" value="Burgenland"/>
									<label for="frmR17">Burgenland</label>
								</li>
								<li>
									<input id="frmR18" type="checkbox" class="inpChk" name="region[9]" value="Salzburg"/>
									<label for="frmR18">Salzburg</label>
								</li>
								<li>
									<input id="frmR19" type="checkbox" class="inpChk" name="region[10]" value="Vorarlberg"/>
									<label for="frmR19">Vorarlberg</label>
								</li>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="unitWBlock">
					<div class="unitInfo unitRtf">
						<?php echo StaticBlockService::getBlock(23); ?>
					</div>
				</div>
				
				<div class="unitWBlock unitLast">
					<!-- 
					<div class="unitEqColumn">
						<div class="itemForm">
							<label for="frmR30">Mail:</label>
							<span class="itemData"><input type="text" id="frmR30" class="inpTxt" /></span>
						</div>
						<div class="itemForm">
							<label for="frmR31">Mail bestatigen:</label>
							<span class="itemData"><input type="text" id="frmR31" class="inpTxt" /></span>
						</div>
					</div>
					 -->
						<div class="unitSnColumn">
							<div class="itemForm">
								<span class="itemData">
									<input type="checkbox" id="frmR18" class="inpChk" name="agreement"/>
									<label for="frmR18">_i18n{I read, understood, and agree to eBids4U} <a href="#" target="blank" title="_i18n{eBid4U User Agreement}">_i18n{User Agreement}</a>.</label>
								</span>
							</div>
						</div>
					<div class="unitBtn">
						<input type="hidden" name="id" value="<? if(isset($_GET['id'])) echo $_GET['id']; if(isset($_POST['id'])) echo $_POST['id'];?>"/>
						<input type="hidden" name="validation_id" value="<? if(isset($_GET['validation_id'])) echo $_GET['validation_id']; if(isset($_POST['validation_id'])) echo $_POST['validation_id'];?>"/>
						<input type="hidden" name="role" value="<?php echo $role ?>"/>
						<button type="submit" name="submit"><span><strong>_i18n{Sign Up}</strong></span></button>
						<a class="linkBtn" href="/registration.html"><span><strong>_i18n{Cancel}</strong></span></a>
					</div>
				</div>
				</form>
				<?php } ?>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>