<div class="wrapFormLeft">
	<div class="greyBox">
		<div class="viewHomeBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h2>_i18n{Please enter your email for reset password.}</h2>
				<div class="stationForm"> 
					<form action="forgot-password.html" method="post">
						<div class="unitForm">
							<label for="frmEmail">_i18n{Your email}:</label>
							<span class="itemData"><input type="text" class="inpTxt" name="email" size="17" id="frmEmail" /></span>
						</div>
						<div class="itemBtn">
							<button type="submit"><span><strong>_i18n{Submit}</strong></span></button>
							<a class="linkBtn" href="/login.html"><span><strong>_i18n{Cancel}</strong></span></a>
				    </div>
					</form>
				</div>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>


<?php	$message = $mvc->getObject(UsersService::ON_SUCCESS);
		if (isset($message) && $message!=NULL){?>
			<div class="itemWarning"><?php echo $message; ?></div>
<?php	} else {
			$errors = $mvc->getObject(UsersService::ERROR);
			if (isset($errors)){?>
				<div class="error">
					<ul>
						<li><?php echo $errors;?></li>
					</ul>
				</div>
<?php 		} ?>

<?php 	} ?>