<?php 
$projects = $mvc->getObject(CompanyService::COMPANY_PROJECT);
$references = $mvc->getObject(CompanyService::COMPANY_REFERENCES);
?>
<div class="viewDProfile">
	<div class="unitRef">
		<h3>Reference images</h3>
<?php if(isset($references)&&$references!=null){
	foreach($references as $key =>$reference){?>		
		<div class="unitImg">
			<div class="innerP">
				<img src="<?php echo $reference[UploadsService::PATH]?>" alt="<?php echo $reference[CompanyService::REFERENCE_TITLE]?>" />
				<p><?php echo $reference[CompanyService::REFERENCE_TITLE]?></p>
			</div>
		</div>
<?php } } else { ?>
		<div class="unitProject">
			<div class="innerP">
				_i18n{Sorry, no reference project yet.}
			</div>
		</div>
<?php } ?>
	</div>
	<div class="unitEqColumn">
		<div class="unitRef">
			<h3>Reference project</h3>
<?php if(isset($projects)&&$projects!=null){
	foreach($projects as $key =>$project){?>
		<div class="unitProject">
			<div class="innerP">
				<a href="<?php echo $project[CompanyService::PROJECT_URL]?>" title="<?php echo $project[CompanyService::PROJECT_URL]?>"><?php echo $project[CompanyService::PROJECT_URL]?></a> - <?php echo $project[CompanyService::PROJECT_TITLE]?>
			</div>
		</div>
<?php } } else { ?>
		<div class="unitProject">
			<div class="innerP">
				_i18n{Sorry, no reference project yet.}
			</div>
		</div>
<?php } ?>			
		</div>
	</div>
</div>