<div class="viewDComment">
	<div class="unitDComment">
		<div class="itemTitle">
			<h4>internal doors hung</h4><span class="itemDate">19/01/2011</span>
		</div>
		<div class="itemText">
			<p>"Excellent worker,compatible & very helpful"</p>
			<p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p>
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:91%"></li>
			</ul>
			<p><strong>1</strong> (91% positiv)</p>
		</div>
	</div>
	<div class="unitDComment unitOdd">
		<div class="itemTitle">
			<h4>internal doors hung</h4><span class="itemDate">19/01/2011</span>
		</div>
		<div class="itemText">
			<p>"Excellent worker,compatible & very helpful"</p>
			<p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p>
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:49%"></li>
			</ul>
			<p><strong>1</strong> (49% positiv)</p>
		</div>
	</div>
	<div class="unitDComment">
		<div class="itemTitle">
			<h4>internal doors hung</h4><span class="itemDate">19/01/2011</span>
		</div>
		<div class="itemText">
			<p>"Excellent worker,compatible & very helpful"</p>
			<p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p>
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:100%"></li>
			</ul>
			<p><strong>1</strong> (100% positiv)</p>
		</div>
	</div>
	<div class="unitDComment unitOdd">
		<div class="itemTitle">
			<h4>internal doors hung</h4><span class="itemDate">19/01/2011</span>
		</div>
		<div class="itemText">
			<p>"Excellent worker,compatible & very helpful"</p>
			<p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p>
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:80%"></li>
			</ul>
			<p><strong>1</strong> (80% positiv)</p>
		</div>
	</div>
</div>