<div class="viewLight">
	<h2>New project</h2>
	<div class="unitABlock unitABlockLast">
		<form method="POST">
			<div class="unitSnColumn">
				<div class="itemForm">
					<label>Description:</label>
					<div class="itemData">
						<input class="inpTxt" type="text" value=""/>
					</div>
				</div>
				<div class="itemForm">
					<label>Link:</label>
					<div class="itemData">
						<input class="inpTxt" type="text" value=""/>
					</div>
				</div>
			</div>
			<div class="unitBtn">
				<button><span><strong>_i18n{Send}</strong></span></button>
				<button class="itemHide"><span><strong>_i18n{Discard}</strong></span></button>
			</div>
		</form>
	</div>
</div>