<form>
<p class="splashHead">Delete User</p>
<div class="splashBody">
		<input type="hidden" name="id" value="<?php $message = $mvc->getObject(UsersService::ID);echo isset($message) ? $message : 'id';?>"/>
		<h2 class="warning">You are about to delete the following admin user!</h2>
		<fieldset>
			<legend>Personal Data:</legend>
			<dl>
				<dt>ID:</dt>
		 		<dd>some id</dd>
				<dt>First Name:</dt>
		 		<dd>John</dd>
		 		<dt>Last Name:</dt>
		 		<dd>Smith</dd>
			</dl>
		</fieldset>
		<fieldset>
			<legend>Group:</legend>
				<ul>
					<li>Training 2</li>
					<li>Training 3</li>
				</ul>
		</fieldset>
		<fieldset>
			<legend>Allocation:</legend>
				<ul>
					<li>Training 4</li>
					<li>Training 5</li>
					<li>Training 6</li>
				</ul>
		</fieldset>
</div>
	<div class="splashBottom">
		<input type="submit" name="submit" value="Confirm"/>
		<button onclick="destroySplash('splashCanv');return false;">Cancel</button>
	</div>	
</form>