<form class="splashForm">
	<p class="splashHead">Project Export</p>
	<div class="splashBody">
		<div class="selectList">
			<div class="title">Trainigs:</div>
			<div>
				<select size="10">
					<option>All</option>
				</select>
			</div>
			<div>
				<ul>
				<li><a href="#" title="Add"><img alt="Add" src="images/arr-left.png"></a></li>
				<li><a href="#" title="Remove"><img alt="Remove" src="images/arr-right.png"></a></li>
				</ul>
			</div>
			<div>
				<select size="10">
					<option>Training 1</option>
					<option>Training 2</option>
					<option>Training 3</option>
					<option>Training 4</option>
					<option>Training 5</option>
					<option>Training 6</option>
				</select>
			</div>
			
			<div class="title">Class:</div>
			<div>
				<select size="10">
					<option>6a</option>
					<option>6b</option>
					<option>6c</option>
				</select>
			</div>
			<div>
				<ul>
				<li><a href="#" title="Add"><img alt="Add" src="images/arr-left.png"></a></li>
				<li><a href="#" title="Remove"><img alt="Remove" src="images/arr-right.png"></a></li>
				</ul>
			</div>
			<div>
			<select size="10">
				<option>5a</option>
				<option>5b</option>
				<option>5c</option>
				<option>5d</option>
				<option>6d</option>
			</select>
			</div>
		</div>
	</div>
	<div class="splashBottom">
		<input type="submit" name="submit" value="Submit"/>
		<button onclick="destroySplash('splashCanv');return false;">Cancel</button>
	</div>
</form>
