<?php 
	$crnt = $mvc->getView();
	$usr = SessionService::getAttribute(SessionService::USERNAME);
?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-forentrepreneurs') echo 'class="itemActive"';?>><a href="/for-entrepreneurs.html" title="_i18n{For Entrepreneurs}">_i18n{For Entrepreneurs}</a></li>
	<li <?php if($crnt == 'navigation-companies') echo 'class="itemActive"';?>><a href="/companies.html" title="_i18n{Yellow Pages}">_i18n{Yellow Pages}</a></li>
	<li <?php if($crnt == 'navigation-viewbargains') echo 'class="itemActive"';?>><a href="/view-bargains.html" title="_i18n{Bargain}">_i18n{Bargain}</a></li>
	<li <?php if($crnt == 'navigation-myaccount') echo 'class="itemActive"';?>><a href="/my-account.html" title="_i18n{My account}">_i18n{My account}</a></li>
</ul>
<ul class="userNav">
	<li>_i18n{You are logged in as} <b><?php echo $usr;?></b>.</li>
	<li><a href="/logout.html" title="_i18n{Sign out}">_i18n{Sign out}</a></li>
</ul>