<style>
.viewMenu {margin:0 4px;}
	.viewMenu ul {border-top:1px dotted #ccc; padding:0 0 10px 0}
	.viewMenu li {border-bottom:1px dotted #ccc}
	.viewMenu li a {display:block; overflow:hidden; width:163px; padding:5px 7px 4px 7px; font-size:13px; font-weight:bold}
	.viewMenu li a:hover, .viewMenu li.itemActive a {background:url(../images/navBg.png) repeat-x 0 0; color:#fff; text-decoration:none}
</style>

<div class="wrapLAdmin">
	<div class="greyBox">
		<div class="viewBBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h2>_i18n{Tradesman} _i18n{Navigation}</h2>
				<div class="viewMenu">
					<ul>
						<li class="itemActive"><a href="/my-profile.html" title="_i18n{My Account}">My Account</a></li>
						<li><a href="/company-profile.html" title="_i18n{My Company Profile}">My Company Profile</a></li>
						<li><a href="/my-mail.html" title="_i18n{My Mail Servers}">My Mail Servers</a></li>
						<li><a href="/my-order.html" title="_i18n{My Order}">My Order</a></li>
						<li><a href="/my-bargains.html" title="_i18n{My Bargains}">My Bargains</a></li>
						<li><a href="/my-job.html" title="_i18n{My Job}">My Job</a></li>
					</ul>
				</div>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>