<?php 
	$crnt = $mvc->getView();
	$new_mails = $mvc->getObject(MailService::NEW_MAILS);
?>
<div class="bodyBox" id="navMenu">
	<h2>_i18n{Navigation}</h2>
	<div class="viewMenu">
		<ul>
			<li <?php if($crnt == 'sidebar-myprofile') echo 'class="itemActive"';?>><a href="/my-profile.html" title="_i18n{My Profile}">_i18n{My Profile}</a></li>
			<li <?php if($crnt == 'sidebar-companyprofile') echo 'class="itemActive"';?>><a href="/company-profile.html" title="_i18n{My Company Profile}">_i18n{My Company Profile}</a></li>
			<li <?php if($crnt == 'sidebar-mymail') echo 'class="itemActive"';?>><a href="/my-mail.html" title="_i18n{My Messages}">_i18n{My Messages} <?php echo $new_mails!=0 ? '('.$new_mails.')':null;?></a></li>
			<li <?php if($crnt == 'sidebar-myorder') echo 'class="itemActive"';?>><a href="/my-order.html" title="_i18n{My Order}">_i18n{My Order}</a></li>
			<li <?php if($crnt == 'sidebar-mybargains') echo 'class="itemActive"';?>><a href="/my-bargains.html" title="_i18n{My Bargains}">_i18n{My Bargains}</a></li>
			<li <?php if($crnt == 'sidebar-myjob') echo 'class="itemActive"';?>><a href="/my-job.html" title="_i18n{My Job}">_i18n{My Job}</a></li>
		</ul>
	</div>
</div>