<?php $crnt = $mvc->getView();?>
<div class="footerBody">
	<div>
		<ul class="mainNav">
			<li<?php if($crnt == 'footer-home') echo ' class="current"';?>><a href="/" title="Overview">Overview</a></li>
			<li<?php if($crnt == 'footer-managecourses') echo ' class="current"';?>><a href="manage-courses.html">Courses</a></li>
			<li<?php if($crnt == 'footer-manageusers') echo ' class="current"';?>><a href="manage-users.html" >Users</a></li>
			<li<?php if($crnt == 'footer-managecategories') echo ' class="current"';?>><a href="manage-categories.html" title="Manage Categories">Categories</a></li>
			<li<?php if($crnt == 'footer-community') echo ' class="current"';?>><a href="community.html" title="Community">Community</a></li>
			<li<?php if($crnt == 'footer-discussions') echo ' class="current"';?>><a href="discussions.html" title="Discussions">Discussions</a></li>
			<li<?php if($crnt == 'footer-myprofile') echo ' class="current"';?>><a href="my-profile.html" title="">My profile</a></li>						
		</ul>
	</div>
	<p>(c) Copyright 2010 YouCademy. All rights reserved.</p>
</div>