<h1>Courses Management</h1>
<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No courses available at this moment.</span>
<?php } else { ?>

<table class="list">
<tr class="title">
	<td>Caption:</td>
	<td>Level:</td>
	<td>Rate:</td>
	<td>Options:</td>
</tr>
<?php foreach($list as $key => $value){ ?>
	<tr  style="border: 1px solid #EFEFEF">
		<td>
			<a href=<?php echo 'course-details.html?id=' . $value[CourseService::ID];?>>
				<?php echo $value[CourseService::CAPTION];?>
			</a>
		</td>
		<td>
			Level: <?php echo $value[CourseService::LEVEL];?>
		</td>
		<td>
			<?php if($value[SchoolService::RATE] >= 1){ ?>
			<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
			<?php if($value[SchoolService::RATE] >= 2){ ?>
			<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
			<?php if($value[SchoolService::RATE] >= 3){ ?>
			<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
			<?php if($value[SchoolService::RATE] >= 4){ ?>
			<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
			<?php if($value[SchoolService::RATE] >= 5){ ?>
			<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
		</td>
		<td>
			<a class="button" href=<?php echo 'edit-course.html?id=' . $value[CourseService::ID];?>>Edit</a>
			<a class="button" href=<?php echo 'manage-courses.html?deleted=' . $value[CourseService::ID];?>>Delete</a>
		</td>
	</tr>
<?php } ?> 
</table>
<?php } ?>