<?php echo XML_CONTENT_DEFINITION ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
			"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Configuration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">
		#left_mnu {
			display:block;
			float:left;
			height:100%;
			border-right:1px solid gray;				
		}
	</style>
</head>
<body>
	<ul id="left_mnu">
		<li>
			<a href="index.html" title="Actions Configuration">Actions Configuration</a>
		</li>
	</ul>
	<?php include_once 'http://ito-mvc/config/index.html' ?>
</body>
</html>