<?php 
$categories = $mvc->getObject(CategoryService::CATEGORY);
$subcategories = $mvc->getObject(SubCategoryService::SUBCATEGORY);
$regions = $mvc->getObject(RegionService::REGIONS);
$remind_regions = $mvc->getObject(RemindService::REGION_ID);
$status = $mvc->getObject(ContentController::STATUS);
$data = $mvc->getObject(ContentController::RESULT);
$errors = $mvc->getObject(ContentController::ERROR);
?>
<h2>_i18n{My Notification}</h2>
<div class="unitWBlock">
	<div class="unitInfo unitRtf">
		<?php echo StaticBlockService::getBlock(21); ?>
	</div>
</div>
<ul class="viewIList">
	<li class="itemNewB"><a href="#" title="New notification">New notification</a></li>
</ul>
<h2>Notification</h2>
<?php if (isset($status )){?>
	<div class="itemOk">
		<ul>
			<li>_i18n{Successfully Saved}</li>
		</ul>
	</div>
<?php } ?>
<?php if (isset($errors )){?>
	<div class="itemWarning">
		<ul>
			<li><?php echo $errors?></li>
		</ul>
	</div>
<?php } ?>
<div class="unitWBlock unitLast">
	<div id="unitNotif" class="hideElement">
		<!-- sample on -->
		<div class="unitNotif">
			<div class="unitP">
				<div class="itemForm itemFirst">
					<label for="frmCc">_i18n{Category}:</label>
					<div class="itemData">
						<select id="frmCc" name="category" class="gCategory">
		<?php					if (isset($categories) && $categories!=NULL){ 
									foreach($categories as $key=>$category){ ?>
										<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
		<?php 						} 
								} ?>
						</select>
					</div>
				</div>
				<div class="itemForm">
					<label for="frmCs">_i18n{Sub-Category}:</label>
					<div class="itemData">
						<select id="frmCs" name="subcategory" class="gSubCategory">
		<?php					if (isset($subcategories) && $subcategories!=NULL){ 
									foreach($subcategories as $key=>$subcategory){ 
										if ($subcategory[SubCategoryService::CAT_ID] == $categories[0][CategoryService::ID]){?>
											<option value="<?php echo $subcategory[SubCategoryService::ID] ?>"><?php echo $subcategory[SubCategoryService::SUBCAT_NAME] ?></option>
		<?php 							}
									}
								} ?>
						</select>
					</div>
				</div>
				<div class="itemForm">
					<label for="frmCp">Auftragsvolumen:</label>
					<div class="itemData">
						<select id="frmCp" name="plan">
							<option>0-1.000 Euro</option>
							<option>1.000-5.000 Euro</option>
							<option>5.000-unbegrenzt</option>
						</select>
					</div>
				</div>
			</div>
			<div class="linkDelete">
				<a href="#" title="Remove notification">Remove notification</a>
			</div>
		</div>
		<!-- sample off -->
	</div>
	<form action="/communication.html" method="post">
		<div class="unitNotifEmpty hideElement">Empty notification</div>
<?php 
	if(isset($data) && $data!=NULL && count($data)>0) {
		foreach($data as $data_key=>$remind){
?>
		<div class="unitNotif">
			<div class="unitP">
				<div class="itemForm itemFirst">
					<label for="frmCc<?php echo $data_key; ?>">_i18n{Category}:</label>
					<div class="itemData">
						<select id="frmCc<?php echo $data_key; ?>" name="category[<?php echo $data_key; ?>]" class="gCategory">
							<option selected="selected" value="<?php echo $remind[RemindService::CATEGORY_ID]?>"><?php echo $remind[CategoryService::CAT_NAME];?></option>
<?php			if (isset($categories) && $categories!=NULL){ 
					foreach($categories as $key=>$category){ 
						if ($category[CategoryService::ID]!=$remind[RemindService::CATEGORY_ID]){ ?>
							<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
<?php 					}
					} 
				} ?>
						</select>
					</div>
				</div>
				<div class="itemForm">
					<label for="frmCs<?php echo $data_key; ?>">_i18n{Sub-Category}:</label>
					<div class="itemData">
						<select id="frmCs<?php echo $data_key; ?>" name="subcategory[<?php echo $data_key; ?>]" class="gSubCategory">
							<option selected="selected" value="<?php echo $remind[RemindService::SUBCATEGORY_ID]?>"><?php echo $remind[SubCategoryService::SUBCAT_NAME];?></option>
<?php			if (isset($subcategories) && $subcategories!=NULL){ 
					foreach($subcategories as $key=>$subcategory){ 
						if ($subcategory[SubCategoryService::ID]!=$remind[RemindService::SUBCATEGORY_ID] && $subcategory[SubCategoryService::CAT_ID]==$remind[RemindService::CATEGORY_ID]){ ?>
							<option value="<?php echo $subcategory[SubCategoryService::ID] ?>"><?php echo $subcategory[SubCategoryService::SUBCAT_NAME] ?></option>
<?php 					}
					} 
				} ?>								
						</select>
					</div>
				</div>
				<div class="itemForm">
					<label for="frmCp<?php echo $data_key; ?>">Auftragsvolumen:</label>
					<div class="itemData">
						<select id="frmCp<?php echo $data_key; ?>" name="plan[<?php echo $data_key; ?>]">
							<option>0-1.000 Euro</option>
							<option>1.000-5.000 Euro</option>
							<option>5.000-unbegrenzt</option>
						</select>
					</div>
				</div>
			</div>
			<div class="linkDelete">
				<a href="#" title="Remove notification">Remove notification</a>
			</div>
		</div>
<?php } } ?>
		<dl class="viewRList">
			<dt>Region:</dt>
			<dd>
				<ul>
<?php foreach($regions as $key=>$region){ ?> 
					<li>
						<input 
						
						<?php if (isset($remind_regions)&&$remind_regions!=NULL ){ foreach($remind_regions as $key=>$remind_regions_item){ ?> 
						<?php echo $remind_regions_item[RemindService::REGION_ID]==$region[RegionService::ID] ? 'checked'  : NULL; }}?>
						
						id="frmR<?php echo $region[RegionService::ID]; ?>" type="checkbox" class="inpChk" name="region[<?php echo $region[RegionService::ID]; ?>]" value="<?php echo $region[RegionService::ID]; ?>"/>
						<label for="frmR<?php echo $region[RegionService::ID]; ?>"><?php echo $region[RegionService::REGION_NAME]; ?></label> 
						
						
					</li>
<?php } ?>
				</ul>
			</dd>
		</dl>
		<div class="unitBtn">
			<button name="save"><span><strong>_i18n{Save}</strong></span></button>
		</div>
	</form>
</div>

