<h2>Tradesman company profile page content</h2>
<div class="unitWBlock">
	<div class="unitEqColumn">
		<dl class="itemForm">
			<dt>Fiemenname:</dt>
			<dd class="itemData">Klempnerman GmbH</dd>
		</dl>
		<dl class="itemForm">
			<dt>Ust-ID:</dt>
			<dd class="itemData">DE1225555</dd>
		</dl>
		<dl class="itemForm">
			<dt>Grundungsjahr:</dt>
			<dd class="itemData">1997</dd>
		</dl>
		<h3>Ansprechpartner</h3>
		<div class="itemForm">
			<label>Anrede:</label>
			<div class="itemData">
				<select>
					<option>Herr</option>
				</select>
			</div>
		</div>
		<div class="itemForm">
			<label>Varname:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Nachname:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
	</div>
	
	<div class="unitEqColumn">
		<dl class="itemForm">
			<dt>Strasse:</dt>
			<dd class="itemData">Handwerkerstrasse 25</dd>
		</dl>
		<dl class="itemForm">
			<dt>PLZ:</dt>
			<dd class="itemData">56789</dd>
		</dl>
		<dl class="itemForm">
			<dt>Ort:</dt>
			<dd class="itemData">Hammerhausen</dd>
		</dl>
		<dl class="itemForm">
			<dt>Bundesland:</dt>
			<dd class="itemData">Bundesland</dd>
		</dl>
		<dl class="itemForm">
			<dt>Land:</dt>
			<dd class="itemData">Land</dd>
		</dl>
		<dl class="itemForm">
			<dt>Handynummer:</dt>
			<dd class="itemData">0712/4574156</dd>
		</dl>
		<dl class="itemForm">
			<dt>E-Mail:</dt>
			<dd class="itemData">P.Mauer@klempnerman.de</dd>
		</dl>
		<dl class="itemForm">
			<dt>Homepage:</dt>
			<dd class="itemData">www.Klempnerman.de</dd>
		</dl>
		
	</div>
</div>
<h2>Profilfoto</h2>
<div class="unitWBlock">
	<div class="unitEqColumn">
		<div class="itemFoto"></div>
		<p class="linkFoto"><a href="#" title="Bild hochladen">Bild hochladen</a></p>
	</div>
	<div class="unitEqColumn">
		<div class="itemForm">
			<label>Kategorie:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Unterkategorie:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
	</div>
</div>
<h2>Info company</h2>
<div class="unitWBlock">
	<div class="unitInfo">
		<h3>Unternehmensbeschreibung</h3>
		<p>Wir sind eine tolles Unternehmen</p>
	</div>
</div>
<h2 style="display:none">Project</h2>
<div style="display:none" class="unitWBlock">
	text
</div>