<script> 
$("#navMenu").load("/sidebar-mymail.html", function(response, status, xhr) {
	  if (status == "error") {
	    var msg = "Sorry but there was an error: ";
		alert (msg + xhr.status + " " + xhr.statusText);
	  }
	});
</script>
<?php 
$inbox = $mvc->getObject(MailService::INBOX);
$outbox = $mvc->getObject(MailService::OUTBOX);
$trash = $mvc->getObject(MailService::TRASH);
?>
<h2>_i18n{Inbox}</h2>
<div class="unitWBlock">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>_i18n{From}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th>_i18n{Order no.}</th>
				<th class="itemLast">_i18n{Action}</th>
			</tr>
		</thead>
		<tbody>
<?php 	if (count($inbox)>0 && $inbox!=NULL){
			foreach ( $inbox as $key=>$mail) { ?>
			<tr <?php echo $mail['opened']==0 ? 'class="unitNoRead"' : null; ?>>
				<td><?php echo $mail[MailService::SENDER]; ?></td>
				<td><?php echo $mail[MailService::SUBJECT]; ?></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td>A55</td>
				<td class="itemLast">
					<ul class="viewIList">
						<li class="itemReply"><a href="#" title="_i18n{Reply}">_i18n{Reply}</a></li>
						<li class="itemPrint"><a href="#" title="_i18n{Print}">_i18n{Print}</a></li>
						<li class="itemForward"><a href="#" title="_i18n{Forward}">_i18n{Forward}</a></li>
						<li class="itemDelete"><a href="?trash=<?php echo $mail[MailService::ID]; ?>" onclick="return confirm('_i18n{You sure you want to delete?}');" title="_i18n{Delete}">_i18n{Delete}</a></li>
					</ul>
				</td>	
			</tr>
<?php 		}
		}else {?>
			<tr>
				<td colspan="5" class="itemLast">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
	<div class="unitBtn">
		<a class="linkBtn" title="_i18n{New Mail}" href="new-mail.html"><span><strong>_i18n{New Mail}</strong></span></a>
	</div>
</div>
<h2>_i18n{Outbox}</h2>
<div class="unitWBlock">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>_i18n{To}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th>_i18n{Order no.}</th>
				<th class="itemLast">_i18n{Action}</th>
			</tr>
		</thead>
		<tbody>
<?php 	if (count($outbox)>0 && $outbox!=NULL){
			foreach ( $outbox as $key=>$mail) { ?>
			<tr>
				<td><?php echo $mail[MailService::GETTER]; ?></td>
				<td><?php echo $mail[MailService::SUBJECT]; ?></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td>A55</td>
				<td class="itemLast">
					<ul class="viewIList">
						<li class="itemReply"><a href="#" title="_i18n{Reply}">_i18n{Reply}</a></li>
						<li class="itemPrint"><a href="#" title="_i18n{Print}">_i18n{Print}</a></li>
						<li class="itemForward"><a href="#" title="_i18n{Forward}">_i18n{Forward}</a></li>
						<li class="itemDelete"><a href="?trash=<?php echo $mail[MailService::ID]; ?>" onclick="return confirm('_i18n{You sure you want to delete?}');" title="_i18n{Delete}">_i18n{Delete}</a></li>
					</ul>
				</td>	
			</tr>
<?php 		}
		}else {?>
			<tr>
				<td colspan="5" class="itemLast">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
	<div class="unitBtn"></div>
</div>
<h2>_i18n{Trash}</h2>
<div class="unitWBlock unitLast">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>_i18n{From}</th>
				<th>_i18n{To}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th>_i18n{Order no.}</th>
				<th class="itemLast">_i18n{Action}</th>
			</tr>
		</thead>
		<tbody>
		<?php 
		if (count($trash)>0 && $trash!=NULL){
			foreach ( $trash as $key=>$mail) { ?>
			<tr <?php echo $mail['opened']==0 ? 'class="unitNoRead"' : null; ?>>
				<td><?php echo $mail[MailService::SENDER]; ?></td>
				<td><?php echo $mail[MailService::GETTER]; ?></td>
				<td><?php echo $mail[MailService::SUBJECT]; ?></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td>A55</td>
				<td class="itemLast">
					<ul class="viewIList">
						<li class="itemReply"><a href="#" title="_i18n{Reply}">_i18n{Reply}</a></li>
						<li class="itemPrint"><a href="#" title="_i18n{Print}">_i18n{Print}</a></li>
						<li class="itemForward"><a href="#" title="_i18n{Forward}">_i18n{Forward}</a></li>
						<li class="itemDelete"><a href="?del=<?php echo $mail[MailService::ID]; ?>" onclick="return confirm('_i18n{You sure you want to delete?}');" title="_i18n{Delete}">_i18n{Delete}</a></li>
					</ul>
				</td>	
			</tr>
<?php 		}
		}else {?>
			<tr>
				<td colspan="6" class="itemLast">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
</div>