<script> 
$("#navMenu").load("/sidebar-mymail.html", function(response, status, xhr) {
	/*  
	if (status == "error") {
	    var msg = "Sorry but there was an error: ";
		alert (msg + xhr.status + " " + xhr.statusText);
	  }*/
	});
</script>
<?php 
$inbox = $mvc->getObject(MailService::INBOX);
$outbox = $mvc->getObject(MailService::OUTBOX);
$trash = $mvc->getObject(MailService::TRASH);
?>
<form method="post" action="my-mail.html">
<input type="hidden" name="itemSelect" value="test" />
<ul class="viewIList">
	<li class="itemDelete"><button name="delAll" onclick="return confirm('_i18n{You sure you want to delete?}');" >_i18n{Delete}</button></li>
</ul>
<h2>_i18n{Inbox}</h2>
<div class="unitWBlock">
	<table cellpadding="0" cellspacing="0" class="unitMail">
		<thead>
			<tr>
				<th class="itemChk"></th>
				<th>_i18n{From}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th class="itemLast">_i18n{Order no.}</th>
			</tr>
		</thead>
		<tbody>
<?php 	if (count($inbox)>0 && $inbox!=NULL){
			foreach ( $inbox as $key=>$mail) { ?>
			<tr <?php echo $mail['opened']==0 ? 'class="unitNoRead"' : null; ?>>
				<td><input type="checkbox" class="inpChk" /></td>
				<td><?php echo $mail[MailService::SENDER]; ?></td>
				<td><a href="/view-mail.html?id=<?php echo $mail[MailService::HASH]; ?>" title="_i18n{View mail}"><?php echo $mail[MailService::SUBJECT]; ?></a></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td class="itemLast">A55</td>
			</tr>
<?php 		}
		}else {?>
			<tr class="unitNoMail">
				<td colspan="5">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
	<div class="unitBtn">
		<a class="linkBtn" title="_i18n{New Mail}" href="new-mail.html"><span><strong>_i18n{New Mail}</strong></span></a>
	</div>
</div>
<h2>_i18n{Outbox}</h2>
<div class="unitWBlock">
	<table cellpadding="0" cellspacing="0" class="unitMail">
		<thead>
			<tr>
				<th class="itemChk"></th>
				<th>_i18n{To}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th class="itemLast">_i18n{Order no.}</th>
			</tr>
		</thead>
		<tbody>
<?php 	if (count($outbox)>0 && $outbox!=NULL){
			foreach ( $outbox as $key=>$mail) { ?>
			<tr>
				<td><input type="checkbox" class="inpChk" /></td>
				<td><?php echo $mail[MailService::GETTER]; ?></td>
				<td><a href="/view-mail.html?id=<?php echo $mail[MailService::HASH]; ?>" title="_i18n{View mail}"><?php echo $mail[MailService::SUBJECT]; ?></a></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td class="itemLast">A55</td>
			</tr>
<?php 		}
		}else {?>
			<tr class="unitNoMail">
				<td colspan="5">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
	<div class="unitBtn"></div>
</div>
<h2>_i18n{Trash}</h2>
<div class="unitWBlock unitLast">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="itemChk"></th>
				<th>_i18n{From}</th>
				<th>_i18n{To}</th>
				<th>_i18n{Subject}</th>
				<th>_i18n{Date}</th>
				<th class="itemLast">_i18n{Order no.}</th>
			</tr>
		</thead>
		<tbody>
		<?php 
		if (count($trash)>0 && $trash!=NULL){
			foreach ( $trash as $key=>$mail) { ?>
			<tr <?php echo $mail['opened']==0 ? 'class="unitNoRead"' : null; ?>>
				<td><input type="checkbox" class="inpChk" /></td>
				<td><?php echo $mail[MailService::SENDER]; ?></td>
				<td><?php echo $mail[MailService::GETTER]; ?></td>
				<td><a href="/view-mail.html?id=<?php echo $mail[MailService::HASH]; ?>" title="_i18n{View mail}"><?php echo $mail[MailService::SUBJECT]; ?></a></td>
				<td><?php echo $mail[MailService::CRDATE]; ?></td>
				<td class="itemLast">A55</td>
			</tr>
<?php 		}
		}else {?>
			<tr class="unitNoMail">
				<td colspan="6">_i18n{No mail}</td>
			</tr>
<?php	} ?>
		</tbody>
	</table>
</div>
</form>