<?php 
$block = $mvc->getObject(StaticBlockService::STATIC_BLOCK);
?>
<div class="viewLight">
	<h2>_i18n{Block Preview}</h2>
	<div class="unitABlock unitABlockLast">
		<div class="unitSnColumn">
			<div class="itemForm">
				<div class="itemData">
					<?php echo htmlspecialchars_decode($block[StaticBlockService::BLOCK_DESC]);?>
				</div>
			</div>
		</div>
		<div class="unitBtn">
			<button class="itemHide"><span><strong>_i18n{Discard}</strong></span></button>
		</div>
	</div>
</div>