<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No course available at this moment.</span>
<?php } else { ?>
<div class="details">
	<h1><?php echo isset($list[0][CourseService::CAPTION]) ? $list[0][CourseService::CAPTION] : null;?></h1>
	<img alt="none avatar" src="<?php echo isset($list[0][CourseService::AVATAR]) ? $list[0][CourseService::AVATAR] : null;?>">
	<p>
	Rate:
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 0){ ?>
	<a href="">[0]</a> <?php }else{ ?> <a href="">0</a> <?php } } ?> 
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 1){ ?>
	<a href="">[1]</a> <?php }else{ ?> <a href="">1</a> <?php } } ?>
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 2){ ?>
	<a href="">[2]</a> <?php }else{ ?> <a href="">2</a> <?php } } ?>
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 3){ ?>
	<a href="">[3]</a> <?php }else{ ?> <a href="">3</a> <?php } } ?>
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 4){ ?>
	<a href="">[4]</a> <?php }else{ ?> <a href="">4</a> <?php } } ?>
	<?php if(isset($list[0][CourseService::RATE])){ if($list[0][CourseService::RATE] == 5){ ?>
	<a href="">[5]</a> <?php }else{ ?> <a href="">5</a> <?php } } ?>
	</p>
	<p>Base fee: <?php echo isset($list[0][CourseService::FEE]) ? $list[0][CourseService::FEE] : null;?></p>
	<p>Level: <?php echo isset($list[0][CourseService::LEVEL]) ? $list[0][CourseService::LEVEL] : null;?></p>
	<p><?php echo isset($list[0][CourseService::DESCRIPTION]) ? $list[0][CourseService::DESCRIPTION] : null;?></p>
</div>
<?php }?>