<?php 
$block = $mvc->getObject(StaticBlockService::STATIC_BLOCK);
$status = $mvc->getObject(AdminContentController::STATUS);
?>
<ul class="viewIList viewITList">
	<li class="itemDelete"><a href="/manage-static-block.html?del=<?php echo $block[StaticBlockService::ID]; ?>" onclick="return confirm('_i18n{You sure you want to delete?}');" title="_i18n{Delete}">_i18n{Delete}</a></li>
</ul>
<h2>_i18n{Edit Block}</h2>
<div class="unitABlock unitABlockLast">
<?php if (isset($status )){?>
	<div class="itemOk">
		<ul>
			<li>_i18n{Successfully Saved}</li>
		</ul>
	</div>
<?php } ?>
	<form action="/edit-block.html" method="POST">
		<input type="hidden" name="<?php echo StaticBlockService::ID ?>" value="<?php echo isset($block[StaticBlockService::ID]) ? $block[StaticBlockService::ID] : NULL; ?>"/>
		<div class="unitSnColumn">
			<div class="itemForm">
				<label>_i18n{Title}:</label>
				<div class="itemData">
					<input class="inpTxt" type="text" name="<?php echo StaticBlockService::BLOCK_TITLE ?>" value="<?php echo isset($block[StaticBlockService::BLOCK_TITLE]) ? $block[StaticBlockService::BLOCK_TITLE] : NULL; ?>"/>
				</div>
			</div>
			<div class="itemForm">
				<label>_i18n{Body}:</label>
				<div class="itemData"><textarea class="areaTxt" rows="10" cols="82" name="<?php echo StaticBlockService::BLOCK_DESC ?>"><?php echo isset($block[StaticBlockService::BLOCK_DESC]) ? $block[StaticBlockService::BLOCK_DESC] : NULL; ?></textarea></div>
			</div>
		</div>
		<div class="unitBtn">
			<button name="save"><span><strong>_i18n{Save}</strong></span></button>
			<button name="save_continue"><span><strong>_i18n{Save and Continue}</strong></span></button>
			<a href="/block-preview.html?id=<?php echo $block[StaticBlockService::ID];?>"><span><strong>_i18n{Preview}</strong></span></a>
			<button name="back"><span><strong>_i18n{Discard}</strong></span></button>
		</div>
	</form>
</div>