<h1>Edit User</h1>
<?php $user = $mvc->getObject('result'); if($user == NULL){ ?>
	<span class="message">No user available at this moment.</span>
<?php } else { ?>
<div class="center">
	<form action="manage-users.html" method="post">
		<dl>
			<dt>ID:</dt>
	 		<dd>
	 		<input type="hidden" name="id" value="<?php echo $user[UsersService::ID];?>"/>
	 		<?php echo $user[UsersService::ID];?>
	 		</dd>
	 		<dt>User name:</dt> 
	 		<dd><input type="text" name="username" value="<?php echo $user[UsersService::USERNAME]; ?>"/></dd>
			<dt>First Name:</dt>
	 		<dd><input type="text" name="firstname" value="<?php echo $user[UsersService::FIRSTNAME]; ?>"/></dd>
	 		<dt>Last Name:</dt>
	 		<dd><input type="text" name="lastname" value="<?php echo $user[UsersService::LASTNAME]; ?>"/></dd>
			<dt>Email:</dt>
	 		<dd><input type="text" name="email" value="<?php echo $user[UsersService::EMAIL]; ?>"/></dd>
			<dt>Status:</dt>
	 		<dd>
	 			<input type="radio" name="enabled" value="1" <?php echo $user[UsersService::ENABLED] == 1 ? 'checked' : ''; ?>/>Enabled
				<input type="radio" name="enabled" value="0" <?php echo $user[UsersService::ENABLED] == 1 ? '' : 'checked'; ?>/>Disabled<br/>
			</dd>
			<dt>Role:</dt>
	 		<dd>
	 		<select name="role">
	 			<option><?php echo $user[UsersService::ROLE];?></option>
	 			<?php if ($user[UsersService::ROLE] != UsersService::ROLE_MR){ ?>
	 			<option><?php echo UsersService::ROLE_MR ?></option>
	 			<?php }?>
	 			<?php if ($user[UsersService::ROLE] != UsersService::ROLE_AR){ ?>
	 			<option><?php echo UsersService::ROLE_AR ?></option>
	 			<?php }?>
	 		</select>
			</dd>
		</dl>
		<input type="submit" name="submit" value="Submit Changes"/>
	</form>	
</div>
<?php } ?>