<div class="viewLight">
	<h2>edit CATEGORY</h2>
	<div class="unitABlock unitABlockLast">
		<form action="/edit-category.html" method="POST">
			<div class="unitSnColumn">
				<div class="itemForm">
					<label>Name category:</label>
					<div class="itemData">
						<input class="inpTxt" type="text" name="itemCategory" value="" />
						<input type="hidden" name="idCategory" />
					</div>
				</div>
			</div>
			<div class="unitBtn">
				<button><span><strong>Save</strong></span></button>
				<button class="itemHide"><span><strong>_i18n{Discard}</strong></span></button>
			</div>
		</form>
	</div>
</div>
