<?php
$subcategory = $mvc->getObject(SubCategoryService::SUBCATEGORY);
$categories = $mvc->getObject(CategoryService::CATEGORY);
$errors = $mvc->getObject(ContentController::ERROR);
$success = $mvc->getObject(ContentController::STATUS);
?>
<?php if (!isset($success )){?>
<div class="viewLight">
	<h2>_i18n{Edit SubCategory!}</h2>
	<div class="unitABlock unitABlockLast">
	<?php if (isset($errors )){?>
		<div class="itemWarning">
			<ul>
				<?php foreach ($errors as $key => $value){?>
					<li><?php echo $value ?></li>
				<?php } ?>					
			</ul>
		</div>
	<?php } ?>
		<form action="/edit-subcategory.html" method="POST">
			<div class="unitSnColumn">
				<div class="itemForm">
					<label>_i18n{Category}:</label>
					<div class="itemData">
						<select name="category_id">
<?php	if (isset($categories) && $categories!=NULL){ 
			foreach($categories as $key=>$category){ ?>
							<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
<?php 		} 
		} ?>
						</select>
					</div>
				</div>
				<div class="itemForm">
					<label>_i18n{SubCategory Name}:</label>
					<div class="itemData">
						<input class="inpTxt" type="text" name="subcategory_name" value="<?php echo $subcategory[SubCategoryService::SUBCAT_NAME]?>" />
						<input type="hidden" name="id" value="<?php echo $category[SubCategoryService::ID]?>"/>
					</div>
				</div>

			</div>
			<div class="unitBtn">
				<button><span><strong>_i18n{Send}</strong></span></button>
				<button class="itemHide"><span><strong>_i18n{Discard}</strong></span></button>
			</div>
		</form>
	</div>
</div>
<?php } else {?>
<div class="viewLight">
	<h2>_i18n{Thank you!}</h2>
	<div class="unitABlock unitABlockLast">
		<div class="itemOk">_i18n{SubCategory saved!}</div>
		<div class="unitBtn">
			<button class="itemBack"><span><strong>_i18n{Close}</strong></span></button>
		</div>
	</div>
</div>
<?php }?>