<table class="list">
<tr>
	<th>_i18n{ID}:</th>
	<th>_i18n{Category}:</th>
	<th>_i18n{Action}:</th>
</tr>
	<tr>
		<td>1</td>
		<td>IT</td>
		<td>edit | del</td>
	</tr>
</table>
<table class="list">
<tr>
	<th>_i18n{ID}:</th>
	<th>_i18n{SubCategory}:</th>
	<th>_i18n{Category}:</th>
	<th>_i18n{Action}:</th>
</tr>
	<tr>
		<td>1</td>
		<td>SEO</td>
		<td>IT</td>
		<td>edit | del</td>
	</tr>
	<tr>
		<td>2</td>
		<td>development</td>
		<td>IT</td>
		<td>edit | del</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Design</td>
		<td>IT</td>
		<td>edit | del</td>
	</tr>
</table>

