<h1>Please enter your email for reset password.</h1>
<div class="error">
	<?php
		$errors = $mvc->getObject(UsersService::ERROR);
		echo isset($errors) ? '<p>' . $errors . '</p>' : null;
	 ?>
</div>
<div class="center"> 
	<form action="reset-password.html" method="post">
	        <dl>
	                <dt>
	                        <label for="email">Your email:</label>
	                </dt>
	                <dd>
	                        <input type="text" name="email" size="17" id="email"></input>
	                </dd>
	        </dl>
	        <input type="submit" value="Submit"></input>
	</form>
</div>