html, body {
	padding:0;
	margin:0;
}

body {
	background-color:#DDDDDD; 
	background-image: url(../images/background.png) ;
	background-position: center;
	background-repeat: repeat-y;
}

.ext {
	display:block;
	width:870px;
	margin:0 auto;
}

#header {
	height:80px;
	background-color:#7799BB;
}

#middle {
	overflow:hidden;
}

#nav {
	min-height:600px;
	width:200px;
	float: left;
	background-color:white;
}


#content {
	display:block;
	overflow:hidden;
	text-align:center;
	color: #324B65;
}


#footer {
	height:30px;
}






dl{
	overflow: hidden;

}

dt {
	clear:both;
	float:left;
	text-align:right;
	width:30%;
	margin: 5px;
	color: #444445;

}

dd {
	float:right;
	text-align:left;
	width:65%;
	margin: 5px;
}

select{
	width: 74px;
}