<form action="/swithLanguage.html" class="languages" id="locale">
	<select name="locale" onchange="document.forms['locale'].submit();">
		<option selected="selected" value="de">Choose language:</option>
		<option value="de" >Deutsch</option>
		<option value="en" >English</option>
		<option value="ru">Русский</option>
	</select>
</form>
<div class="unitLogo"><a href="#" title="_i18n{Angebotholen Home}"><img src="images/headerLogo.png" alt="_i18n{Angebotholen Home}" /></a></div>
<div class="unitSlogan">
	<p>_i18n{Ich habe den besten Treuhänder gefunden!}</p>
</div>
