<?php $listings = $mvc->getObject('listings'); ?>
<span class="marquee">
	<marquee direction="left">
	<?php foreach($listings as $listing) { ?>
		<img src="images/marquee.gif" class="separator" alt="<?php echo $listing['search_caption'] . ' ' . $listing['what_caption']?>"/>
		<b>$<?php echo $listing['price'] ?></b>
		<a href="CONTEXT_PATH/index.php?realty=show&amp;filter=on&amp;aim=<?php echo $listing['filter_caption']?>" title="<?echo $listing['search_caption']?>" class="link"><?php echo $listing['action_caption']?></a>
		<a href="CONTEXT_PATH/index.php?realty=show&amp;filter=on&amp;aim=<?php echo $listing['filter_caption']?>&amp;realty_type=<?php echo $listing['property_type']?>" title="<?php $listing['what_caption']?>" class="link"><?php echo $listing['what_caption']?></a>
		at <a href="CONTEXT_PATH/index.php?realty=show&amp;filter=on&amp;aim=<?php echo $listing['filter_caption']?>&amp;settlement_region=<?php echo $listing['region']?>" title="<?php echo $listing['name']?>" class="link">city <?php echo $listing['city']?> (<?php echo $listing['name']?>)</a>
		<?php if (trim ( $listing['address'] ) != '') { ?>
				street <?php echo $listing['address'] ?>
		<?php } ?> 
	<?php } ?>
	</marquee>
</span>
<?php TemplateEngine::inclusion('ads/yandex-direct-home.html', $mvc) ?>
<?php $news = $mvc->getObject('news'); ?>
<div class="news">
	<?php foreach($news as $item) { ?>
	<div class="newsblock">
		<b><?php echo $item['date']?></b>&nbsp;
		<b><a href="CONTEXT_PATH/index.php?action=news&amp;id=<?php echo $item['id']?>" title="<?php echo $item['caption']?>"><?php echo $item['caption']?></a></b>
		<img src="CONTEXT_PATH/storage/news/news_<?php echo $item['id']?>.jpg" align="left" alt="<?php echo $item['caption']?>" width="62" height="60"/>
		<?php echo $item['headline']?>
	</div>
	<?php } ?>
</div>
<?php TemplateEngine::inclusion('ads/google-120x600.html', $mvc) ?>
<?php TemplateEngine::inclusion('ads/google-468x60.html', $mvc) ?>