<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>eBids4U</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="styles/cleditor.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jq.base.js"></script>
	<script type="text/javascript" src="js/jq.extend.js"></script>
	<script type="text/javascript" src="js/jq.function.js"></script>
</head>

<body>
<div class="feedbackLink">
	<a href="#" title="Feedback">Feedback</a>
</div>
<div class="wrapHeader">
	<div class="wrapInner">
		<?php TemplateEngine::inclusion('header.html', $mvc) ?>
	</div>
</div>
<div class="wrapNav">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/navigation-' . $mvc->getView() . '.html', $mvc)?>
	</div>
</div>
<div class="wrapContent">
	<div class="wrapInner">
		<!-- title and extra link on -->
			<?php TemplateEngine::execute('/sub-header-' . $mvc->getView() . '.html', $mvc); ?>
		<!-- title and extra link off -->
		<!-- content on -->
		<div class="stationContent">
			<!-- left sidebar on -->
			<div class="wrapLAdmin">
				<div class="greyBox">
					<div class="viewBBox">
						<div class="angleT"></div>
							<?php TemplateEngine::execute('/sidebar-' . $mvc->getView() . '.html', $mvc); ?>
						<div class="angleB"></div>
					</div>
					 <div id="planBlock">
					<?php TemplateEngine::execute('/plan-block.html', $mvc); ?>
					</div>
					<!-- fix gradient on -->
					<div class="lineHide"></div>
					<!-- fix gradient off -->
				</div>
			</div>
			<!-- left sidebar off -->
			<!-- main content on -->
			<div class="wrapRAdmin">
				<div class="greyBox">
					<div class="viewWBox">
						<div class="angleT"></div>
						<div class="bodyBox">
							<?php TemplateEngine::execute('/content-' . $mvc->getView() . '.html', $mvc); ?>
						</div>
						<div class="angleB"></div>
					</div>
					<!-- fix gradient on -->
					<div class="lineHide"></div>
					<!-- fix gradient off -->
				</div>
			</div>
			<!-- main content off -->
		</div>
		<!-- content off -->
		<div class="stationCarousel">
			<div class="viewCarousel">
				<div class="angleT"></div>
				<div class="bodyBox">
					<div class="itemClip">
						<ul>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg10.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="25% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg11.gif" alt="25% Rabatt" /></span>
									<span>25% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="35% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg12.gif" alt="35% Rabatt" /></span>
									<span>35% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg13.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg14.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="25% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg15.gif" alt="25% Rabatt" /></span>
									<span>25% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="35% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg16.gif" alt="35% Rabatt" /></span>
									<span>35% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg17.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="35% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg12.gif" alt="35% Rabatt" /></span>
									<span>35% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg13.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="15% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg14.gif" alt="15% Rabatt" /></span>
									<span>15% Rabatt</span>
								</a>
							</li>
							<li>
								<a href="#" title="25% Rabatt">
									<span class="itemImg"><img src="images/cnt/contentImg15.gif" alt="25% Rabatt" /></span>
									<span>25% Rabatt</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="angleB"></div>
			</div>
		</div>
	</div>
</div>
<div class="wrapFooter">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/footer-' . $mvc->getView() . '.html', $mvc);?>
	</div>
</div>
<div class="wrapBtmLine"><div class="wrapInner"></div></div>
<div class="wrapBanner">
	<div class="wrapInner">
		<a href="#" title="Banner"><img src="images/cnt/contentBanner01.gif" width="172" height="665" alt="Banner" /></a>
	</div>
</div>
</body>
</html>