<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SoundShare</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="js/jq.base.js"></script>
	<script type="text/javascript" src="js/jq.jplayer.js"></script>
	<script type="text/javascript" src="js/jq.function.js"></script>
	<script type="text/javascript" src="js/jq.jplayer.inspector.js"></script>
	<link href="styles/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="styles/jplayer.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<!-- 
<div class="feedbackLink">
	<a href="/feedback.html" title="Feedback">Feedback</a>
</div>

<div class="wrapHeader">
	<div class="wrapInner">
		<?php //TemplateEngine::inclusion('header.html', $mvc) ?>
	</div>
</div>
 -->
<div class="wrapNav">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/navigation-' . $mvc->getView() . '.html', $mvc)?>
	</div>
</div>
<div class="wrapContent">
	<div class="wrapInner">
		<!-- content on -->
		<div class="stationContent">
			<!-- main content on -->
				<?php TemplateEngine::execute('/content-' . $mvc->getView() . '.html', $mvc); ?>
			<!-- main content off -->
			<!-- right sidebar on -->
				<?php TemplateEngine::execute('/sidebar-' . $mvc->getView() . '.html', $mvc); ?>
			<!-- right sidebar off -->
		</div>
		<!-- content off -->
	</div>
</div>
<div class="wrapFooter">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/footer-' . $mvc->getView() . '.html', $mvc);?>
	</div>
</div>
</body>
</html>