<? echo XML_CONTENT_DEFINITION ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<title>YouCademy!</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="styles/style.css" type="text/css" />
</head>
<body>
<!-- Header block begin  -->
<?php TemplateEngine::inclusion('header.html', $mvc) ?>
<!-- Header block end  -->
<!--  Navigation block begin -->
<?php TemplateEngine::inclusion('navigation.html', $mvc)?>
<!--  Navigation block end -->
<!--  Middle block begin -->
<div class="level0">
	<div class="sidebar">
		<?php TemplateEngine::execute('/sidebar-' . $mvc->getView() . '.html');	?>
        <div class="champion">
                <h2>Top Scores</h2>
        </div>
	</div>        
	<div class="content">
        <?php TemplateEngine::execute('/content-' . $mvc->getView() . '.html'); ?>                
	</div>
</div>
<!--  Middle block end -->
<!--  Footer block begin -->
<?php TemplateEngine::inclusion('footer.html', $mvc)?>
<!--  Footer block end -->
</body>
</html>