<? echo XML_CONTENT_DEFINITION ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>eBids4U</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jq.base.js"></script>
	<script type="text/javascript" src="js/jq.function.js"></script>
</head>
<body>
<div class="feedbackLink">
	<a href="#" title="Feedback">Feedback</a>
</div>
<div class="wrapHeader">
	<div class="wrapInner">
		<?php TemplateEngine::inclusion('header.html', $mvc) ?>
	</div>
</div>
<div class="wrapNav">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/navigation-' . $mvc->getView() . '.html', $mvc)?>
	</div>
</div>
<div class="wrapContent">
	<div class="wrapInner">
		<!-- title and extra link on -->
			<?php TemplateEngine::execute('/sub-header-' . $mvc->getView() . '.html', $mvc); ?>
		<!-- title and extra link off -->
		<!-- content on -->
		<div class="stationContent">
			<?php TemplateEngine::execute('/content-' . $mvc->getView() . '.html', $mvc); ?>
		</div>
		<!-- content off -->
	</div>
</div>
<div class="wrapFooter">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/footer-' . $mvc->getView() . '.html', $mvc);?>
	</div>
</div>
<div class="wrapBtmLine"><div class="wrapInner"></div></div>
<div class="wrapBanner">
	<div class="wrapInner">
		<a href="#" title="Banner"><img src="images/cnt/contentBanner01.gif" width="172" height="665" alt="Banner" /></a>
	</div>
</div>
</body>
</html>