<p><strong>_i18n(Main menu)</strong></p>
<a href="<?php echo CONTEXT_PATH ?>realestate/add.html" title="_i18n(Submit your listings)">_i18n(Submit your listings)</a>
<a href="<?php echo CONTEXT_PATH ?>realestate/listings.html" title="_i18n(Browse real estate)">_i18n(Browse real estate)</a>
<a href="<?php echo CONTEXT_PATH ?>realestate/search.html" title="_i18n(Real estate search)">_i18n(Real estate search)</a>
<a href="<?php echo CONTEXT_PATH ?>realestate/news.html" title="_i18n(Real estate news)">_i18n(Real estate news)</a>         
<a href="<?php echo CONTEXT_PATH ?>realestate/analytics.html" title="_i18n(Analytics)">_i18n(Analytics)</a>