<p><strong>Main menu</strong></p>
<a href="[CONTEXT_PATH]realestate/add.html" title="Submit your listings">Submit your listings</a>
<a href="[CONTEXT_PATH]realestate/listings.html" title="Browse real estate">Browse real estate</a>
<a href="[CONTEXT_PATH]realestate/search.html" title="Real estate search">Real estate search</a>
<a href="[CONTEXT_PATH]realestate/news.html" title="Real estate news">Real estate news</a>         
<a href="[CONTEXT_PATH]realestate/analytics.html" title="Analytics">Analytics</a>