<div class="level0" >
        <ul class="menu-h">
                <li><a href="schools.html">Schools</a></li>
                <li><a href="trainings.html">Trainings</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="discussions.html">Discussions</a></li>
                <li><a href="about.html">About YouCademy</a></li>
        </ul>
        <form class="search">
                <input type="text"></input>
                <input type="submit" title="Search" value="Search"></input>
        </form>
</div>