<? echo XML_CONTENT_DEFINITION ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
        <title>ito-nlp</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="styles/style.css" type="text/css" />
</head>
<body>

<!-- Header block begin  -->
<div class="level0">
        <a href="index.html" title="OLC" class="logo">Online LC</a>
        <ul class="useful-bar">
                <li><a href="#" title="English">En</a></li>
                <li><a href="#" title="Russian">Ru</a></li>
                <li class="help"><a href="#" title="Help">Help</a></li>
        </ul>

</div><!-- Header block end  -->
<!--  Navigation block begin -->
<div class="level0" >
        <ul class="menu-h">
                <li><a href="training-exercises.html">Упражнения</a></li>
                <li><a href="training-categories.html">Категории</a></li>
                <li><a href="training-faq.html">ЧаВо</a></li>
        </ul>
        <form class="search">
                <input type="text"></input>
                <input type="submit" title="Поиск" value="Поиск"></input>
        </form>
</div><!--  Navigation block end -->
<!--  Middle block begin -->
<div class="level0">
        <div class="registration">
                <b>Sign Up for Online Learning Center NLP</b>
        </div>
        <div class="error">
                <!-- <? include_once 'com/ito/services/reg.php'; ?> -->
                <? if (isset($_POST['submit']))echo RegistrationUser::Regictration($_POST[firstname], $_POST['lastname'], $_POST['reg_email'], $_POST['reg_password'], $_POST['confirm_password'], $_POST['birth_day'], $_POST['birth_month'], $_POST['birth_year']) ?>
        </div>
        <form class="reg_form" action="registration.html" method="post">
                <dl>
                        <dt>First Name:</dt>
                                <dd><input type="text" name="firstname" id="firstname" size="35" value="<? if(isset($_POST['firstname'])) echo $_POST['firstname']; ?>"></input></dd>
                        <dt>Last Name:</dt>
                                <dd><input type="text" name="lastname" id="lastname" size="35" value="<? if(isset($_POST['lastname'])) echo $_POST['lastname']; ?>"></input></dd>
                        <dt>Your Email:</dt>
                                <dd><input type="text" name="reg_email" id="reg_email" size="35" value="<? if(isset($_POST['reg_email'])) echo $_POST['reg_email']; ?>"></input></dd>
                        <dt>Password:</dt>
                                <dd><input type="password" name="reg_password" id="reg_password" size="35"></input></dd>
                        <dt>Confirm Password:</dt>
                                <dd><input type="password" name="confirm_password" id="confirm_password" size="35"></input></dd>
                        <dt>Birthday:</dt>
                                <dd>
                                         <select name="birth_day">
                                         <option value="">Day:</option>
                                         <option value="1">1</option>
                                         <option value="2">2</option>
                                        </select>
                                        
                                        <select name="birth_month">
                                        <option value="">Month:</option>
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                        </select>
                        
                        <select name="birth_year">
                                        <option value="">Year:</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>                
                        </select>
                                </dd>                   
                </dl>
                <input type="submit" value="Sign up" id="submit" name="submit"></input>
        </form>
</div><!--  Middle block end -->
<!--  Footer block begin -->
<div class="level0">
        <p class="footer">Копирайт</p>
</div><!--  Footer block end -->
</body>
</html>