<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Create new account</title>
	<link href="styles/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- page header begin -->
	<div id="header" class="ext">
		ITO Global
	</div>
	<!-- page header end -->
	
	<div id="middle" class="ext">
	
	<!-- page navigation begin -->
	<div id="nav">
		Navigation
	</div>
	<!-- page navigation end -->
	
	<!-- page content begin -->
	<div id="content">	
    	<h2>Sign Up to ito-global.com</h2>
		<form method="post" action="registr.html" >
			<!--<label for="name">Username:</label>
			<input id="name" type="text" name="username" />
			<label for="name">Password:</label>
			<input id="password" type="password" name="password" />	
			<input type="submit" value="SignIn"/>-->
            
            <dl>
            <dt>User Name:</dt>
				<dd><input type="text" name="username" id="name" size="35"/></dd>
            <dt>First Name:</dt>
				<dd><input type="text" name="firstname" id="firstname" size="35"/></dd>
			<dt>Last Name:</dt>
				<dd><input type="text" name="lastname" id="lastname" size="35"/></dd>
			<dt>Email:</dt>
				<dd><input type="text" name="email" id="reg_email" size="35"/></dd>
			<dt>Password:</dt>
				<dd><input id="password" type="password" name="password"  size="35"/></dd>
			<dt>Confirm Password:</dt>
				<dd><input type="password" name="confirm_password" id="confirm_password" size="35"/></dd>
			<!--<dt>Birthday:</dt>
				<dd>
					 <select name="birth_day">
         				 <option value="">Day:</option>
         				 <option value="1">1</option>
         				 <option value="2">2</option>
					</select>
					
					<select name="birth_month">
          				<option value="">Month:</option>
          				<option value="1">Jan</option>
          				<option value="2">Feb</option>
              		</select>
              		
              		<select name="birth_year">
          				<option value="">Year:</option>
          				<option value="2010">2010</option>
          				<option value="2009">2009</option>                
              		</select>
				</dd>			
		--></dl>
        <input type="submit" value="Sign Up" id="submit" name="submit"></input>
		</form>
	</div>
	<!-- page content end -->	
	</div>
	
	<!-- page footer begin -->
	<div id="footer" class="ext"></div>
	<!-- page footer end -->


</body>
</html>