<? echo XML_CONTENT_DEFINITION ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<title>ito-nlp</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="styles/style.css" type="text/css" />
</head>
<body>
<!-- Header block begin  -->
<?php include_once 'header.html' ?>
<!-- Header block end  -->
<!--  Navigation block begin -->
<?php include_once 'navigation.html' ?>
<!--  Navigation block end -->
<!--  Middle block begin -->
<div class="level0">
	<form class="reg_form" action="scoupe_create.html" method="post">
	        <dl>
	                <dt>Name of new website:</dt>
	                        <dd><input type="text" name="name_site" id="name_site" size="35"></input></dd>
	                <dt>Domain which will be used:</dt>
	                        <dd><input type="text" name="dom" id="dom" size="35"></input></dd>
	                <dt>Alias for new website:</dt>
	                        <dd><input type="text" name="alias" id="alias" size="35"></input></dd>
	                <dt>Name of registrant (first name, last name):</dt>
	                        <dd><input type="text" name="name_user" id="name_user" size="35"></input></dd>
	                <dt>Contact email:</dt>
	                        <dd><input type="text" name="email" id="email" size="35"></input></dd>
	        </dl>
	        <input type="submit" value="Submit" id="submit" name="submit"></input>
	</form>
	
	
	<form class="reg_form" action="scoupe_delete.html" method="post">
	        <dl>
				<dt>Domain which will be deleted:</dt>
	            	<dd><input type="text" name="delete" id="delete" size="35"></input></dd>
	        </dl>
	        <input type="submit" value="Submit" id="submit" name="submit"></input>
	</form>
        
        
</div><!--  Middle block end -->
<!--  Footer block begin -->
<?php include_once 'footer.html' ?>
<!--  Footer block end -->
</body>
</html>