<div class="level0">
        
        <div class="sidebar">
                <div class="form">
                        <b>YouCademy accaunt</b>
                        <form action="login.html" method="post">
                                <dl>
                                        <dt>
                                                <label for="username">Username:</label>
                                        </dt>
                                        <dd>
                                                <input type="text" name="username" size="17" id="username"></input>
                                        </dd>
                                        <dt>
                                                <label for="password">Password:</label>
                                        </dt>
                                        <dd>
                                                <input type="password" name="password" size="17" id="password"></input>
                                        </dd>
                                        <dt>
                                                <input type="checkbox" name="persistent" id="persistent"></input>
                                        </dt>
                                        <dd>
                                                <label for="persistent">Stay signed in</label>
                                        </dd>
                                </dl>
                                <input type="submit" value="Sign in"></input>
                        </form>
                        <a href="registration.html">Registration</a>
                </div>
                
                <div class="champion">
                        <b>Top scores</b>
                </div>
        </div>
        
        <div class="content">
                <table>
                        <tr class="title">
                                <td colspan="2">
                                        <h2>Упражнения к просмотру</h2>
                                        <select>
                                                <option>Сортировать по</option>
                                        </select> 
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <h2><a href="exercise-details.html">Поведенчиская подстройка</a></h2>
                                        <p>
                                                Изминение параметров проведения Консультанта таким образом, чтобы стать максимально похожим на Клиента: подстройка по позе, жестам, дыханию.    
                                        </p>
                                        <a href='exercise-details.html' class="buton">Посмотреть</a>
                                </td>
                                <td>
                                        <h2><a href="exercise-details.html">Подстрайка к модели мира</a></h2>
                                        <p>
                                                Росчет ценностей и критериев Клиента, его манеры говорить. Позволяет сделать слова Консультанта более значимыми.
                                        </p>
                                        <a href='exercise-details.html' class="buton">Посмотреть</a>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <h2><a href="exercise-details.html">Ресурсные / нересурсные состояния</a></h2>
                                        <p>
                                                В ресурсном состоянии Клиент может дейтсвовать наиболее эфективным образом, обладая несколькими(не менее трех) вариантами проведения решения(выбора). В нересурсном состоянии Клиент имеет только один вариант поведения, как правило, не устраивающий его. Приятно также говорить о состоянии ресурса(см. Ресурс) и состоянии нересурса.
                                        </p>
                                        <a href='exercise-details.html' class="buton">Посмотреть</a>
                                </td>
                                <td>
                                        <h2><a href="exercise-details.html">Рефрейминг смысла</a></h2>
                                        <p>
                                                Консультант предлогает другое, более ресурсное название для того же опыта Клиента. Например, "поздоровел" вместо "потолстел", "настойчивый" вместо "упрямый". Позволяет переосмыслить его значение, обратить внимание на другие аспекты личностного опыта.
                                        </p>
                                        <a href='exercise-details.html' class="buton">Посмотреть</a>
                                </td>
                        </tr>
                        <tr class="title">
                                <td colspan="2">
                                        <h2><a href="exercise-scroller.html">Постраничный навигатор</a></h2>
                                </td>
                        </tr>
                </table>                
        </div>
</div>