<?php 
$user = $mvc->getObject(UsersService::USERS);
$feedbacks = $mvc->getObject(CompanyService::COMPANY_FEEDBACK);
?>
<div class="wrapWSearch">
	<div class="greyBox">
		<div class="viewBox viewBoxA">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<?php if (isset($user)&&$user!=NULL){ ?>
						<h2><?php echo $user[UsersService::COMPANY] ?></h2>
						<div class="unitDBlock">
							<div class="unitDLeft">
								<div class="unitImg">
									<ul>
										<li><a href="<?php echo $user[UsersService::AVATAR] ?>" title=""><img src="<?php echo $user[UsersService::AVATAR] ?>" alt="<?php echo $user[UsersService::COMPANY] ?>" /></a></li>
									</ul>
								</div>
							</div>
							<div class="unitDRight">
								<div class="unitCompany">
									<div class="unitEqColumns">
										<dl>
											<dt>Rating:</dt>
											<dd>
												<div class="unitRating">
													<div class="simpleRating">
														<ul>
															<li class="itemCurrent" style="width:<?php echo $user['vote']?>%"></li>
														</ul>
														<p><strong><?php echo $user['count']?></strong> (<?php echo round($user['vote'])?>% positiv) <?php if ($user['vote']!=NULL){?><a href="#" title="Extended">Extended</a><?php } ?></p>
													</div>
													<div class="extendRating">
														<dl>
															<dt>_i18n{Quality of work}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE1] ?>%"></span></dd>
														</dl>
														<dl>
															<dt>_i18n{Reliability}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE2] ?>%"></span></dd>
														</dl>
														<dl>
															<dt>_i18n{Cleanliness}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE3] ?>%"></span></dd>
														</dl>
														<dl>
															<dt>_i18n{Price/Performance}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE4] ?>%"></span></dd>
														</dl>
														<dl>
															<dt>_i18n{Project delivered}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE5] ?>%"></span></dd>
														</dl>
														<dl>
															<dt>_i18n{Consulting Services}:</dt>
															<dd><span class="itemCurrent" style="width:<?php echo $user[CompanyService::VOTE6] ?>%"></span></dd>
														</dl>
														<p><a href="#" title="Avarage">Avarage</a></p>
													</div>
												</div>
											</dd>
										</dl>
										<dl>
											<dt>Category:</dt>
											<dd><?php echo $user[CategoryService::CAT_NAME] ?></dd>
											<dt>SubCategory:</dt>
											<dd><?php echo $user[SubCategoryService::SUBCAT_NAME] ?></dd>
										</dl>
									</div>
									<div class="unitEqColumns">
										<dl>
											<dt>Country:</dt>
											<dd><?php echo $user[CountryService::COUNTRY_NAME] ?></dd>
											<dt>Region:</dt>
											<dd><?php echo $user[RegionService::REGION_NAME] ?></dd>
											<dt>City:</dt>
											<dd><?php echo $user[UsersService::LOCATION] ?></dd>
											<dt>ZIP:</dt>
											<dd><?php echo $user[UsersService::ZIP] ?></dd>
											<dt>Address:</dt>
											<dd><?php echo $user[UsersService::ADDRESS] ?></dd>
										</dl>
										<dl>
											<dt>Email:</dt>
											<dd><?php echo $user[UsersService::EMAIL] ?></dd>
											<dt>Phone:</dt>
											<dd><?php echo $user[UsersService::PHONE] ?></dd>
											<dt>Homepage:</dt>
											<dd><a href="<?php echo $user[UsersService::HOMEPAGE] ?>" title="<?php echo $user[UsersService::COMPANY] ?>"><?php echo $user[UsersService::HOMEPAGE] ?></a></dd>
										</dl>
										<dl>
											<dt>Year:</dt>
											<dd><?php echo $user[UsersService::COMPANY_YEAR] ?></dd>
										</dl>
										
									</div>
									<dl>
										<dt>Description:</dt>
										<dd><?php echo $user[UsersService::COMPANY_DESC] ?></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="tabsHead">
							<ul>
								<li><a href="get-comments.html?id=<?php echo $_GET['id']?><?php if(isset($_GET['comment_page'])){?>&comment_page=<?php echo $_GET['comment_page'];}?>" title="Ratings"><span>Ratings</span></a></li>
								<li><a href="get-profile.html?id=<?php echo $_GET['id']?>" title="References"><span>References</span></a></li>
								<li><a href="get-certificate.html?id=<?php echo $_GET['id']?>" title="Certificates"><span>Certificates</span></a></li>
							</ul>
						</div>
						<div class="tabsContent"></div>
						<?php } else { ?>
							<div class="itemWarning">
								<ul>
									<li>_i18n{No company like you want.}</li>
								</ul>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<div class="lineHide"></div>
	</div>
</div>