<h1>Users Management</h1>
<div class="subHeader">
	<b>Users List</b>
	<?php if (SessionService::getRole() != UsersService::ROLE_MR) {?>
		<span>
			<a href="/manage-users.html" class="current">All</a> | <a href="?ar">Administrators</a> | <a href="?mr">Moderators</a>
		</span>
	<?php } ?>
</div>
<?php 		
	$message = $mvc->getObject ( ContentController::RESULT );
	if (isset ( $message ) and count($message) != 0) { 
?>

<table class="list">
<tr class="title">
	<td>User Name:</td>
	<td>Name:</td>
	<td>Role:</td>
	<td>Options:</td>
</tr>
<?php foreach($message as $key => $value){ ?>
	<tr  style="border: 1px solid #EFEFEF">
		<td>
			<a href=<?php echo 'user-details.html?id=' . $value[UsersService::ID];?>>
				<?php echo $value[UsersService::USERNAME];?>
			</a>
		</td>
		<td><?php echo $value[UsersService::FIRSTNAME] . ' ' . $value[UsersService::LASTNAME]?></td>
		<td><?php echo $value[UsersService::ROLE];?></td>
		<td>
			<?php if (isset($value[UsersService::ENABLED])) { if($value[UsersService::ENABLED] == '0') {?>
				<a class="button" href=<?php echo 'manage-users.html?enabled=' . $value[UsersService::ID];?>>Enable</a>
			<?php }else{ ?>
				<a class="button" href=<?php echo 'manage-users.html?disable=' . $value[UsersService::ID];?>>Disable</a> 
			<?php }} ?>
			<a class="button" href=<?php echo 'edit-user.html?id=' . $value[UsersService::ID];?>>Edit</a>
			<a class="button" href=<?php echo 'manage-users.html?deleted=' . $value[UsersService::ID];?>>Delete</a>
		</td>
	</tr>
<?php } ?></table>
<?php }else{ ?>
<span class="message">No users available at this moment.</span>
<?php } ?>

