<?php 
$data = $mvc->getObject(OrdersService::ORDERS);
$images = $mvc->getObject(UploadsService::PATH);
$bids = $mvc->getObject(OrdersService::BIDS);
$error = $mvc->getObject(ContentController::ERROR);
$save = $mvc->getObject(ContentController::STATUS);
?>
<?php if(isset($data)&&count($data)>0&&$data!=NULL){?>
<div class="wrapWSearch">
	<div class="greyBox">
		<div class="viewBox viewBoxA">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<ul class="viewIList">
							<li class="itemNew"><a href="view-order.html?id=<?php echo $data[OrdersService::HASH]?>&bookmark">Make a bookmark</a></li>
						</ul>
						<h2><?php echo $data[OrdersService::ORDER_NAME]; ?></h2>
						<div class="unitDBlock">
							<div class="unitDLeft">
								<?php if (isset($images)&&$images!=NULL){ ?>
								<div class="unitImg">
									<ul>
										<?php foreach($images as $key => $image){ ?>
										<li><a href="<?php echo $image['path']?>" title=""><img src='<?php echo $image['path2']?>' ></a></li>
										<?php } ?>
									</ul>
								</div>
								<?php } ?>
							</div>
							<div class="unitDRight">
								<!-- start notification -->
								<?php if (isset($error)){?>
									<div class="itemWarning">
										<p><?php echo $error?></p>
									</div>
								<?php } ?>
								<?php if (isset($save)){?>
									<div class="itemOk">
										<p><?php echo $save?></p>
									</div>
								<?php } ?>
								<!-- end notification -->
								<dl>
									<dt>desc:</dt>
									<dd><?php echo htmlspecialchars_decode($data[OrdersService::ORDER_DESC]); ?></dd>
								</dl>
								<dl>
									<dt>Time left:</dt>
									<dd><?php echo $data[OrdersService::TIME_LEFT]; ?></dd>
								</dl>
								<dl>
									<dt>Implementation date:</dt>
									<dd>from <?php echo $data[OrdersService::IMP_FROM_DATE]; ?> until <?php echo $data[OrdersService::IMP_UNTIL_DATE]; ?></dd>
								</dl>
								<div class="unitLine"></div>
								<div class="unitEqColumns">
									<dl class="itemSmall">
										<dt>category:</dt>
										<dd><?php echo $data[CategoryService::CAT_NAME]; ?></dd>
									</dl>
									<dl class="itemSmall">
										<dt>subcategory:</dt>
										<dd><?php echo $data[SubCategoryService::SUBCAT_NAME]; ?></dd>
									</dl>
								</div>
								<div class="unitEqColumns">
									<dl class="itemSmall">
										<dt>country:</dt>
										<dd><?php echo $data[CountryService::COUNTRY_NAME]; ?></dd>
									</dl>
									<dl class="itemSmall">
										<dt>region:</dt>
										<dd><?php echo $data[RegionService::REGION_NAME]; ?></dd>
									</dl>
									<dl class="itemSmall">
										<dt>city:</dt>
										<dd><?php echo $data[OrdersService::CITY]; ?></dd>
									</dl>
									<dl class="itemSmall">
										<dt>street:</dt>
										<dd><?php echo $data[OrdersService::STREET]; ?></dd>
									</dl>
								</div>
								<div class="unitLine"></div>
								<div class="unitEqColumns">
									<dl>
										<dt>def price:</dt>
										<dd class="itemPrice"><?php echo $data[OrdersService::PRICE]; ?> &euro;</dd>
									</dl>
									<?php if ($bids!=NULL){ ?>
										<dl>
											<dt>Current bid:</dt>
											<dd class="itemPrice"><?php echo $bids[0][OrdersService::BID]; ?> &euro;</dd>
										</dl>
									<?php } ?>
									<form method="post" action="view-order.html">
										<p>
											<input type="text" class="inpTxt" name="bid" />
											<input type="hidden" value="<?php echo $data[OrdersService::HASH]?>" name="id" />
											<button name="makeBid" value="1"><span><strong>Make a bid</strong></span></button>
										</p>
									</form>
								</div>
								<div class="unitEqColumns">
									<?php if ($bids!=NULL){ ?>
										<table cellpadding="0" cellspacing="0">
											<tr>
												<th>USER_ID</th>
												<th>BID</th>
												<th>DATE</th>
											</tr>
											<?php foreach($bids as $key => $bid){ ?>
											<tr>
												<td><?php echo $bid[OrdersService::USER_ID]; ?></td>
												<td><?php echo $bid[OrdersService::BID];?></td>
												<td><?php echo $bid[OrdersService::DATE];?></td>
											</tr>
											<?php } ?>
										</table>
									<?php } ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<div class="lineHide"></div>
	</div>
</div>
<hr/>




<?php } else { ?>
NO ORDER LIKE YOU WHANT
<?php } ?>