<?php 
$categories = $mvc->getObject(CategoryService::CATEGORY);
$subcategories = $mvc->getObject(SubCategoryService::SUBCATEGORY);
?>
<div class="wrapEqColumns">
	<div class="greyBox">
		<div class="itemFace"></div>
		<!-- box on -->
		<div class="viewBox viewBoxB">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<h2>Jetzt Aufträge suchen</h2>
						<div class="unitSearch">
							<form action="/view-orders.html">
								<p>
									<select name="category_id" class="gCategory">
		<?php					if (isset($categories) && $categories!=NULL){ 
									foreach($categories as $key=>$category){ ?>
										<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
		<?php 						} 
								} ?>
									</select>
									<label>Hauptkategorie?</label>
								</p>
								<p>
									<select name="subcategory_id" class="gSubCategory">
		<?php					if (isset($subcategories) && $subcategories!=NULL){ 
									foreach($subcategories as $key=>$subcategory){ ?>
										<option value="<?php echo $subcategory[SubCategoryService::ID] ?>"><?php echo $subcategory[SubCategoryService::SUBCAT_NAME] ?></option>
		<?php 						}
								} ?>
									</select>
									<label>Unterkategorie?</label>
								</p>
								<p class="itemBtn">
									<button type="submit"><span><strong>Jetzt Aufträge holen!</strong></span></button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<!-- box off -->
		<!-- box on -->
		<div class="viewBox viewBoxB">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<h2>So finden Sie das beste Angebot!</h2>
						<div class="unitStep">
							<ol>
								<li>
									<span><img src="images/nbrFind01.gif" alt="Ihren Auftrag kostenlos eintragen" /></span>
									<span>Ihren Auftrag kostenlos eintragen</span>
								</li>
								<li>
									<span><img src="images/nbrFind02.gif" alt="Angebote vergleichen" /></span>
									<span>Angebote vergleichen</span>
								</li>
								<li>
									<span><img src="images/nbrFind03.gif" alt="Auftrag vergeben" /></span>
									<span>Auftrag vergeben</span>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<!-- box off -->
		<!-- list on -->
		<div class="viewDlist">
			<h3>Vorteile für Dienstleister</h3>
			<ul>
				<li><a href="#" title="Reduktion der Akquisitionskosten">Reduktion der Akquisitionskosten</a></li>
				<li><a href="#" title="Gute Preise, da keine Abgebotsrunden">Gute Preise, da keine Abgebotsrunden</a></li>
				<li><a href="#" title="Sie bestimmen welche Aufträge sie möchten">Sie bestimmen welche Aufträge sie möchten</a></li>
			</ul>
		</div>
		<!-- list off -->
		<!-- small box on -->
		<div class="viewBox viewBoxC">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<h3>So geht's Video</h3>
						<div class="unitVideo">
							<div class="itemVideo"><img src="images/cnt/contentImg09.gif" alt="Video" /></div>
						</div>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<!-- small box off -->
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>
<div class="wrapEqColumns wrapRight">
	<div class="wrapTitle">
		<div class="viewTHead viewTHeadEq">
			<h1>Online Abverkauf!</h1>
			<p>Mehrumsatz mit Ihren Produkten</p>
		</div>
	</div>
	<div class="greyBox">
		<!-- box on -->
		<div class="viewBox viewBoxB">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<h2>Jetzt Mehrumsatz mit Produkten</h2>
						<div class="unitSearch">
							<form action="">
								<p>
									<select name="category" class="gCategory">
		<?php					if (isset($categories) && $categories!=NULL){ 
									foreach($categories as $key=>$category){ ?>
										<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
		<?php 						} 
								} ?>
									</select>
									<label>Hauptkategorie?</label>
								</p>
								<p>
									<select name="subcategory" class="gSubCategory">
		<?php					if (isset($subcategories) && $subcategories!=NULL){ 
									foreach($subcategories as $key=>$subcategory){ ?>
										<option value="<?php echo $subcategory[SubCategoryService::ID] ?>"><?php echo $subcategory[SubCategoryService::SUBCAT_NAME] ?></option>
		<?php 						}
								} ?>
									</select>
									<label>Unterkategorie?</label>
								</p>
								<p class="itemBtn">
									<button type="submit"><span><strong>Jetzt Produkte einstellen!</strong></span></button>
								</p>
							</form>
						</div>
					
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<!-- box off -->
		<div class="viewPlatform">
			<div class="peopleTrunk"></div>
			<p>&laquo;Verblüffend, wie schnell ich mein Geschäft mit dieser Plattform aktiveren kann.&raquo;</p>
			<p class="itemSlide"><a href="#" title=""><img src="images/slideImg.gif" alt="" /></a></p>
		</div>
		<!-- list on -->
		<div class="viewDlist">
			<h3>Vorteile für Händler</h3>
			<ul>
				<li><a href="#" title="Sie benötigen keinen eigenen Shop">Sie benötigen keinen eigenen Shop</a></li>
				<li><a href="#" title="Sie profitieren von einer hohen Besucherzahl">Sie profitieren von einer hohen Besucherzahl</a></li>
				<li><a href="#" title="Neue Kunden besuchen Ihr Geschäft">Neue Kunden besuchen Ihr Geschäft</a></li>
			</ul>
		</div>
		<!-- list off -->
		<!-- product list on -->
		<div class="viewEList">
			<h3>Produkte-Kategorien</h3>
			<ul>
				<li><a href="#" title="Haushaltsgeräte">Haushaltsgeräte</a></li>
				<li><a href="#" title="Heimelektronik">Heimelektronik</a></li>
				<li><a href="#" title="Computer">Computer</a></li>
				<li><a href="#" title="Computerzugehör">Computerzugehör</a></li>
				<li><a href="#" title="Mobile">Mobile</a></li>
				<li><a href="#" title="Telefonie">Telefonie</a></li>
				<li><a href="#" title="Möbel">Möbel</a></li>
				<li><a href="#" title="Spielsachen">Spielsachen</a></li>
				<li><a href="#" title="Computergames">Computergames</a></li>
				<li><a href="#" title="Gartegeräte">Gartegeräte</a></li>
				<li><a href="#" title="Schmuck">Schmuck</a></li>
				<li><a href="#" title="Frauenmode">Frauenmode</a></li>
				<li><a href="#" title="Herrenmode">Herrenmode</a></li>
				<li><a href="#" title="&raquo; weitere">&raquo; weitere</a></li>
			</ul>
		</div>
		<!-- product list off -->
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>