<h1>List of YouCademy courses</h1>
<div class="subHeader">
	<b>Courses List</b>
	<span>
		<?php
			$result = $mvc->getObject('result');
			foreach($result as $key => $value){ ?>
				<a <?php echo isset($_GET[CategoriesService::ID]) && $_GET[CategoriesService::ID]==$value[CategoriesService::ID] ? "class='current'" : NULL;?> href="/courses.html?id=<?php echo $value[CategoriesService::ID];?>">
 				<?php echo $value[CategoriesService::NAME];?></a>&nbsp;
 		<?php } ?>
	</span>
</div>
<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
	<span class="message warning">
		Sorry, there are no courses available at this moment.<br />
		Please, visit later. It will be updated very soon.
	</span>
<?php } else { ?>

<?php foreach($list as $key => $value){ ?>

<div class="pgItemsList">
	<div class="pgListItem wide">
	   	<h2>
			<a href="<?php echo 'school-details.html?id=' . $value[CourseService::ID];?>" title="School details">
			<?php echo isset($value[CourseService::CAPTION]) ? $value[CourseService::CAPTION] : null;?>
			</a>
		</h2>
	<div class="pgItemImg"><a href="<?php echo 'school-details.html?id=' . $value[CourseService::ID];?>" title="avatar"><img src="<?php echo isset($value[CourseService::AVATAR]) ? $value[CourseService::AVATAR] : null;?>" alt="" title="" /></a></div>
	   <div class="pgItemBody">
	       <ul>
       		<li>
	       		<span>Rating:</span><span class="lsValue">
		       		<a href="?valuate=1&id=<?php echo $value[CourseService::ID] ?>"><?php if($value[CourseService::RATE] >= 1){ ?>
						<img src="images/star.png" /><?php }else{ ?><img src="images/gray-star.png" /><?php } ?>
					</a>
					<a href="?valuate=2&id=<?php echo $value[CourseService::ID] ?>"><?php if($value[CourseService::RATE] >= 2){ ?>
						<img src="images/star.png" /><?php }else{ ?><img src="images/gray-star.png" /><?php } ?>
					</a>
					<a href="?valuate=3&id=<?php echo $value[CourseService::ID] ?>"><?php if($value[CourseService::RATE] >= 3){ ?>
						<img src="images/star.png" /><?php }else{ ?><img src="images/gray-star.png" /><?php } ?>
					</a>
					<a href="?valuate=4&id=<?php echo $value[CourseService::ID] ?>"><?php if($value[CourseService::RATE] >= 4){ ?>
						<img src="images/star.png" /><?php }else{ ?><img src="images/gray-star.png" /><?php } ?>
					</a>
					<a href="?valuate=5&id=<?php echo $value[CourseService::ID] ?>"><?php if($value[CourseService::RATE] >= 5){ ?>
						<img src="images/star.png" /><?php }else{ ?><img src="images/gray-star.png" /><?php } ?>
					</a>
				</span>
			</li>
         	<li><span>Base fee:</span><span class="lsValue"><?php echo $value[CourseService::BASE_FEE]?>$/ mon</span></li>
         	<li><span>Subjects:</span>
				<span class="lsValue">
					<a href="/courses.html?id=<?php echo $value[CourseService::CATEGORY_ID];?>">
 						<?php echo $value[CategoriesService::NAME];?></a>
				</span>
				</li>
	       </ul>
		</div>
	    <p class="extLink">
			<?php echo isset($value[CourseService::DESCRIPTION]) ? $value[CourseService::DESCRIPTION] : null;?>
			<a href="<?php echo 'school-details.html?id=' . $value[CourseService::ID];?>" title="View">More...</a>
		</p>
    </div>
	<div class="clnr brdr">&nbsp;</div>
</div>

<?php } }?>
