<div class="itemForm">
	<form enctype="multipart/form-data" action="valuate-responses.html" method="post">
		<dl>
			<dt>Valuation Name:</dt>
			<dd><input type="text" name="v_name" id="v_name" size="35"/></dd>
			<dt><span class="message">Please, mark courses.</span></dt>
<?php				$usCourseList = $mvc->getObject('usCourseList');
					if(isset($usCourseList) && count($usCourseList) > 0){
						foreach($usCourseList as $key => $course){?> 
							<dt>&nbsp;</dt>
							<dd>
								<input type="checkbox" name="course<?php echo $course[TrainingsService::COURSE_ID];?>"/>
								<a href="/course-details.html?id=<?php echo $course[TrainingsService::COURSE_ID]; ?>" title="Course Details">
									<?php echo $course[CourseService::CAPTION];?>
								</a>
							</dd>
<?php
						}
					}
?>
		</dl>
		<input type="submit" name="new" value="Save Valuation"/>
	</form>
</div>