<h1>Welcome to YouCademy</h1>
<p>Ready to bid and buy? Register <a href="registration.html" title="Register your YouCademy account">here</a></p> 
<p>Join the millions of people who are already a part of the eBay family. Don't worry, we have room for one more.</p>
<span>Register as an eBay Member and enjoy privileges including:</span>
<ul>
<li>Bid, buy and find bargains from all over the world</li>
<li>eBay Buyer Protection covers your purchase price plus shipping.</li>
<li>Connect with the YouCademy community and more!</li>
</ul>
