<div class="wrapTitle">
	<div class="viewTHead viewTHeadEq">
		<h1>Aufträge finden!</h1>
		<p>Steigern Sie Ihre Dienstleistungsumsätze.</p>
	</div>
	<!-- extra links on -->
	<div class="viewEHead">
		<p><strong>Hotline: 0800 20 20 20</strong></p>
		<p><a href="mailto:info@angebotholen.at">info@angebotholen.at</a></p>
		<ul>
			<li class="itemMail"><a href="#" title="Mail">Mail</a></li>
			<li class="itemTwitter"><a href="#" title="Twitter">Twitter</a></li>
			<li class="itemFacebook"><a href="#" title="Facebook">Facebook</a></li>
		</ul>
	</div>
	<!-- extra links off -->
</div>