<div class="wrapTitle">
	<div class="viewTHead">
		<h1>_i18n{Mail Service} : _i18n{Trash}</h1>
	</div>
	<!-- extra links on -->
	<div class="viewEHead">
		<p><strong>_i18n{Hotline}: 0800 20 20 20</strong></p>
		<p><a href="mailto:info@angebotholen.at">info@angebotholen.at</a></p>
		<ul>
			<li class="itemMail"><a href="feedback.html" title="Feedback">Feedback</a></li>
			<li class="itemTwitter"><a href="#" title="_i18n{Twitter}">_i18n{Twitter}</a></li>
			<li class="itemFacebook"><a href="#" title="_i18n{Facebook}">_i18n{Facebook}</a></li>
		</ul>
	</div>
	<!-- extra links off -->
</div>