<?php $crnt = $mvc->getView();?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="current"';?>><a href="index.html" title="">Overview</a></li>
	<li <?php if($crnt == 'navigation-schools') echo 'class="current"';?>><a href="schools.html" title="">Schools</a></li>
	<li <?php if($crnt == 'navigation-trainings') echo 'class="current"';?>><a href="trainings.html" title="">Trainings</a></li>
	<li <?php if($crnt == 'navigation-community') echo 'class="current"';?>><a href="community.html" title="">Community</a></li>
	<li <?php if($crnt == 'navigation-discussions') echo 'class="current"';?>><a href="discussions.html" title="">Discussions</a></li>
	<li <?php if($crnt == 'navigation-myprofile') echo 'class="current"';?>><a href="my-profile.html" title="">My profile</a></li>
	<li <?php if($crnt == 'navigation-about') echo 'class="current"';?>><a href="about.html" title="">About YouCademy</a></li>
</ul>
<ul class="userNav">
	<li><a href="signout.html" title="Sign out">Sign out</a></li>
</ul>