<div class="topBlock">
	<form class="frmNew">
		<button onclick="showSplash('/project-new.html', 'splashCanv');return false">Add New Project</button>
	</form>
	<form action="/project-search.html" class="search">
		<input type="text" name="project" value="" /><input type="submit" value="Search Projects" />
	</form>
</div>
<table class="genTbl" cellpadding="0" cellspacing="0">
  <tr>
    <th>Title</th>
    <th>From</th>
    <th>To</th>    
    <th>Options</th>    
  </tr>
  <tr class="odd">
    <td>Project 1</td>
    <td>01.15.2010</td>
    <td>02.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy" onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>    	
    	<a href="/project-export.html" title="Export" onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>	    	
    </td>
  </tr>
  <tr>
    <td>Project 2</td>
    <td>01.15.2010</td>
    <td>21.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy" onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>    	
    	<a href="/project-export.html" title="Export" onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>    	
    </td>
  </tr>
  <tr class="odd">
    <td>Project 3</td>
    <td>01.15.2010</td>
    <td>21.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy"onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>
    	<a href="/project-export.html" title="Export" onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>	    	
    </td>
  </tr>
  <tr>
    <td>Project 4</td>
    <td>01.15.2010</td>
    <td>11.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy"onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>
    	<a href="/project-export.html" title="Export"  onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>	    	
    </td>
  </tr>
  <tr class="odd">
    <td>Project 5</td>
    <td>01.15.2010</td>
    <td>01.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy" onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>
    	<a href="/project-export.html" title="Export"  onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>	    	
    </td>
  </tr>
  <tr>
    <td>Project 6</td>
    <td>01.15.2010</td>
    <td>02.15.2010</td>
    <td class="option">
    	<a href="/project-edit.html" title="Edit" onclick="showSplash('/project-edit.html','splashCanv');return false">
    		<img src="images/edit.png" alt="Edit"/>
    	</a>
    	<a href="/project-copy.html" title="Copy" onclick="showSplash('/project-copy.html','splashCanv');return false">
    		<img src="images/copy.png" alt="Copy"/>
    	</a>
    	<a href="/project-delete.html" title="Delete" onclick="showSplash('/project-delete.html','splashCanv');return false">
    		<img src="images/delete.png" alt="Delete"/>
    	</a>
    	<a href="/project-export.html" title="Export"  onclick="showSplash('/project-export.html','splashCanv');return false">
    		<img src="images/export.png" alt="Export"/>
    	</a>	    	
    </td>
  </tr>          
</table>
