<dl>
	<dt>_i18n{About Us}</dt>
	<dd><a href="#" title="_i18n{About MailChimp}">_i18n{About MailChimp}</a></dd>
	<dd><a href="#" title="_i18n{Jobs}">_i18n{Jobs}</a></dd>
	<dd><a href="#" title="_i18n{Brend Assets}">_i18n{Brend Assets}</a></dd>
	<dd><a href="#" title="_i18n{About MailChimp}">_i18n{About MailChimp}</a></dd>
	<dd><a href="#" title="_i18n{Jobs}">_i18n{Jobs}</a></dd>
	<dd><a href="#" title="_i18n{Brend Assets}">_i18n{Brend Assets}</a></dd>
</dl>
<dl>
	<dt>_i18n{Connect With Us}</dt>
	<dd><a href="#" title="_i18n{About MailChimp}">_i18n{About MailChimp}</a></dd>
	<dd><a href="#" title="_i18n{Jobs}">_i18n{Jobs}</a></dd>
	<dd><a href="#" title="_i18n{Brend Assets}">_i18n{Brend Assets}</a></dd>
</dl>
<dl>
	<dt>_i18n{Contact Us}</dt>
	<dd><a href="#" title="_i18n{About MailChimp}">_i18n{About MailChimp}</a></dd>
	<dd><a href="#" title="_i18n{Jobs}">_i18n{Jobs}</a></dd>
</dl>
<dl>
	<dt>_i18n{Legal Info}</dt>
	<dd><a href="#" title="_i18n{About MailChimp}">_i18n{About MailChimp}</a></dd>
	<dd><a href="#" title="_i18n{Jobs}">_i18n{Jobs}</a></dd>
</dl>