<ul class="viewIList">
	<li class="itemNewB"><a href="#" title="New">New</a></li>
	<li class="itemArhiv"><button onclick="return confirm('_i18n{You sure you want to delete?}');" >Archivieren</button></li>
</ul>
<h2>_i18n{My current Bargains}</h2>
<div class="unitWBlock">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="itemChk"></th>
				<th>_i18n{Bargain-No}</th>
				<th>_i18n{Category}</th>
				<th>_i18n{Name}</th>
				<th>_i18n{Expiration Date}</th>
				<th>_i18n{Price}</th>
				<th>_i18n{Number}</th>
				<th class="itemLast">_i18n{Active}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" class="inpChk" name="chkM" value="" /></td>
				<td><a href="#" class="linkTr">S124</a></td>
				<td>Kategorie1</td>
				<td>text</td>
				<td>05/08/2010</td>
				<td>50.00 &euro;</td>
				<td>3</td>
				<td class="itemLast"><a href="#" title="Deactivate">Deactivate</a></td>
			</tr>
			<tr>
				<td><input type="checkbox" class="inpChk" name="chkM" value="" /></td>
				<td><a href="#" class="linkTr">S111</a></td>
				<td>Kategorie1</td>
				<td>text</td>
				<td>07/08/2010</td>
				<td>10.00 &euro;</td>
				<td>1</td>
				<td class="itemLast"><a href="#" title="Deactivate">Activate</a></td>
			</tr>
		</tbody>
	</table>
	<div class="unitBtn"></div>
</div>
<ul class="viewIList">
	<li class="itemDelete"><button onclick="return confirm('_i18n{You sure you want to delete?}');" >Delete</button></li>
</ul>
<h2>_i18n{Bargains Archive}</h2>
<div class="unitWBlock unitLast">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="itemChk"></th>
				<th>_i18n{Bargain-No}</th>
				<th>_i18n{Category}</th>
				<th>_i18n{Name}</th>
				<th>_i18n{Expiration Date}</th>
				<th>_i18n{Price}</th>
				<th class="itemLast">_i18n{Buyer}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" class="inpChk" name="chkM" value="" /></td>
				<td>S70</td>
				<td>Kategorie2</td>
				<td>text</td>
				<td>01/01/2010</td>
				<td>130.00 &euro;</td>
				<td class="itemLast">User12</td>
			</tr>
		</tbody>
	</table>
</div>