<h2>_i18n{tradesman new bargain page content}</h2>
<div class="unitWBlock">
	<div class="unitSnColumn">
		<div class="itemForm">
			<label>Schnappchentitel:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Schnappchenbeschreibung:</label>
			<div class="itemData">
				<textarea class="areaTxt"></textarea>
			</div>
		</div>
		<div class="itemForm itemEq">
			<label>Kategorie:</label>
			<div class="itemData">
				<select>
					<option>Kategorie</option>
				</select>
			</div>
		</div>
		<div class="itemForm itemEq">
			<label>Unterkategorie:</label>
			<div class="itemData">
				<select>
					<option>Unterkategorie</option>
				</select>
			</div>
		</div>
		<div class="itemForm">
			<label>Normalpreis:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Schnappchenpreis:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Ersparnis:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Upload Bilder:</label>
			<div class="itemData">
				<input type="file" />
			</div>
		</div>
	</div>
</div>
<div class="unitWBlock unitLast">
	<div class="unitEqColumn">
		<div class="itemForm">
			<label>Strasse:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>PLZ:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
		<div class="itemForm">
			<label>Ort:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
	</div>
	<div class="unitEqColumn">
		<div class="itemForm">
			<label>Bundesland:</label>
			<div class="itemData">
				<select>
					<option>Bundesland</option>
				</select>
			</div>
		</div>
		<div class="itemForm">
			<label>Land:</label>
			<div class="itemData">
				<select>
					<option>Land</option>
				</select>
			</div>
		</div>
		<div class="itemForm">
			<label>Webseite:</label>
			<div class="itemData">
				<input class="inpTxt" type="text" />
			</div>
		</div>
	</div>
	<div class="unitSnColumn">
		<div class="itemForm">
			<label>Gultig von bis:</label>
			<div class="itemData">
				<label class="labelDate">vos</label>
				<input class="inpDate" type="text" />
				<label class="labelDate">bis</label>
				<input class="inpDate" type="text" />
			</div>
		</div>
	</div>
	<div class="unitBtn">
			<button><span><strong>Save</strong></span></button>
			<button><span><strong>Discard</strong></span></button>
		</div>
</div>