<h2>New Mail</h2>
<div class="unitWBlock unitLast">
	<form>
		<div class="unitSnColumn">
			<div class="itemForm">
				<label>To:</label>
				<div class="itemData"><input class="inpTxt" type="text" /></div>
			</div>
			<div class="itemForm">
				<label>Subject:</label>
				<div class="itemData"><input class="inpTxt" type="text" /></div>
			</div>
			<div class="itemForm">
				<label>Body:</label>
				<div class="itemData"><textarea class="areaTxt" rows="10" cols="82"></textarea></div>
			</div>
		</div>
		<div class="unitBtn">
			<button><span><strong>Send</strong></span></button>
		</div>
	</form>
</div>