<h1>Your personal overview</h1>
<?php
	$usSchList = $mvc->getObject('usSchList');
	if(!isset($usSchList) || count($usSchList) == 0){
?>
<span class="message">You are currently not signed up for any schools.</span>
<span class="message">Please, browse <a href="/schools.html" title"YouCademy Schools">our schools</a> directory to select one you want to start.</span>
<?php } else { ?>
<div class="subHeader">
	<b>Shools List</b>
</div>
<?php	foreach($usSchList as $key => $value){ ?> 

<div class="pgItemsList">
	<div class="pgListItem wide">
		<h2>
			<a href=<?php echo 'school-details.html?id=' . $value[SchoolService::ID];?>>
				<?php echo isset($value[SchoolService::CAPTION]) ? $value[SchoolService::CAPTION] : null;?>
			</a>
		</h2>
		<div class="pgItemImg">
			<img src="<?php echo isset($value[SchoolService::AVATAR]) ? $value[SchoolService::AVATAR] : null;?>" alt="" title="" />
		</div>
		<div class="pagepgItemBody">
			<ul>
				<li>
					<span class="lsValue">
						<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 1){ ?>
						<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
						<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 2){ ?>
						<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
						<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 3){ ?>
						<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
						<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 4){ ?>
						<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
						<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 5){ ?>
						<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
					</span>				
				</li>
				<li><span>Created:</span><span class="lsValue"><?php echo isset($value[SchoolService::CRDATE]) ? $value[SchoolService::CRDATE] : null;?></span></li>
				<li><span>Categories:</span><span class="lsValue">
						<a href="#">NLP</a> 
						<a href="#">Milton</a> 
						<a href="#">DHC</a>
						<a href="#">SHL</a>
					</span>
				</li>
			</ul>
			<p class="extLink"><?php echo isset($value[SchoolService::DESCRIPTION]) ? $value[SchoolService::DESCRIPTION] : null;?></p>
		</div>
	</div>
	<div class="clnr brdr">&nbsp;</div>
</div>


<?php } } ?>