<div class="itemForm">
	<?php				
	$usCourseList = $mvc->getObject('usCourseList');
	if(!isset($usCourseList) || count($usCourseList) <= 0){ ?>
		<span class="message warning">
			You are currently not signed up for any schools or your school have not courses.<br/>
			Please, browse <a href="/schools.html" title"YouCademy Schools">our schools</a> directory to select one you want to start.
		</span>
	<?php }else{ ?>
		<form class="edit" enctype="multipart/form-data" action="my-trainings.html" method="post">
			<span>Training Name:</span>
			<input type="text" name="training_name" id="training_name" size="35"/>
			<div class="clnr brdr">&nbsp;</div>
			<span class="message">Please, mark courses:</span>
<?php				foreach($usCourseList as $key => $course){
						$old = isset ($old)? $old : NULL;
						if ($course[SchoolService::CAPTION] != $old){?>
							<div class="clnr brdr">&nbsp;</div>
							<span><?php echo $course[SchoolService::CAPTION];?>:</span>
						<?php } else { ?>
							<div >&nbsp;</div>
							<span>&nbsp;</span>
						<?php }?>
						<input type="checkbox" name="course<?php echo $course[CourseService::ID];?>"/>
						<a href="/course-details.html?id=<?php echo $course[CourseService::ID]; ?>" title="Course Details">
							<?php echo $course[CourseService::COURSE_CAPTION];?>
						</a>
<?php					$old = $course[SchoolService::CAPTION];
					} ?>
		<div class="clnr brdr">&nbsp;</div>
		<p class="btns"><input type="submit" name="submit" value="Save Training"class="defBtn" /></p>
		</form>
	<?php } ?>
</div>