<div class="itemForm">
	<form enctype="multipart/form-data" action="valuate-responses.html" method="post">
		<dl>
			<dt>Valuation Name:</dt>
			<dd><input type="text" name="v_name" id="v_name" size="35"/></dd>
			<dt><span class="message">Please, mark courses.</span></dt>
<?php				$usCourseList = $mvc->getObject('usCourseList');
					if(isset($usCourseList) && count($usCourseList) > 0){
						foreach($usCourseList as $key => $course){ 
							$old = isset ($old)? $old : NULL;
							if ($course[SchoolService::CAPTION] != $old){?> 
							<dt><?php echo $course[SchoolService::CAPTION];?>:</dt>
							<?php } ?>
							<dd><input type="checkbox" name="course<?php echo $course[CourseService::ID];?>"/><?php echo $course[CourseService::COURSE_CAPTION];?></dd>
							<dt>&nbsp;</dt>
<?php						$old = $course[SchoolService::CAPTION];
						}
					}
?>
		</dl>
		<input type="submit" name="submit" value="Save Valuation"/>
	</form>
</div>