<div class="itemForm">
	<?php				
	$usCourseList = $mvc->getObject('usCourseList');
	if(!isset($usCourseList) || count($usCourseList) <= 0){ ?>
		<span class="message warning">
			Sorry, there are no courses available at this moment.<br/>
			Please visit YouCademy <a href="my-trainings.html" title="YouCademy Trainings">trainings</a>, for subscribe to courses.
		</span>
	<?php }else{ ?>
		<form class="edit" enctype="multipart/form-data" action="valuate-responses.html" method="post">
				<span>Valuation Name:</span>
				<input type="text" name="v_name" id="v_name" size="35"/>
				<div class="clnr brdr">&nbsp;</div>
				<span class="message">Please, mark courses.</span>
				<div class="clnr brdr">&nbsp;</div>
				<ul>
<?php			foreach($usCourseList as $key => $course){?> 
						<li>
							<input type="checkbox" name="course<?php echo $course[TrainingsService::COURSE_ID];?>"/>
							<a href="/course-details.html?id=<?php echo $course[TrainingsService::COURSE_ID]; ?>" title="Course Details">
								<?php echo $course[CourseService::CAPTION];?>
							</a>
						</li>
<?php			} ?>
				</ul>
			<div class="clnr brdr">&nbsp;</div>
			<p class="btns"><input type="submit" name="new" value="Save Valuation"class="defBtn" /></p>
		</form>
	<?php } ?>
</div>