<h1>List of YouCademy trainings</h1>
<div>
	<p>
	You have responded to 5412 challenges in 108 exercises (420 responses this month). 
	Since your last visit 12 responses have been valuated totaling in 19 grade  points. 
	You have collected 2846 contribution points this month for 524 valuations given and 
	27 contributed challenges.
	</p>
</div>
<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No exercises available at this moment.</span>
<?php } else { ?>

<?php foreach($list as $key => $value){ ?>
<div class="list">
			<a href=<?php echo 'course-details.html?id=' . $value[CourseService::ID];?>>
				<?php echo isset($value[CourseService::CAPTION]) ? $value[CourseService::CAPTION] : null;?>
			</a>
			<img alt="none avatar" src="<?php echo isset($value[CourseService::AVATAR]) ? $value[CourseService::AVATAR] : null;?>">
			<p>
			Rate:
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 0){ ?>
			<a href="">[0]</a> <?php }else{ ?> <a href="">0</a> <?php } } ?> 
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 1){ ?>
			<a href="">[1]</a> <?php }else{ ?> <a href="">1</a> <?php } } ?>
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 2){ ?>
			<a href="">[2]</a> <?php }else{ ?> <a href="">2</a> <?php } } ?>
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 3){ ?>
			<a href="">[3]</a> <?php }else{ ?> <a href="">3</a> <?php } } ?>
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 4){ ?>
			<a href="">[4]</a> <?php }else{ ?> <a href="">4</a> <?php } } ?>
			<?php if(isset($value[CourseService::RATE])){ if($value[CourseService::RATE] == 5){ ?>
			<a href="">[5]</a> <?php }else{ ?> <a href="">5</a> <?php } } ?>
			</p>
			<p><?php echo isset($value[CourseService::DESCRIPTION]) ? $value[CourseService::DESCRIPTION] : null;?></p>
			<a href=<?php echo 'course-details.html?id=' . $value[CourseService::ID];?>  class="buton">
			View
			</a>
</div>
<?php } }?>
