<div class="bodyBox">
	<h2>_i18n{Tradesman} _i18n{Navigation}</h2>
	<div class="viewMenu">
		<ul>
			<li><a href="/my-profile.html" title="_i18n{My Account}">My Account</a></li>
			<li><a href="/company-profile.html" title="_i18n{My Company Profile}">My Company Profile</a></li>
			<li class="itemActive"><a href="/my-mail.html" title="_i18n{My Mail Servers}">My Mail Servers</a></li>
			<li><a href="/my-order.html" title="_i18n{My Order}">My Order</a></li>
			<li><a href="/my-bargains.html" title="_i18n{My Bargains}">My Bargains</a></li>
			<li><a href="/my-job.html" title="_i18n{My Job}">My Job</a></li>
		</ul>
	</div>
</div>