body {margin:0; padding:0; text-align:center; font-family:"Lucida Sans", "Lucida Grande", sans-serif; font-size:12px; line-height:143%; background:#fff; color:#393939; position:relative}

h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, form {margin:0; padding:0; list-style:none}
img {border:none}
a {color:#393939; text-decoration:none}
a:hover {text-decoration:underline}
input, select, button, textarea {font-family:"Lucida Sans", "Lucida Grande"; font-size:12px; padding:0; margin:0; vertical-align:middle}
input.inpTxt {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:3px; width:182px}
select {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:2px 3px; width:200px}
textarea.areaTxt {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:3px}
input.inpChk {margin:5px 0 0 0; width:14px; height:14px; float:left}
	* html input.inpChk {margin:1px 0 0 0}
button::-moz-focus-inner {border:0; padding:0}
button, a.linkBtn {overflow:visible; background:none; border:none; padding:0 1px 1px 0; cursor:pointer; position:relative; float:left; text-decoration:none}
	button span, a.linkBtn span {float:left; padding:0 12px 0 0; background:url(../images/btnBg.gif) no-repeat right -26px; cursor:pointer; text-align:center; height:24px}
	button span strong, a.linkBtn span strong {color:#fff; float:left; cursor:pointer; white-space:nowrap; height:23px; line-height:23px; padding:1px 0 0 12px; background:url(../images/btnBg.gif) no-repeat left 0; font-size:1em}
	a.linkBtn:hover {color:#fff; text-decoration:none}

.feedbackLink {position:fixed; left:0; top:50%; z-index:500}
	.feedbackLink a {display:block; width:32px; height:114px; background:url(../images/feedbackBg.png) no-repeat 0 0; overflow:hidden; text-indent:99px; margin:-57px 0 0 0; position:relative}
/* fix for IE6 */
* html .feedbackLink {position:absolute}
	* html .feedbackLink a {background-image:url(../images/feedbackBg.gif)}

.wrapInner {width:970px; margin:0 auto; text-align:left; overflow:hidden}
/* banner style */
.wrapBanner {position:absolute; right:0; top:303px; width:100%; height:665px; visibility:hidden; overflow:hidden}
	.wrapBanner .wrapInner {position:absolute; left:50%; visibility:visible; width:auto; margin:0 0 0 538px}
/* header style */
.wrapHeader {height:175px}
	.wrapHeader .unitLogo {float:left; padding:25px 0 25px 10px}
	.wrapHeader .unitSlogan {float:right; width:680px; height:175px; background:url(../images/headerSloganBg.gif) no-repeat 0 20px}
	.wrapHeader .unitSlogan p {font-size:20px; font-weight:bold; line-height:normal; letter-spacing:1px; color:#9f0307; margin:95px 0 0 100px; background:#fff; padding:7px}
/* navigation style */
.wrapNav {background:url(../images/navBg.png) repeat-x 0 1px; position:relative; z-index:100}
	.wrapNav .wrapInner {padding:0 5px 0 40px; width:925px; overflow:auto; margin:0 auto -4px auto; position:relative; z-index:100}
.mainNav {float:left; overflow:hidden; height:37px}
	.mainNav li {float:left; font-size:14px; font-weight:bold; padding:1px 0 0 0; margin:0 0 0 -1px; position:relative; z-index:101}
	.mainNav li a {float:left; padding:7px 13px; background:url(../images/navItemBg.png) no-repeat 0 center; color:#fff; text-decoration:none}
	.mainNav li a:hover {background:#850208; text-decoration:none}
	.mainNav li.itemActive {padding:0; z-index:102}
	.mainNav li.itemActive a, .mainNav li.itemActive a:hover {padding:8px 13px 12px 13px; background:url(../images/navItemActiveBg.png) repeat-x 0 0; color:#c60404}
.userNav {float:right; color:#fff}
	.userNav li {float:left; padding:9px 0 0 15px}
	.userNav li a {color:#fff; text-decoration:underline}
	.userNav li a:hover {text-decoration:none}
/* footer style */
.wrapFooter {}
	.wrapFooter .wrapInner {border-top:1px solid #EDEDED}
	.wrapFooter dl {float:left; padding:10px 0 10px 25px}
	.wrapFooter dt {font-size:14px; font-weight:bold; color:#9f0307; padding:0 0 8px 0}
	.wrapFooter dd {}
.wrapBtmLine {border-top:7px solid #850208; height:20px}

/* corner style */
.angleB {background-image:url(../images/shadowBBg.png); background-repeat:no-repeat; height:12px; font-size:1px; line-height:1px; overflow:hidden}
	* html .angleB {background-image:url(../images/shadowBBg.gif)}
.angleT {background-image:url(../images/shadowTBg.png); background-repeat:no-repeat; height:9px; font-size:1px; line-height:1px; overflow:hidden}
	* html .angleT {background-image:url(../images/shadowTBg.gif)}
.bodyBox {background-image:url(../images/shadowBg.png); background-repeat:repeat-y; overflow:hidden; width:100%}
	* html .bodyBox {background-image:url(../images/shadowBg.gif)}

.stationContent {float:left; width:970px}
	.greyBox {background:#EFEFEF url(../images/greyBg.png) repeat-x 0 bottom; position:relative; z-index:1; padding:20px}
	.greyBox .itemFace {position:absolute; z-index:1; top:-98px; right:0}
	.greyBox .itemHand {position:absolute; z-index:1}
	.greyBox .lineHide {width:100%; overflow:hidden; height:1px}
/* title style */
.wrapTitle {float:left; width:970px; height:95px; position:relative; z-index:20}
	.viewTHead {float:left; width:730px; padding:30px 0 5px 20px; line-height:normal}
	.viewTHead h1 {font-size:22px}
	.viewTHead p {font-size:14px; padding:5px 0 0 0; font-weight:bold}
	
	.viewEHead {float:right; width:212px; padding:10px 0 0 0; text-align:right}
	.viewEHead p {font-size:14px; color:#9F0307; line-height:18px}
	.viewEHead p a {color:#9F0307; text-decoration:underline}
	.viewEHead ul {float:right; padding:15px 0 0 0}
	.viewEHead li {float:left; padding:0 0 0 2px}
	.viewEHead li a {display:block; float:left; text-indent:99px; overflow:hidden; width:22px; height:22px}
	.viewEHead li.itemMail a {background:url(../images/extraIcon.gif) no-repeat 0 -144px}
	.viewEHead li.itemFacebook a {background:url(../images/extraIcon.gif) no-repeat 0 0}
	.viewEHead li.itemTwitter a {background:url(../images/extraIcon.gif) no-repeat 0 -72px}

	
.stationTitle {float:left; width:970px; height:95px; position:relative; z-index:20}
	.stationTitle h1 {float:left; width:380px; padding:30px 0 5px 20px; line-height:normal; font-size:22px}
	.stationTitle h1 span {font-size:14px; display:block; padding:5px 0 0 0}
.viewExtra {float:right; width:212px; padding:10px 0 0 0; text-align:right}
	.viewExtra p {font-size:14px; color:#9F0307; line-height:18px}
	.viewExtra p a {color:#9F0307; text-decoration:underline}
	.viewExtra ul {float:right; padding:15px 0 0 0}
	.viewExtra li {float:left; padding:0 0 0 2px}
	.viewExtra li a {display:block; float:left; text-indent:99px; overflow:hidden; width:22px; height:22px}
	.viewExtra li.itemMail a {background:url(../images/extraIcon.gif) no-repeat 0 -144px}
	.viewExtra li.itemFacebook a {background:url(../images/extraIcon.gif) no-repeat 0 0}
	.viewExtra li.itemTwitter a {background:url(../images/extraIcon.gif) no-repeat 0 -72px}

	.wrapEqColumns .stationTitle {width:270px; margin:-95px 0 0 0}
	.wrapEqColumns .stationTitle h1 {width:auto}
/* side catalog style */
.viewSList {float:left; width:213px; margin:10px 0}
	.viewSList .angleT, .viewSList .angleB, .viewSList .bodyBox {background-position:0 0}
	.viewSList h2 {font-size:18px; line-height:normal; padding:5px 18px}
	.viewSList ul {padding:5px 18px}
	.viewSList li {border-top:1px solid #EDECEC; padding:7px 0}
	.viewSList li.itemFirst {border-top:none}
	.viewSList li a {text-decoration:none; display:block; height:1%}
	.viewSList li img {vertical-align:text-bottom; padding:0 3px 0 0}
/* box red border style */
.viewRBox {float:left; width:442px; margin:10px 0 0 0}
	.viewRBox .angleT, .viewRBox .angleB, .viewRBox .bodyBox {background-position:-213px 0}
	.viewRBox h2 {font-size:14px; font-weight:bold; color:#9F0307; padding:0 18px 5px 18px}
	.viewRBox .unitSearch {padding:5px 1px 0 14px; margin:0 4px; overflow:hidden; width:419px}
	.viewRBox .unitSearch p {float:left; width:205px; padding:0 0 5px 0}
	.viewRBox .unitSearch p.itemBtn {width:400px}
	.viewRBox .unitSearch p.itemBtn button {float:right}
	.viewRBox .unitSearch label {display:block; padding:5px 0 0 0}
	.viewRBox .unitSearch select {width:195px}
	
	.viewRBox .unitStep {margin:0 4px; padding:0 1px 0 14px}
	.viewRBox .unitStep ol {overflow:hidden; width:420px; padding:5px 0 0 0}
	.viewRBox .unitStep li {float:left; width:122px; padding:0 10px 5px 8px}
	.viewRBox .unitStep li span {display:block; color:#616161}
/* list style */
.viewTList {float:left; width:422px}
	.viewTList ul {float:left; width:193px; padding:10px 0 0 18px}
.viewEList {float:right; width:182px; padding:14px 0 0 0}
	.viewEList h3 {font-size:14px; font-weight:bold; color:#9F0307; padding:5px 5px 5px 0}
	.viewEList ul a {text-decoration:underline}
.viewDlist {float:right; width:185px}
	.viewDlist h3 {font-size:14px; font-weight:bold; color:#9F0307; padding:5px 5px 5px 12px}
	.viewDlist ul {padding:0 5px 0 12px}
	.viewDlist li {background:url(../images/listBullet.gif) no-repeat 0 5px; padding:0 0 0 10px}

.viewPlatform {float:left; width:442px; position:relative; padding:15px 0 0 0}
	.viewPlatform p {font-size:17px; font-weight:bold; padding:10px 30px 10px 135px; line-height:135%; position:relative; z-index:2}
	.viewPlatform p.itemSlide {padding:10px 20px 10px 20px; text-align:right}
	.viewPlatform .peopleTrunk {background:url(../images/platformBg.gif) no-repeat; width:151px; height:193px; position:absolute; bottom:0; left:0; z-index:1}
/* box */
.viewGBox {float:right; width:185px; margin:10px 0 0 0}
	.viewGBox .angleT, .viewGBox .angleB, .viewGBox .bodyBox {background-position:-654px 0}
	.viewGBox h3 {font-size:14px; padding:0 12px 5px 12px}
	.viewGBox .unitVideo {padding:0 12px 5px 12px}
	.viewGBox .itemVideo {border:2px solid #D1CFCF; background:#fff}

	.viewGBox .unitYellow {padding:0 12px}
	.viewGBox .unitYellow p {padding:2px 0 5px 0; overflow:hidden; width:161px}
	.viewGBox .unitYellow label {display:block}
	.viewGBox .unitYellow select {width:160px}
	.viewGBox .unitYellow button span {background-position:right -78px}
	.viewGBox .unitYellow button span strong {background-position:left -52px; color:#292929}
/* --------- menu admin --------- */
.viewBBox {float:left; width:185px; margin:10px 0 0 0}
	.viewBBox .angleT, .viewBBox .angleB, .viewBBox .bodyBox {background-position:-1815px 0}
	.viewBBox h2 {font-size:14px; font-weight:bold; color:#9F0307; padding:0 12px 5px 12px}
	/* list */
	.viewMenu {margin:0 4px}
	.viewMenu ul {border-top:1px dotted #ccc; padding:0 0 10px 0}
	.viewMenu li {border-bottom:1px dotted #ccc}
	.viewMenu li a {display:block; overflow:hidden; width:163px; padding:5px 7px 4px 7px; font-size:13px; font-weight:bold}
	.viewMenu li a:hover, .viewMenu li.itemActive a {background:#7B0108 url(../images/navBg.png) repeat-x 0 0; color:#fff; text-decoration:none}
	/* sub list */
	.viewMenu li ul {padding:0; border:none}
	.viewMenu li ul li {border-top:1px dotted #ccc; border-bottom:none}
	.viewMenu li ul li a, .viewMenu li.itemActive ul li a {font-size:12px; background:#fff; width:150px; padding:3px 7px 1px 20px; color:#393939; font-weight:normal}
	.viewMenu li ul li a:hover, .viewMenu li ul li.itemActive a {background:#E2E2E2; color:#393939}
/* --------- admin page --------- */
.viewWBox {float:left; width:699px; margin:10px 0 0 0}
	.viewWBox .angleT, .viewWBox .angleB, .viewWBox .bodyBox {background-position:-2000px 0}
	.viewWBox h2 {font-size:14px; font-weight:bold; color:#9F0307; padding:0 15px 5px 15px}
	.viewWBox h3 {font-size:14px; font-weight:bold; padding:8px 0 5px 0}
	/* single column */
	.unitSnColumn {float:left; width:676px; padding:0 4px 0 11px}
	/* two column */
	.viewWBox .unitEqColumn {float:left; width:325px; padding:0 4px 0 11px}
	.viewWBox .unitWBlock {width:691px; margin:0 4px 5px 4px; padding:5px 0; border-bottom:1px dotted #393939; overflow:hidden}
	.viewWBox .unitLast {border:none; margin:0 4px}
	/* info */
	.viewWBox .unitInfo {padding:0 11px 5px 11px}
		.viewWBox .unitInfo h3, .viewWBox .unitInfo p {padding:0 0 5px 0}
	/* warning */
	.viewWBox .itemWarning {border:1px solid #f00; background:#FFF2F2 url(../images/iconError.gif) no-repeat 6px 8px; color:#f00; margin:5px 14px; padding:6px 10px 4px 24px}
	.viewWBox .itemOk {border:1px solid #00A25B; background:#FFFED6 url(../images/iconOk.gif) no-repeat 4px 6px; color:#00A25B; margin:5px 14px; padding:6px 10px 4px 24px}
	.viewWBox .unitBtn {width:676px; float:left; padding:4px 0}
		.viewWBox .unitBtn button, .viewWBox .unitBtn a.linkBtn {float:right; margin:0 0 0 5px}
	/* foto */
	.viewWBox .itemFoto {width:170px; height:120px; /*background:url(../images/fotoBg.png) no-repeat 0 0; */float:left; margin:0 0 10px 0}
	.viewWBox .linkFoto {float:left; padding:50px 0 0 20px}
		.viewWBox .linkFoto a {color:#9F0307; text-decoration:underline}
	/* form */
	.viewWBox .itemForm {overflow:hidden; width:325px; padding:4px 0}
		.unitSnColumn .itemForm {width:671px}
	.viewWBox label {float:left; width:115px; text-align:right; padding:3px 0 0 0}
	.viewWBox .itemData {float:right; width:200px}
		.unitSnColumn .itemData {width:546px}
	.viewWBox input.inpTxt {width:192px}
		.unitSnColumn input.inpTxt {width:531px}
	.viewWBox textarea.areaTxt {width:192px; height:160px}
		.unitSnColumn textarea.areaTxt {width:531px; height:160px}
	/* virtual form */
	.viewWBox dt {float:left; width:115px; text-align:right; padding:3px 0 0 0}
	.viewWBox dd.itemData {float:right; width:192px; padding:3px 4px 2px 4px; color:#999}
		.unitSnColumn dd.itemData {width:546px; color:#000}
	.unitSnColumn .itemEq {width:325px; overflow:hidden; float:left}
			.unitSnColumn .itemEq dd.itemData {width:200px}
	/* table */
	.viewWBox table {width:671px; border-collapse:collapse; margin:0 10px 5px 10px}
	.viewWBox th {text-align:left; padding:3px 5px; border-bottom:1px dotted #999; border-right:1px dotted #999; border-top:1px dotted #999; font-size:13px; background:#7B0108 url(../images/navBg.png) repeat-x 0 0; color:#fff}
	.viewWBox td {text-align:left; padding:3px 5px; border-bottom:1px dotted #999; border-right:1px dotted #999; cursor:pointer}
	.viewWBox td.itemLast, .viewWBox th.itemLast {border-right-width:0}
	.viewWBox .unitOdd td {background:#EFEFEF}
	.viewWBox .unitNoRead {font-weight:bold}
	.viewWBox tr.unitNoMail td {border-right-width:0; cursor:auto}
	.viewWBox tr.unitHover td {background:#E2E2E2}
	.viewWBox th.itemChk {width:14px}
		.viewWBox td input.inpChk {margin:1px 0 0 0}
	
	/* icon mail */
	.viewIList {float:right; white-space:nowrap; padding:0 15px 0 0}
		.viewIList li {float:left; padding:1px 0 0 10px}
		.viewIList li a, .viewIList li button {float:left; line-height:normal; overflow:hidden; background-image:url(../images/mailIcon.gif); background-repeat:no-repeat; padding:1px 5px 1px 25px; font-weight:normal}
		.viewIList li a:hover {text-decoration:none}
		.viewIList li.itemReply a, .viewIList li.itemReply button {background-position:3px 0}
		.viewIList li.itemPrint a {background-position:3px -46px}
		.viewIList li.itemForward a, .viewIList li.itemForward button {background-position:3px -91px}
		.viewIList li.itemDelete a, .viewIList li.itemDelete button {background-position:3px -136px}
		.viewIList li.itemNew a {background-position:3px -182px}

.stationCarousel {float:left; width:970px; padding:10px 0; border-top:1px solid #850208}
	.stationCarousel .angleT, .stationCarousel .angleB, .stationCarousel .bodyBox {background-position:-842px 0}
	.stationCarousel .itemClip {margin:5px 17px; height:95px; width:936px; overflow:hidden; position:relative}
	.stationCarousel ul {width:1000em; position:absolute; left:0}
	.stationCarousel li {float:left; width:117px; font-size:16px; text-align:center; cursor:pointer}
	.stationCarousel li span, .stationCarousel li a {display:block}
	.stationCarousel li span.itemImg {width:117px; height:75px}


.wrapMain {float:left; width:692px}
	.wrapMain .greyBox {width:652px}
	.wrapMain .greyBox .itemFace {width:312px; height:98px; background:url(../images/contentImg07.jpg) no-repeat 0 0}
	.wrapMain .greyBox .itemHand {width:23px; height:28px; top:105px; right:-11px; background:url(../images/contentImg08.gif) no-repeat 0 0}
.wrapSide {float:right; width:213px}

/* login style */
.wrapLogin {float:left; width:970px}
	.wrapLogin .greyBox {padding:20px 264px 100px 264px; width:442px}
	.wrapLogin .unitForm {border-bottom:1px dotted #393939; margin:0 4px 5px 4px; padding:5px 1px 5px 14px}
		.wrapLogin .unitLast {border:none; margin:0 4px}
	.wrapLogin .itemForm {overflow:hidden; width:419px; padding:4px 0}
	.wrapLogin h3 {font-size:13px}
	.wrapLogin .itemForm form {padding:0}
	.wrapLogin .itemForm label {float:left; width:144px; text-align:right; padding:4px 0 0 0; position:relative}
	.wrapLogin .itemForm .itemReq {position:absolute; right:-8px; font-size:16px}
		.wrapLogin .itemData {float:right; width:265px}
		.wrapLogin .itemData label {text-align:left; display:table; height:1%; padding:4px 10px 0 4px; width:auto; float:none}
		.wrapLogin a {text-decoration:underline}
	.wrapLogin .itemBtn {width:344px; overflow:hidden; padding:3px 0}
	.wrapLogin .itemBtn a {float:right; margin:4px 15px 0 0}
	.wrapLogin .itemBtn button, .wrapLogin .itemBtn a.linkBtn {float:right; margin:0 0 0 5px; text-decoration:none}
	
	.wrapLogin .itemWarning {border:1px solid #f00; background:#FFF2F2 url(../images/iconError.gif) no-repeat 6px 8px; color:#f00; margin:5px 14px 5px 0; padding:6px 10px 4px 24px}
	.wrapLogin .itemOk {border:1px solid #00A25B; background:#FFFED6 url(../images/iconOk.gif) no-repeat 6px 8px; color:#00A25B; margin:5px 14px 5px 0; padding:6px 10px 4px 24px}
/* enterprice style */
.wrapEqColumns {float:left; width:482px}
	.wrapRight {float:right}
	.wrapEqColumns .greyBox {width:442px; padding:20px 20px 100px 20px}
	.wrapEqColumns .greyBox .itemFace {background:url(../images/headImg03.jpg) no-repeat 0 0; height:124px; width:251px}
	.wrapEqColumns .viewDlist {float:left; padding:14px 0 0 6px; width:230px}

.wrapLAdmin {float:left; width:225px}
	.wrapLAdmin .greyBox {width:185px}
.wrapRAdmin {float:right; width:739px}
	.wrapRAdmin .greyBox {width:699px}




.overlayPopup {background-color:#000}
.viewPopup {text-align:left;}
.viewPopup .viewHomeBox {margin:0}
.viewPopup a.itemClose {position:absolute; text-decoration:none; right:8px; top:6px; background:url(../images/closeIcon.gif) no-repeat 0 0; overflow:hidden; text-indent:99px; width:13px; height:13px}


