body {margin:0; padding:0; text-align:center; font-family:"Trebuchet MS", Arial, sans-serif; font-size:13px; line-height:143%; background:#fff; color:#393939; position:relative; min-width:970px}
h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, form {margin:0; padding:0; list-style:none}
img {border:none}
a {color:#393939; text-decoration:none}
a:hover {text-decoration:underline}

input, select, button, textarea {font-family:"Trebuchet MS", Arial, sans-serif; font-size:13px; padding:0; margin:0; vertical-align:middle}
input.inpTxt {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:2px 3px; width:182px}
select {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:1px 3px; width:200px}
textarea {border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969; padding:2px 3px}
input.inpChk {margin:5px 0 0 0; width:14px; height:14px; float:left}
	* html input.inpChk {margin:6px 0 0 0}
button::-moz-focus-inner {border:0; padding:0}
button, a.linkBtn {overflow:visible; background:none; border:none; padding:0 1px 1px 0; cursor:pointer; position:relative; float:left; text-decoration:none}
	button span, a.linkBtn span {float:left; padding:0 12px 0 0; background:url(../images/btnBg.gif) no-repeat right -26px; cursor:pointer; text-align:center; height:24px}
	button span strong, a.linkBtn span strong {color:#fff; float:left; cursor:pointer; white-space:nowrap; height:23px; line-height:21px; padding:1px 0 0 12px; background:url(../images/btnBg.gif) no-repeat left 0; font-size:13px}
	a.linkBtn:hover {color:#fff; text-decoration:none}
.hideElement {display:none}

/* ------------------ feedback style ------------------ */
.feedbackLink {position:fixed; left:0; top:50%; z-index:500}
	.feedbackLink a {display:block; width:32px; height:114px; background:url(../images/feedbackBg.png) no-repeat 0 0; overflow:hidden; text-indent:99px; margin:-57px 0 0 0; position:relative}
/* fix for IE6 */
* html .feedbackLink {position:absolute}
	* html .feedbackLink a {background-image:url(../images/feedbackBg.gif)}

.wrapInner {width:970px; margin:0 auto; text-align:left; overflow:hidden}
/* ------------------ banner style ------------------ */
.wrapBanner {position:absolute; right:0; top:303px; width:100%; height:665px; visibility:hidden; overflow:hidden}
	.wrapBanner .wrapInner {position:absolute; left:50%; visibility:visible; width:auto; margin:0 0 0 538px}
/* ------------------ header style ------------------ */
.wrapHeader {height:175px}
	.wrapHeader .unitLogo {float:left; padding:25px 0 25px 10px}
	.wrapHeader .unitSlogan {float:right; width:680px; height:175px; background:url(../images/headerSloganBg.gif) no-repeat 0 20px}
	.wrapHeader .unitSlogan p {font-size:20px; font-weight:bold; line-height:normal; letter-spacing:1px; color:#9f0307; margin:95px 0 0 100px; background:#fff; padding:7px}
/* ------------------ top navigation style ------------------ */
.wrapNav {background:url(../images/navBg.png) repeat-x 0 1px; position:relative; z-index:100}
	.wrapNav .wrapInner {padding:0 5px 0 40px; width:925px; overflow:auto; margin:0 auto -4px auto; position:relative; z-index:100}
.mainNav {float:left; overflow:hidden; height:37px}
	.mainNav li {float:left; font-size:15px; font-weight:bold; padding:1px 0 0 0; margin:0 0 0 -1px; position:relative; z-index:101}
	.mainNav li a {float:left; padding:6px 13px; background:url(../images/navItemBg.png) no-repeat 0 center; color:#fff; text-decoration:none}
	.mainNav li a:hover {background:#850208; text-decoration:none}
	.mainNav li.itemActive {padding:0; z-index:102}
	.mainNav li.itemActive a, .mainNav li.itemActive a:hover {padding:8px 13px 12px 13px; background:url(../images/navItemActiveBg.png) repeat-x 0 0; color:#c60404}
.userNav {float:right; color:#fff}
	.userNav li {float:left; padding:8px 0 0 15px}
	.userNav li a {color:#fff; text-decoration:underline}
	.userNav li a:hover {text-decoration:none}
/* ------------------ footer & line style ------------------ */
.wrapFooter {}
	.wrapFooter .wrapInner {border-top:1px solid #EDEDED}
	.wrapFooter dl {float:left; padding:10px 0 10px 25px}
	.wrapFooter dt {font-size:15px; font-weight:bold; color:#9f0307; padding:0 0 8px 0}
	.wrapFooter dd {}
.wrapBtmLine {border-top:7px solid #850208; height:20px}
/* ------------------ content wrap style ------------------ */
.stationContent {float:left; width:970px}
	.greyBox {background:#EFEFEF url(../images/greyBg.png) repeat-x 0 bottom; position:relative; z-index:1; padding:25px 15px 15px 15px}
	.greyBox .itemFace {position:absolute; z-index:1; top:-98px; right:0}
	.greyBox .itemHand {position:absolute; z-index:1}
	.greyBox .lineHide {width:100%; overflow:hidden; height:1px}

/* home wrap style */
.wrapMain {float:left; width:702px}
	.wrapMain .greyBox {width:662px}
	.wrapMain .greyBox .itemFace {width:312px; height:98px; background:url(../images/contentImg07.jpg) no-repeat 0 0}
	.wrapMain .greyBox .itemHand {width:23px; height:28px; top:95px; right:-11px; background:url(../images/contentImg08.gif) no-repeat 0 0}
.wrapSide {float:right; width:252px} /* width:213px */
	.wrapMain .viewBoxB {width:442px; float:left}
	.wrapMain .viewBoxC {width:195px; float:right}
/* enterprice wrap style */
.wrapEqColumns {float:left; width:472px}
	.wrapRight {float:right}
	.wrapEqColumns .greyBox {width:442px; padding:25px 15px 80px 15px}
	.wrapEqColumns .greyBox .itemFace {background:url(../images/headImg03.jpg) no-repeat 0 0; height:124px; width:251px}
	.wrapEqColumns .viewDlist {float:left; padding:8px 0 0 4px; width:230px}
	.wrapEqColumns .viewBoxC {width:195px; float:right}
/* login & registration wrap style */
.wrapLogin {float:left; width:970px}
	.wrapLogin .greyBox {width:940px; text-align:center}
	.wrapLogin .viewBox {margin:10px auto 0 auto}
/* admin wrap style */
.wrapLAdmin {float:left; width:215px}
	.wrapLAdmin .greyBox {width:185px}
.wrapRAdmin {float:right; width:729px}
	.wrapRAdmin .greyBox {width:699px}
/* search wrap style */
/*.wrapLSearch {float:right; width:235px}
	.wrapLSearch .greyBox {width:205px}*/
.wrapSSearch {float:right; width:252px}
.wrapLSearch {float:left; width:702px}
	.wrapLSearch .greyBox {width:662px}
.wrapWSearch {float:left; width:970px}
	.wrapWSearch .greyBox {width:940px}

/* ------------------ title wrap style ------------------ */
.wrapTitle {float:left; width:970px; height:95px; position:relative; z-index:20}
	.viewTHead {float:left; width:730px; padding:20px 0 5px 15px; line-height:normal}
	.viewTHead h1 {font-size:24px}
	.viewTHead p {font-size:15px; padding:5px 0 0 0; font-weight:bold}
	
	.viewEHead {float:right; width:212px; padding:10px 0 0 0; text-align:right}
	.viewEHead p {font-size:14px; color:#9F0307; line-height:18px}
	.viewEHead p a {color:#9F0307; text-decoration:underline}
	.viewEHead ul {float:right; padding:15px 0 0 0}
	.viewEHead li {float:left; padding:0 0 0 2px}
	.viewEHead li a {display:block; float:left; text-indent:99px; overflow:hidden; width:22px; height:22px}
	.viewEHead li.itemMail a {background:url(../images/extraIcon.gif) no-repeat 0 -144px}
	.viewEHead li.itemFacebook a {background:url(../images/extraIcon.gif) no-repeat 0 0}
	.viewEHead li.itemTwitter a {background:url(../images/extraIcon.gif) no-repeat 0 -72px}
	
	.viewTHeadEq {width:350px}
	.wrapEqColumns .wrapTitle {width:350px; margin:-95px 0 0 0}

/* ------------------ box style ------------------ */
.viewBox {margin:0 0 10px 0; position:relative} /* position:relative is need??? */
	.viewBox .bodyBox {background:#fff}
.cL {padding:0 0 0 4px; background:url(../images/boxE01.png) repeat-y left 0; position:relative; bo4rder:1px solid green}
.cR {padding:0 4px 0 0; background:url(../images/boxE01.png) repeat-y right 0}
.cT, .cT .cL, .cT .cR, .cB, .cB .cL, .cB .cR {position:relative; font-size:1px; line-height:1px; background:url(../images/boxE01.png); background-repeat:no-repeat; padding:0}
	.cT, .cB {margin:0 12px 0 12px; background-image:url(../images/boxE01v.png); background-repeat:repeat-x}
	.cT .cL, .cB .cL {float:left; margin:0 0 0 -12px; width:12px}
	.cT .cR, .cB .cR {float:right; margin:0 -12px 0 0; width:12px}
	.cT, .cT .cL, .cT .cR {height:9px}
	.cB, .cB .cL, .cB .cR {height:12px}
.cT {background-position:0 0}
	.cT .cL {background-position:-13px 0}
	.cT .cR {background-position:-25px 0}
.cB {background-position:0 -9px}
	.cB .cL {background-position:-13px -9px}
	.cB .cR {background-position:-25px -9px}
	
	.viewBox h2 {font-size:15px; color:#9F0307; padding:0 12px 5px 12px}
	.viewBox h3 {font-size:15px; padding:0 12px 5px 12px}

.viewBoxA .cL, .viewBoxA .cR {background-image:url(../images/boxE02.png)}
.viewBoxA .cT, .viewBoxA .cB {background-image:url(../images/boxE02v.png)}

.viewBoxB .cL, .viewBoxB .cR {background-image:url(../images/boxE03.png)}
.viewBoxB .cT, .viewBoxB .cB {background-image:url(../images/boxE03v.png)}

.viewBoxC .cL, .viewBoxC .cR {background-image:url(../images/boxE04.png)}
.viewBoxC .cT, .viewBoxC .cB {background-image:url(../images/boxE04v.png)}
.viewBoxC .bodyBox {background:#F5F5F3}

.wrapCarousel {overflow:hidden; width:970px; padding:10px 0 0 0; border-top:1px solid #850208}
	.wrapCarousel .itemClip {margin:0 13px; padding:5px 0; height:95px; width:936px; overflow:hidden; position:relative}
	.wrapCarousel ul {width:1000em; position:absolute; left:0}
	.wrapCarousel li {float:left; width:117px; font-size:16px; text-align:center; cursor:pointer}
	.wrapCarousel li span, .wrapCarousel li a {display:block}
	.wrapCarousel li span.itemImg {width:117px; height:75px}

/* side catalog style */
.viewSList {}
	.viewSList h2 {font-size:18px; line-height:normal; padding:5px 14px}
		.viewSList h2 a {color:#9F0307}
	.viewSList ul {padding:5px 14px}
	.viewSList li {border-top:1px solid #EDECEC; padding:7px 0}
	.viewSList li.itemFirst {border-top:none}
	.viewSList li a {text-decoration:none; display:block; height:1%}
	.viewSList li img {vertical-align:text-bottom; padding:0 3px 0 0}
/* search block style */
.unitSearch {overflow:hidden; width:420px; padding:5px 0 0 12px}
	.unitSearch p {float:left; width:205px; padding:0 0 5px 0}
	.unitSearch p.itemBtn {width:400px}
	.unitSearch p.itemBtn button {float:right}
	.unitSearch label {display:block; padding:5px 0 0 0}
	.unitSearch select {width:195px}
	
	.wrapSSearch .unitSearch {width:220px; padding:0 0 0 12px}
	.wrapSSearch .unitSearch p {width:220px; padding:2px 0 5px 0}
	.wrapSSearch .unitSearch select {width:218px}
	.wrapSSearch .unitSearch p.itemBtn button strong {float:left; width:195px}
/* step block style */
.unitStep {padding:0 1px 0 12px}
	.unitStep ol {overflow:hidden; width:420px; padding:5px 0 0 0}
	.unitStep li {float:left; width:122px; padding:0 10px 5px 8px}
	.unitStep li span {display:block; color:#616161}
	
	.wrapSSearch .unitStep ol {width:220px; padding:0}
	.wrapSSearch .unitStep li {width:220px; padding:10px 0; border-top:1px solid #CCC; margin:-1px 0 0 0; position:relative}
	.wrapSSearch .unitStep li span {width:110px; font-size:12px; float:left}
/* small video */
.unitVideo {padding:0 12px 5px 12px}
	.unitVideo .itemVideo {border:2px solid #D1CFCF; background:#fff}
/* small form */
.unitYellow {padding:0 12px}
	.unitYellow p {padding:2px 0 5px 0; overflow:hidden; width:161px}
	.unitYellow p.itemSmall {font-size:12px}
	.unitYellow label {display:block}
	.unitYellow select {width:160px}
	.unitYellow button span {background-position:right -78px}
	.unitYellow button span strong {background-position:left -52px; color:#292929}
	.unitYellow .inpEmpty {color:#ccc}
	
	.wrapSSearch .unitYellow p {width:220px}
	.wrapSSearch .unitYellow input {width:211px}
		
.viewPlatform {float:left; width:442px; position:relative; padding:5px 0 10px 0}
	.viewPlatform p {font-size:17px; font-weight:normal; padding:10px 30px 10px 135px; line-height:135%; position:relative; z-index:2}
	.viewPlatform p.itemSlide {padding:10px 20px 10px 20px; text-align:right}
	.viewPlatform .peopleTrunk {background:url(../images/platformBg.gif) no-repeat; width:151px; height:193px; position:absolute; bottom:10px; left:0; z-index:1}
/* list style */
.viewDlist {float:right; width:195px; padding:0 0 10px 0}
	.viewDlist h3 {font-size:15px; font-weight:bold; color:#9F0307; padding:0 5px 5px 12px}
	.viewDlist ul {padding:0 5px 0 12px}
	.viewDlist li {background:url(../images/listBullet.gif) no-repeat 0 7px; padding:0 0 0 10px}
.viewTList {float:left; width:422px}
	.viewTList ul {float:left; width:195px; padding:0 0 10px 16px}
.viewEList {float:right; width:182px; padding:8px 0 0 0}
	.viewEList h3 {font-size:15px; font-weight:bold; color:#9F0307; padding:0 5px 5px 0}
	.viewEList ul a {text-decoration:underline}

/* ------------------ admin left style ------------------ */
.viewMenu {}
	.viewMenu ul {border-top:1px dotted #ccc; padding:0 0 10px 0}
	.viewMenu li {border-bottom:1px dotted #ccc}
	.viewMenu li a {display:block; overflow:hidden; width:153px; padding:5px 10px 4px 14px; font-size:13px; font-weight:bold}
	.viewMenu li a:hover, .viewMenu li.itemActive a {background:#7B0108 url(../images/navBg.png) repeat-x 0 0; color:#fff; text-decoration:none}
	/* sub list */
	.viewMenu li ul {padding:0; border:none}
	.viewMenu li ul li {border-top:1px dotted #ccc; border-bottom:none}
	.viewMenu li ul li a, .viewMenu li.itemActive ul li a {font-size:12px; background:#fff; width:150px; padding:3px 7px 1px 20px; color:#393939; font-weight:normal}
	.viewMenu li ul li a:hover, .viewMenu li ul li.itemActive a {background:#E2E2E2; color:#393939}
.viewPackage {}
	.viewPackage p {padding:0 11px 5px 11px}
	.viewPackage p span.itemCurrent {font-size:14px; font-weight:bold; color:#9F0307}
	.viewPackage select {width:50px; vertical-align:middle}
	.viewPackage button {float:none; vertical-align:middle; margin:0 0 0 5px}
/* ------------------ admin content style ------------------ */
.unitABlock {width:691px; margin:0 0 5px 0; padding:5px 0; border-bottom:1px dotted #393939; overflow:hidden}
	.unitABlockLast {margin:0; border:none}
	.unitABlock .unitEqColumn {float:left; width:325px; padding:0 4px 0 11px}
	.unitABlock .unitSnColumn {float:left; width:676px; padding:0 4px 0 11px}
	.unitABlock h3 {font-size:14px; padding:5px 0 8px}
	
	.unitABlock .itemWarning {border:1px solid #f00; background:#FFF2F2 url(../images/iconError.gif) no-repeat 8px 7px; color:#f00; margin:0 14px 5px 14px; padding:6px 10px 6px 30px}
		.unitABlock .itemWarning a {color:#9F0307; text-decoration:underline}
		.unitABlock .itemWarning a:hover {text-decoration:none}
	.unitABlock .itemOk {border:1px solid #00A25B; background:#FFFED6 url(../images/iconOk.gif) no-repeat 8px 8px; color:#00A25B; margin:0 14px 5px 14px; padding:6px 10px 6px 30px}
	
	/* button style */
	.unitABlock .unitBtn {width:678px; float:left; padding:4px 0}
		.unitABlock .unitBtn button, .unitABlock .unitBtn a.linkBtn {float:right; margin:0 0 0 5px}
	/* form element two column */
	.unitABlock .itemForm {overflow:hidden; width:325px; padding:4px 0}
	.unitABlock label {float:left; width:115px; text-align:right; padding:3px 0 0 0; position:relative}
	.unitABlock .itemData {float:right; width:200px}
	.unitABlock .itemData label {text-align:left; display:table; height:1%; padding:2px 10px 0 4px; width:auto; float:none}
	.unitABlock input.inpTxt {width:192px}
	.unitABlock .itemReq {position:absolute; right:-8px; font-size:16px; color:#f00}
	
	.unitABlock dt {float:left; width:115px; text-align:right; padding:3px 0 0 0}
	.unitABlock dd.itemData {float:right; width:192px; padding:3px 4px 2px 4px; color:#999}
	
	.unitABlock .unitInfo {padding:0 12px 5px 12px}
	.unitABlock .unitInfo textarea.areaTxt {width:656px}
	
	.unitABlock label.labelDate {float:left; padding:3px 5px 0 0; width:auto}
	.unitABlock input.inpDate {border-color:#696969 #C8C8C8 #C8C8C8 #696969; border-style:solid; border-width:1px; padding:2px 3px; margin:0 5px 0 0; width:120px; float:left}
	.unitABlock .chooseDate {background:url(../images/actionIcon.gif) no-repeat 0 -407px; width:16px; height:16px; overflow:hidden; float:left; text-indent:-200px; margin:5px 20px 0 0}
	
	.unitABlock .unitSnColumn .itemForm {width:671px}
	.unitABlock .unitSnColumn .itemData {width:546px}
	.unitABlock .unitSnColumn input.inpTxt {width:532px}
	.unitABlock .unitSnColumn textarea.areaTxt {width:532px; height:300px}
	.unitABlock .unitSnColumn dd.itemData {width:538px}
	
	.unitABlock .inpFile {position:relative; overflow:hidden; float:left; margin:0 5px 0 0}
	.unitABlock .inpFile .txtBg {width:150px; overflow:hidden; height:18px; padding:2px 3px; margin:0 5px 0 0; float:left; border:1px solid; border-color:#696969 #C8C8C8 #C8C8C8 #696969}
	.unitABlock .inpFile button span {background-position:right -78px}
	.unitABlock .inpFile button span strong {background-position:left -52px; color:#292929}
/* list user */
.viewUList {overflow:hidden; width:671px; line-height:14px; padding:0 0 10px 0}
	.viewUList li {float:left; padding:0 11px 0 10px; border-left:1px solid #999; margin:0 0 0 -1px; position:relative}
	.viewUList li a.itemActive {font-weight:bold}
/* rtf out */
.unitABlock .unitRtf {}
	.unitABlock .unitRtf ol {padding:0 0 0 20px}
	.unitABlock .unitRtf ol li {list-style:decimal}
	.unitABlock .unitRtf ul li {background:url(../images/listBullet.gif) no-repeat 2px 6px; padding:0 0 0 20px}
	.unitABlock .unitRtf a {text-decoration:underline}
/* table list style */
.viewList {width:667px; border-collapse:collapse; margin:0 12px 5px 12px}
	.viewList th {text-align:left; padding:3px 5px; border-bottom:1px dotted #999; border-right:1px dotted #999; border-top:1px dotted #999; background:#7B0108 url(../images/navBg.png) repeat-x 0 0; color:#fff}
	.viewList td {text-align:left; padding:3px 5px; border-bottom:1px dotted #999; border-right:1px dotted #999}
	.viewList td.itemLast, .viewList th.itemLast {border-right-width:0}
	.viewList .unitData {cursor:pointer}
	.viewList .unitOdd td {background:#EFEFEF}
	.viewList .unitNoRead {font-weight:bold}
	.viewList tr.unitNoData td {border-right-width:0}
	.viewList tr.unitChecked td {background:#FFFFCC}
	.viewList tr.unitHover td {background:#E2E2E2}
	.viewList th.itemChk {width:14px}
		.viewList td input.inpChk {margin:1px 0 0 0}
/* table plan style */
.viewPlan {width:667px; border-collapse:collapse; margin:0 12px 5px 12px}
	.viewPlan th {font-size:11px; color:#393939; font-weight:normal; border:1px dotted #999; padding:3px 5px}
	.viewPlan td {border:1px dotted #999; text-align:center; cursor:pointer; padding:3px 5px}
	.viewPlan td.itemStar {width:100px; vertical-align:top}
	.viewPlan td.itemChecked {background-color:#FFFFCC}
	.viewPlan h4 {font-weight:bold; font-size:12px; text-transform:uppercase}
	.viewPlan p {padding:0 0 5px 0}
	.viewPlan .itemInfo {font-size:11px}
	.viewPlan .itemInfo strong {display:block; font-size:12px; font-weight:normal}
	.viewPlan .itemInStar {padding:65px 0 0 0; background-image:url(../images/planIcon.gif); background-repeat:no-repeat; overflow:hidden; position:relative}
	.viewPlan .itemOne {background-position:-5px 7px}
	.viewPlan .itemTwo {background-position:-116px 7px}
	.viewPlan .itemThree {background-position:-227px 7px}
	.viewPlan .itemFour {background-position:-338px 7px}
	.viewPlan .itemFive {background-position:-449px 7px}
	
	.viewPlan input {position:absolute; bottom:-40px}
/* notification */
.unitNt {width:671px; padding:0 9px 5px 11px; overflow:hidden}
	.unitNt .innerP {width:671px; background:#EFEFEF; overflow:hidden; padding:3px 0}
	.unitNt .itemForm {width:236px; float:left}
	.unitNt .itemFirst {width:191px}
	.unitNt label {width:105px}
	.unitNt .itemFirst label {width:60px}
	.unitNt .itemData {width:126px}
	.unitNt select {width:126px}
	.unitNt .linkDelete {float:right; background:#EFEFEF; padding:2px 5px 4px 5px}
	.unitNt .linkDelete a {float:left; line-height:14px; overflow:hidden; background:url(../images/actionIcon.gif) 3px -136px no-repeat; padding:1px 5px 1px 25px; font-weight:normal}

	.unitNtHide {display:none}
	.unitNtEmpty {padding:0 9px 5px 11px}
	.unitNtEmpty p {padding:5px; background:#EFEFEF}

.viewNtList {width:676px; padding:5px 4px 0 11px; overflow:hidden}
	.viewNtList dt {float:none; width:671px; overflow:hidden; padding:0; text-align:left; line-height:14px}
	.viewNtList dd {float:none; width:671px; overflow:hidden}
	.viewNtList dd li {float:left; width:162px; padding:2px 0 2px 5px}
	.viewNtList dd li label {text-align:left; padding:2px 10px 0 4px; width:auto}
	
	.viewNtList dt span {float:left; padding:4px 0 4px 5px; font-weight:bold}
	.viewNtList dt ul {float:right; overflow:hidden; padding:4px 0; position:relative}
	.viewNtList dt li {float:left; padding:0 10px; position:relative; border-right:1px solid #393939; margin:0 -1px 0 0}
	.viewNtList dt a {color:#9F0307; text-decoration:underline}
	.viewNtList dt a:hover {text-decoration:none}
/* date popup */
.dPopup {position:absolute; z-index:199; background:#ccc; padding:2px; width:171px}
	.dPopup a {color:#000; text-decoration:none; padding:3px 2px 0}
	.dPopup h4 {font-size:12px; text-align:center; margin:0; padding:2px 0}
	.dPopup table {background:#EFEFEF; border-collapse:collapse}
	.dPopup th {border:1px dotted #999;	background:#333; color:#fff; font-weight:bold; padding:2px 0 1px 0; width:25px}
	.dPopup td {border:1px dotted #999; background:#fff; color:#393939; padding:2px 0 1px 0; width:25px; text-align:center; cursor:pointer}
	.dPopup td.otherMonth {background:#ddd; color:#aaa}
	.dPopup td.currentDay {background:#f66; color:#fff}
	.dPopup td.selectedDay {background:#850208; color:#fff}
	.dPopup td.dHover, .dPopup tr.activeWeekHover td {background:#ccc; color:#000}
	.dPopup td.disabledDay, dPopup td.disabledDay.dHover {background:#F0F0F0; color:#888; cursor:default}
	.dPopup td.unselectable, .dPopup td.unselectable:hover, .dPopup td.unselectable.dHover {background:#F0F0F0; color:#888}
	.dPopup .dNavPrev {position:absolute; top:2px; left:7px; width:100px; font-size:15px}
	.dPopup .dNavPrev a {float:left; padding:0; margin:0 5px 0 0}
	.dPopup .dNavNext {position:absolute; top:2px; right:7px; width:100px; font-size:15px}
	.dPopup .dNavNext a {float:right; padding:0; margin:0 0 0 5px}
	.dPopup a.disabledDay {cursor:default; color:#aaa}
	.dPopup .dNavPrev a, .dPopup div.dNavNext a {cursor:pointer}
		.dPopup .dNavPrev a.disabledDay, .dPopup .dNavNext a.disabledDay {cursor:default}
/* icon action */
.viewIList {float:right; white-space:nowrap; padding:1px 15px 0 0}
	.viewIList li {float:left; padding:1px 0 0 10px; background-image:url(../images/actionIcon.gif); background-repeat:no-repeat}
	.viewIList li a, .viewIList li button {float:left; line-height:14px; padding:1px 5px 1px 25px; font-weight:normal}
	.viewIList li a:hover {text-decoration:none}
	.viewIList li.itemReply {background-position:13px 1px}
	.viewIList li.itemPrint a {background-position:3px -45px}
	.viewIList li.itemForward {background-position:13px -90px}
	.viewIList li.itemDelete {background-position:13px -135px}
	.viewIList li.itemNew {background-position:13px -181px}
	.viewIList li.itemNewC {background-position:13px -225px}
	.viewIList li.itemNewSC {background-position:13px -270px}
	.viewIList li.itemNewB {background-position:13px -316px}
/*	.viewIList li.itemArhiv a, .viewIList li.itemArhiv button {background-position:3px -363px}*/

/* ------------------ login style ------------------ */
.viewBoxL {width:400px; text-align:left}
	.viewBoxL .unitABlock {width:392px}
	.viewBoxL .unitABlock .unitBtn {width:335px}
	.viewBoxL .unitBtn a {float:right; margin:3px 15px 0 0; text-decoration:underline}
.viewBoxR {width:699px; text-align:left}
/* ------------------ search style ------------------ */
.viewFilter {overflow:hidden;}
	.viewFilter dl {border-top:1px dotted #393939; padding:5px 12px; margin:-1px 0 0 0}
	.viewFilter dt {font-weight:bold; padding:0 0 8px 0}
	.viewFilter dd {padding:0 0 10px 0; overflow:hidden; width:153px}
	.viewFilter dd select {width:151px}
	.viewFilter dd label {display:block; padding:5px 0}
	.viewFilter .unitPrice dd label {float:left; padding:3px 5px 3px 0; width:62px}
	.viewFilter input.inpTxt {width:75px}
.unitBSearch {padding:5px 12px 10px 12px}
	.unitBSearch p {overflow:hidden; width:630px; padding:0 0 5px 0}
	.unitBSearch input.inpTxt {width:548px; float:left; margin:0 5px 0 0}
	.unitBSearch p.itemFilter {padding:0}
	.unitBSearch p.itemFilter span {float:left; padding:4px 5px 2px}
	.unitBSearch p.itemFilter span a {background:url(../images/actionIcon.gif) no-repeat 1px -534px; float:left; font-weight:normal; line-height:14px; overflow:hidden; padding:1px 5px 1px 20px}
	.unitBSearch p.itemFilter span.itemFilterOpen {background:#EFEFEF}
	.unitBSearch p.itemFilter span.itemFilterOpen a {background:url(../images/actionIcon.gif) no-repeat 1px -493px}
	
	.unitFilter {background:#EFEFEF; overflow:hidden; width:630px}
	.unitFilter dl {padding:0 12px; width:606px; float:left; position:relative; margin:-1px 0 0 0}
	.unitFilter dt {font-weight:bold; width:90px; padding:11px 0 8px 10px; float:left; border-top:1px dotted #393939}
	.unitFilter dd {padding:8px 0 8px 0; float:right; width:506px; border-top:1px dotted #393939}
	.unitFilter dd label {float:left; padding:3px 10px 3px 0; width:90px; text-align:right}
	.unitFilter select {width:150px; float:left}
	.unitFilter input.inpTxt {width:75px; margin:0 67px 0 0}
	
.viewLSearch {padding:0 12px; overflow:hidden}
.unitLSearch {padding:10px 0; border-top:1px solid #ccc; overflow:hidden; width:630px; position:relative; margin:-1px 0 0 0}
	.unitLSearch .itemImg {float:left; padding:0 12px 0 0}
		.unitLSearch .itemImg img {width:100px; vertival-align:top}
	.unitLSearch .itemText {float:right; width:518px}
	.unitLSearch .itemPrice {position:absolute; right:5px; top:10px; font-size:17px; color:#9F0206}
	.unitLSearch .itemQuote {position:absolute; right:0; top:8px}
	.unitLSearch .itemQuote button span {background-position:right -78px}
	.unitLSearch .itemQuote button span strong {background-position:left -52px; color:#292929}
	.unitLSearch h3 {padding:0 100px 5px 0}
	.unitLSearch p {padding:0 0 5px 0}
	.unitLSearch button {float:right; marg3in:10px 0 0 0}
	.unitLSearch .unitEqColumns {float:left; width:231px; padding:15px 0 0 0}
	.unitLSearch .unitEqColumns dl {overflow:hidden; width:231px; font-size:12px; line-height:normal; padding:1px 0}
	.unitLSearch .unitEqColumns dt {width:85px; float:left; font-weight:bold}
	.unitLSearch .unitEqColumns dd {width:136px; float:right}
	.unitLSearch .unitEqColumns dd p {padding:5px 0}
	
	.unitLSearch .unitEqColumns .unitRating dl {width:126px}
	.unitLSearch .unitEqColumns .unitRating dt {width:126px; font-weight:normal; text-align:left}
	.unitLSearch .unitEqColumns .unitRating dd {width:75px}

.unitPagination {background:#EFEFEF; width:654px; overflow:hidden; padding:5px 0}
.unitTPagination {border-top:1px dotted #393939}
.unitBPagination {border-bottom:1px dotted #393939}
	.unitPagination p {float:left; padding:0 0 0 12px; font-size:14px; color:#9F0106}
	.unitPagination p span {font-weight:bold}
	.unitPagination ul {float:right; padding:0 12px 0 0}
	.unitPagination li {float:left; padding:0 0 0 3px; line-height:14px}
	.unitPagination li a {float:left; padding:1px 4px 2px 4px; border:1px solid #393939; background:#E1E1E1}
	.unitPagination li a:hover {border:1px solid #9F0307; color:#9F0307; background:#fff; text-decoration:none}
	.unitPagination li span {float:left; padding:1px 4px 2px 4px; border:1px solid #9F0307; color:#9F0307; font-weight:bold; background:#fff}
	.unitPagination .itemPage {float:left; padding:0 0 0 10px; margin:-1px 0 -2px 0; position:relative}
	.unitPagination label {float:left; padding:1px 5px 0 0}
	.unitPagination select {float:left; font-size:11px; width:50px}
	
	.viewDComment .unitPagination {border:none; width:910px}
	.viewDComment .unitPagination p {font-size:13px}

.unitDBlock {overflow:hidden; padding:5px 0; width:932px}
.unitDLeft {float:left; width:263px; padding:0 0 0 12px}
	.unitDLeft .unitImg {background:#EFEFEF; padding:5px 5px 5px 10px; position:relative}
	.unitDLeft .unitFake {background:#EFEFEF; left:10px; top:5px; width:243px; height:243px; position:absolute; z-index: 10}
	.unitDLeft .unitSingle {height:243px; overflow:hidden}
	.unitDLeft ul {overflow:hidden; width:248px; padding:5px 0 0 0}
	.unitDLeft li {float:left; padding:0 5px 0 0}
	.unitDLeft li a {float:left; overflow:hidden; position:relative} 
	.unitDLeft li.itemActive a {border:2px solid #9F0307}
	.unitDLeft li img {width:57px; vertical-align:top}
	.unitDLeft li.itemActive img {margin:-2px; position:relative}
	
	.unitDLeft .unitSingle {height:243px}
	.unitDLeft .unitSingle img {width:243px; vertical-align:top}
	
.unitDRight {float:right; width:630px; padding:0 12px 0 0}
	.unitDRight dl {width:630px; overflow:hidden; padding:3px 0}
	.unitDRight dt {float:left; width:90px; font-weight:bold; padding:1px 0 1px 10px}
	.unitDRight dd {float:right; width:510px; padding:1px 10px 1px 0}
	.unitDRight dd.itemPrice {font-size:15px; font-weight:bold; color:#9F0307; margin:-1px 0 0 0}
	.unitDRight .unitEqColumns {float:left; width:315px; padding:4px 0}
	.unitDRight .unitEqColumns dl {width:315px}
	.unitDRight .unitEqColumns dd {width:195px}
		/*.unitDRight .unitEqColumns dd p {padding:3px 0 0 0}*/
	/*.unitDRight .unitEqColumns dl.itemSmall {padding:1px 0; font-size:12px; line-height:normal}*/
	.unitDRight .unitEqDesc {float:right; width:305px; padding:4px 0 4px 10px}
	.unitDRight .unitEqDesc dl {width:305px}
	.unitDRight .unitEqDesc dt, .unitDRight .unitEqDesc dd {width:295px; padding:1px 0 1px 10px}
	
	.unitDRight .unitLine {border-bottom:1px dotted #ccc; height:0; line-height:1px; font-size:1px; overflow:hidden; width:630px}
	.unitDRight .itemWarning {border:1px solid #f00; background:#FFF2F2 url(../images/iconError.gif) no-repeat 8px 7px; color:#f00; margin:0 0 5px 0; padding:6px 10px 6px 30px}
		.unitDRight .itemWarning a {color:#9F0307; text-decoration:underline}
		.unitDRight .itemWarning a:hover {text-decoration:none}
	.unitDRight .itemOk {border:1px solid #00A25B; background:#FFFED6 url(../images/iconOk.gif) no-repeat 8px 8px; color:#00A25B; margin:0 0 5px 0; padding:6px 10px 6px 30px}
	
	.unitDRight .unitCompany {width:630px; overflow:hidden; padding:4px 0}
	
	.unitDRight .unitOrder {background:#EFEFEF; width:630px; overflow:hidden; padding:4px 0}
	.unitDRight .unitOrder p {padding:4px 10px 4px 0; float:right; clear:both}
	.unitDRight .unitOrder p input {width:100px; float:left; margin:0 5px 0 0}
	.unitDRight p.itemHistory {padding:1px 10px 1px 0; text-align:right}
	.unitDRight p.itemHistory a {font-size:12px; color:#9F0307; text-decoration:underline}
	.unitDRight p.itemHistory a:hover {text-decoration:none}

	.unitDRight .unitHistory {width:630px; overflow:hidden; padding:4px 0}
	.unitDRight .unitHistory table {width:630px; border-collapse:collapse}
	.unitDRight .unitHistory th {background:url(../images/navBg.png) repeat-x 0 0 #7B0108; border-bottom:1px dotted #999; border-right:1px dotted #999; border-top:1px dotted #999; color:#fff; padding:3px 5px; text-align:left}
	.unitDRight .unitHistory td {border-bottom:1px dotted #999; border-right:1px dotted #999; padding:3px 5px}
	.unitDRight .unitHistory td.itemLast, .unitDRight .unitHistory th.itemLast {border-right-width:0}
	
	.tabsHead {overflow:hidden; width:934px; padding:5px 0 0 0; background:url(../images/tabsLineBg.gif) repeat-x left bottom}
	.tabsHead ul {padding:0 12px; position:relative; margin:0 0 -1px 0}
	.tabsHead li {float:left; padding:0 5px 0 0}
	.tabsHead li a {float:left; background:url(../images/tabsBg.gif) no-repeat right -99px; padding:0 5px 0 0; outline:none}
	.tabsHead li a span {float:left; padding:7px 7px 6px 12px; font-weight:bold; color:#fff; line-height:14px; background:url(../images/tabsBg.gif) no-repeat left -66px}
	.tabsHead li.itemActive a {background:url(../images/tabsBg.gif) no-repeat right -33px}
	.tabsHead li.itemActive a span {padding:7px 7px 7px 12px; color:#393939; background:url(../images/tabsBg.gif) no-repeat left 0}
	.tabsHead li a:hover {text-decoration:none}
	
	.tabsContent {overflow:hidden; width:934px; position:relative}
	.tabsHide {width:1px; height:1px; overflow:hidden; position:absolute; top:-10px; left:-10px}
	.tabsLoading {position:absolute; top:50%; left:50%; width:32px; height:32px; margin-top:-16px; margin-left:-16px; cursor:pointer; overflow:hidden; z-index:1104; display:none}
		.tabsLoading div {position:absolute; top:0; left:0; width:32px; height:480px; background-image:url(../images/preloadBg.gif)}
	
	.viewDComment {padding:10px 12px 5px 12px}
	.unitDComment {overflow:hidden; width:910px; background:#EFEFEF; margin:0 0 1px 0}
	.viewDComment .unitOdd {background:#F8F8F8}
		.unitDComment .itemTitle {overflow:hidden; width:910px; border-bottom:1px solid #999999; padding:5px 0}
		.unitDComment h4 {font-size:13px; padding:0 0 0 10px; float:left}
		.unitDComment p {padding:3px 0 0 0}
		.unitDComment .itemDate {padding:0 10px 0 0; float:right}
		.unitDComment .itemText {float:left; width:500px; padding:5px 0 10px 10px}
		.unitDComment .itemRating {padding:5px 10px 10px 0; float:right; font-size:12px}
	.unitABlock .viewDComment {padding:0 12px 5px 12px}
	.unitABlock .unitDComment, .unitABlock .unitDComment .itemTitle {width:667px}
	.unitABlock .unitDComment .itemText {width:450px}
	.viewDProfile {padding:10px 12px 5px 12px}

/* rating style */
.unitRating {}
	.simpleRating {}
		.simpleRating ul, .simpleRating ul a:hover, .simpleRating ul li.itemCurrent, .simpleRating ul li a.itemSelect {background-image:url(../images/ratingIcon.gif)}
		.simpleRating ul {width:105px; height:20px; background-position:0 -30px; overflow:hidden; position:relative}
		.simpleRating ul li {display:inline}
		.simpleRating ul a, .simpleRating ul li.itemCurrent {position:absolute; top:0; left:0; text-indent:-900px; height:20px; line-height:20px; outline:none; overflow:hidden; border:none; font-size:20px}
		.simpleRating ul li.itemCurrent {background-position:0 0}
		.simpleRating ul a:hover {background-position:0 -60px}
		.simpleRating ul li.itemOne a {width:20%; z-index:6}
		.simpleRating ul li.itemTwo a {width:40%; z-index:5}
		.simpleRating ul li.itemThree a {width:60%; z-index:4}
		.simpleRating ul li.itemFour a {width:80%; z-index:3}
		.simpleRating ul li.itemFive a {width:100%; z-index:2}
		.simpleRating ul li a.itemSelect {background-position:0 -60px}
		.simpleRating p {padding:3px 0 0 0}
	.extendRating {display:none}
		.extendRating dl, .unitDRight .extendRating dl {overflow:hidden; width:195px; padding:2px 0 0 0}
		.extendRating dt {padding:0; float:left; width:115px; font-size:12px; font-weight:normal; text-align:right}
		.extendRating dd, .unitDRight .extendRating dd {width:75px; height:15px; float:right; padding:2px 0 0 0; background:url(../images/ratingSIcon.gif) repeat-x 0 -18px}
		.extendRating dd span {display:block; height:15px; background:url(../images/ratingSIcon.gif) repeat-x 0 0}
		.extendRating p {text-align:right; padding:0}
		.simpleRating p a, .extendRating p a {font-size:11px; color:#9F0307; text-decoration:underline}
		.simpleRating p a:hover .extendRating p a:hover {text-decoration:none}
/*
.unitRating, .unitRating a:hover, .unitRating li.itemCurrent, .unitRating li a.itemSelect {background-image:url(../images/ratingIcon.gif)}
	.unitRating {width:105px; height:20px; background-position:0 -30px; overflow:hidden; position:relative}
	.unitRating li {display:inline}
	.unitRating a, .unitRating li.itemCurrent {position:absolute; top:0; left:0; text-indent:-900px; height:20px; line-height:20px; outline:none; overflow:hidden; border:none; font-size:20px}
	.unitRating li.itemCurrent {background-position:0 0}
	.unitRating a:hover {background-position:0 -60px}
	.unitRating li.itemOne a {width:20%; z-index:6}
	.unitRating li.itemTwo a {width:40%; z-index:5}
	.unitRating li.itemThree a {width:60%; z-index:4}
	.unitRating li.itemFour a {width:80%; z-index:3}
	.unitRating li.itemFive a {width:100%; z-index:2}
	.unitRating li a.itemSelect {background-position:0 -60px}*/
/* light box style */
#overlayLightBox {position:absolute; top:0; left:0; width:100%; z-index:1100; display:none}
#tmpLightBox {padding:0; margin:0; border:0; overflow:auto; display:none}
#frameLightBox {position:absolute; top:0; left:0; width:100%; height:100%; background:transparent; z-index:1101}
#frameInnerLightBox {width:100%; height:100%; border:none; display:block}
#imgLightBox {width:100%; height:100%; padding:0; margin:0; border:none; outline:none; line-height:0; vertical-align:top}
.loadingLightBox {position:fixed; top:50%; left:50%; width:32px; height:32px; margin-top:-16px; margin-left:-16px; cursor:pointer; overflow:hidden; z-index:1104; display:none}
	.loadingLightBox div {position:absolute; top:0; left:0; width:32px; height:480px; background-image:url(../images/preloadBg.gif)}
.wrapLightBox {position:absolute; top:0; left:0; padding:12px; z-index:1101; outline:none; display:none}
	.wrapLightBox .viewOuter {position:relative; width:100%; height:100%; background:#fff}
	.wrapLightBox .viewLightBox {width:0; height:0; padding:0; outline:none; position:relative; overflow:hidden; z-index:1102; border:0px solid #fff}
.wrapLightBox .unitTitle {z-index:1102}
.wrapLightBox .itemClose {position:absolute; top:-2px; right:-1px; width:12px; height:12px; background:url(../images/closeIcon.gif) 0 0; cursor:pointer; z-index:1103; display:none}

.wrapLightBox .lBg {position:absolute; padding:0; margin:0; border:0; width:12px; height:12px; z-index:1001}
	.wrapLightBox .lBgT {top:-12px; left:0; width:100%; background:url(../images/boxE02v.png) repeat-x 0 2px}
	.wrapLightBox .lBgR {top:0; right:-12px; height:100%; background:url(../images/boxE02.png) repeat-y right 0}
	.wrapLightBox .lBgB {bottom:-12px; left:0; width:100%; background:url(../images/boxE02v.png) repeat-x 0 -9px}
	.wrapLightBox .lBgL {top:0; left:-12px; height:100%; background:url(../images/boxE02.png) repeat-y left 0}
	
	.wrapLightBox .lBgTR {top:-12px; right:-12px; background:url(../images/boxE02.png) no-repeat -25px 2px}
	.wrapLightBox .lBgBR {bottom:-12px; right:-12px; background:url(../images/boxE02.png) no-repeat -25px -9px}
	.wrapLightBox .lBgBL {bottom:-12px; left:-12px; background:url(../images/boxE02.png) no-repeat -13px -9px}
	.wrapLightBox .lBgTL {top:-12px; left:-12px; background:url(../images/boxE02.png) no-repeat -13px 2px}
	
.viewLight {text-align:left}/*-40 - 40 */
	.viewLight h2 {font-size:15px; color:#9F0307; padding:0 4px 5px 4px}
	.viewLight .unitABlock {width:598px}
	.viewLight .unitABlock .unitSnColumn {padding:0 0 0 4px}
	.viewLight .unitABlock .itemForm, .viewLight .unitABlock .unitBtn {width:596px}
	.viewLight .unitABlock .itemForm label {width:100px}
	.viewLight .unitABlock .unitSnColumn textarea.areaTxt, .viewLight .unitABlock .unitSnColumn input.inpTxt {width:472px}
	.viewLight .unitABlock .itemForm .itemData {width:486px}
	.viewLight .itemWarning, .viewLight .itemOk {margin:0 4px 5px}

.leftLightBox, .rightLightBox {position:absolute; bottom:0px; height:100%; width:30%; cursor:pointer; outline:none; z-index:1102; display:none}
.leftLightBox {left:0px}
.rightLightBox {right:0px}
.leftLightBox span, .rightLightBox span {position:absolute; top:50%; left:-9999px; width:30px; height:30px; margin-top:-15px; cursor:pointer; z-index:1102; display:block}
/*.leftLightBox span {background-image:none; background-position:-40px -30px}
.rightLightBox span {background-image:none; background-position:-40px -60px}
.leftLightBox:hover, .rightLightBox:hover {visibility:visible}
.leftLightBox:hover span {left:20px}
.rightLightBox:hover span {left:auto; right:20px}*/