<?php 
$recommendations = $mvc->getObject(CompanyService::COMPANY_FEEDBACK);
?>
<h2>_i18n{Write a Review}</h2>
<div class="unitABlock">
	<table cellpadding="0" cellspacing="0" class="viewList">
		<thead>
			<tr>
				<!-- <th>_i18n{No}</th> -->
				<th>_i18n{No}</th>
				<th>_i18n{Category}</th>
				<th>_i18n{Name}</th>
				<th>_i18n{End price}</th>
				<th class="itemLast">_i18n{Date}</th>
			</tr>
		</thead>
		<tbody>
			<?php if (isset($recommendations)&& $recommendations!=NULL){?>
			<?php foreach($recommendations as $key => $recommendation){?>
			<?php if($recommendation[CompanyService::DONE]==0){?>
			<tr>
				<!-- <td><?php echo $key+1;?></td> -->
				<td><?php echo $recommendation[CompanyService::ID];?></td>
				<td><?php echo $recommendation[CategoryService::CAT_NAME];?></td>
				<td><a class="linkTr" href="/write-recommendation.html?id=<?php echo $recommendation[CompanyService::ID];?>" title="<?php echo $recommendation[OrdersService::ORDER_NAME];?>"><?php echo $recommendation[OrdersService::ORDER_NAME];?></a></td>
				<td><?php echo $recommendation[UsersService::USERNAME];?></td>
				<td class="itemLast"><?php echo $recommendation[OrdersService::BOUGHT_DATE];?></td>
			</tr>
			<?php } } }?>
		</tbody>
	</table>
</div>
<h2>_i18n{My Recommendations}</h2>
<div class="unitABlock unitABlockLast">
	<table cellpadding="0" cellspacing="0" class="viewList">
		<thead>
			<tr>
				<!-- <th>_i18n{No}</th> -->
				<th>_i18n{No}</th>
				<th>_i18n{Category}</th>
				<th>_i18n{Name}</th>
				<th>_i18n{End price}</th>
				<th class="itemLast">_i18n{Date}</th>
			</tr>
		</thead>
		<tbody>
			<?php if (isset($recommendations)&& $recommendations!=NULL){?>
			<?php foreach($recommendations as $key => $recommendation){?>
			<?php if($recommendation[CompanyService::DONE]==1){?>
			<tr>
				<!-- <td><?php echo $key+1;?></td> -->
				<td><?php echo $recommendation[CompanyService::ID];?></td>
				<td><?php echo $recommendation[CategoryService::CAT_NAME];?></td>
				<td><a class="linkTr" href="/company.html?id=<?php echo $recommendation[CompanyService::COMPANY_ID];?>" title="<?php echo $recommendation[OrdersService::ORDER_NAME];?>"><?php echo $recommendation[OrdersService::ORDER_NAME];?></a></td>
				<td><?php echo $recommendation[UsersService::USERNAME];?></td>
				<td class="itemLast"><?php echo $recommendation[CompanyService::DATE];?></td>
			</tr>
			<?php } } }?>
		</tbody>
	</table>
</div>