<?php 
$categories = $mvc->getObject(CategoryService::CATEGORY);
$subcategories = $mvc->getObject(SubCategoryService::SUBCATEGORY);
$regions = $mvc->getObject(RegionService::REGIONS);
$countries = $mvc->getObject(CountryService::COUNTRY);
$errors = $mvc->getObject(ContentController::ERROR);
?>
<h2>New Order</h2>
<div class="unitABlock unitABlockLast">
	<?php if (isset($errors )){?>
		<div class="itemWarning">
			<ul>
				<li><?php echo $errors ?></li>
			</ul>
		</div>
	<?php } ?>
	<form action="new-order.html" method="post"  enctype="multipart/form-data">
		<div class="unitSnColumn">
			<div class="itemForm">
				<label>order_name</label>
				<div class="itemData">
					<input name="order_name" class="inpTxt" type="text" value="<? if(isset($_POST['order_name'])) echo $_POST['order_name']; ?>" />
				</div>
			</div>
		</div>
		<div class="unitEqColumn">
			<div class="itemForm">
				<label>category_id</label>
				<div class="itemData">
					<select name="category_id" class="gCategory">
	<?php			if (isset($categories) && $categories!=NULL){ 
					foreach($categories as $key=>$category){ ?>
							<option value="<?php echo $category[CategoryService::ID] ?>"><?php echo $category[CategoryService::CAT_NAME] ?></option>
	<?php 				} 
				} ?>
					</select>
				</div>
			</div>
			<div class="itemForm">
				<label>subcategory_id</label>
				<div class="itemData">
					<select name="subcategory_id" class="gSubCategory">
	<?php			if (isset($subcategories) && $subcategories!=NULL){ 
					foreach($subcategories as $key=>$subcategory){ ?>						
							<option value="<?php echo $subcategory[SubCategoryService::ID] ?>"><?php echo $subcategory[SubCategoryService::SUBCAT_NAME] ?></option>
	<?php 				} 
				} ?>
					</select>
				</div>
			</div>
		</div>
		<div class="unitSnColumn">
			<div class="itemForm">
				<label>order_desc</label>
				<div class="itemData">
					<textarea class="areaTxt" name="order_desc"><? if(isset($_POST['order_desc'])) echo $_POST['order_desc']; ?></textarea>
				</div>
			</div>
		</div>
		<div class="unitEqColumn">
			<div class="itemForm">
				<label>street</label>
				<div class="itemData">
					<input name="street" class="inpTxt" type="text" value="<? if(isset($_POST['street'])) echo $_POST['street']; ?>"/>
				</div>
			</div>
			<div class="itemForm">
				<label>zip</label>
				<div class="itemData">
					<input name="zip" class="inpTxt" type="text" value="<? if(isset($_POST['zip'])) echo $_POST['zip']; ?>"/>
				</div>
			</div>
			<div class="itemForm">
				<label>city</label>
				<div class="itemData">
					<input name="city" class="inpTxt" type="text" value="<? if(isset($_POST['city'])) echo $_POST['city']; ?>"/>
				</div>
			</div>
			<div class="itemForm">
				<label>region</label>
				<div class="itemData">
					<select name="region" class="gCategory">
	<?php			if (isset($regions) && $regions!=NULL){ 
					foreach($regions as $key=>$region){ ?>
							<option value="<?php echo $region[RegionService::ID] ?>"><?php echo $region[RegionService::REGION_NAME] ?></option>
	<?php 				} 
				} ?>
					</select>
				</div>
			</div>
			<div class="itemForm">
				<label>country</label>
				<div class="itemData">
					<select name="country" class="gSubCategory">
	<?php			if (isset($countries) && $countries!=NULL){ 
					foreach($countries as $key=>$country){ ?>						
							<option value="<?php echo $country[CountryService::ID] ?>"><?php echo $country[CountryService::COUNTRY_NAME] ?></option>
	<?php 				} 
				} ?>
					</select>
				</div>
			</div>
			<div class="itemForm">
				<label>price</label>
				<div class="itemData">
					<input name="order_price" class="inpTxt" type="text" value="<? if(isset($_POST['order_price'])) echo $_POST['order_price']; ?>"/>
				</div>
			</div>
		</div>
		<div class="unitSnColumn">
			<div class="itemForm">
				<label>Date</label>
				<div class="itemData">
					<label class="labelDate">_i18n{from}:</label>
					<input class="inpDate" name="from_date" type="text" value="2010-12-21"/>
					<label class="labelDate">_i18n{until}:</label>
					<input class="inpDate" name="until_date" type="text" value="2010-12-21"/>
				</div>
			</div>
			<div class="itemForm">
				<label>file1</label>
				<div class="itemData">
					<input type="file" name="file[1]" />
				</div>
			</div>
			<div class="itemForm">
				<label>file2</label>
				<div class="itemData">
					<input type="file" name="file[2]" />
				</div>
			</div>
			<div class="itemForm">
				<label>file3</label>
				<div class="itemData">
					<input type="file" name="file[3]" />
				</div>
			</div>
			<div class="itemForm">
				<label>file4</label>
				<div class="itemData">
					<input type="file" name="file[4]" />
				</div>
			</div>
		</div>
		<div class="unitBtn">
			<button name="save" type="submit"><span><strong>_i18n{Save}</strong></span></button>
		</div>
	</form>
</div>
<!-- 
<input name="" type="text"/><br/>
<input name="" type="text"/><br/>
<input name="" type="text"/><br/>
<input name="" type="text"/><br/>
 -->