<div class="stationTitle">
	<h1>_i18n{View Mail}</h1>
	<!-- extra links on -->
	<div class="viewExtra">
		<p><strong>_i18n{Hotline}: 0800 20 20 20</strong></p>
		<p><a href="mailto:info@angebotholen.at">info@angebotholen.at</a></p>
		<ul>
			<li class="itemMail"><a href="#" title="_i18n{Mail}">_i18n{Mail}</a></li>
			<li class="itemTwitter"><a href="#" title="_i18n{Twitter}">Twitter}</a></li>
			<li class="itemFacebook"><a href="#" title="_i18n{Facebook}">_i18n{Facebook}</a></li>
		</ul>
	</div>
	<!-- extra links off -->
</div>