<dl>
	<dt>Auftraggeber</dt>
	<dd><a href="#" title="Kostenlos Ausschreibung einstellen">Kostenlos Ausschreibung einstellen</a></dd>
	<dd><a href="#" title="Dienstleister suchen">Dienstleister suchen</a></dd>
	<dd><a href="#" title="Ratgeber">Ratgeber</a></dd>
	<dd><a href="#" title="So geht's">So geht's</a></dd>
	<dd><a href="#" title="Hilfe / FAQ">Hilfe / FAQ</a></dd>
	<dd><a href="#" title="Treuhandservice">Treuhandservice</a></dd>
	<dd><a href="#" title="Archiv der Ausschreibungen">Archiv der Ausschreibungen</a></dd>
</dl>
<dl>
	<dt>Handwerker &amp; Dienstleister</dt>
	<dd><a href="#" title="Aufträge suchen">Aufträge suchen</a></dd>
	<dd><a href="#" title="So geht's">So geht's</a></dd>
	<dd><a href="#" title="BusinessPartner-Profil">BusinessPartner-Profil</a></dd>
	<dd><a href="#" title="Auftragspakete">Auftragspakete</a></dd>
	<dd><a href="#" title="Gebühren">Gebühren</a></dd>
	<dd><a href="#" title="Hilfe / FAQ">Hilfe / FAQ</a></dd>
	<dd><a href="#" title="Auftragsradar">Auftragsradar</a></dd>
</dl>
<dl>
	<dt>Über uns</dt>
	<dd><a href="#" title="Über MyHammer">Über MyHammer</a></dd>
	<dd><a href="#" title="Impressum">Impressum</a></dd>
	<dd><a href="#" title="So geht's">So geht's</a></dd>
	<dd><a href="#" title="Gebühren">Gebühren</a></dd>
	<dd><a href="#" title="Jobs">Jobs</a></dd>
</dl>
<dl>
	<dt>Kontakt &amp; Service</dt>
	<dd><a href="#" title="Hotline + Kontakt">Hotline + Kontakt</a></dd>
	<dd><a href="#" title="angebotholen.at weiterempfehlen">angebotholen.at weiterempfehlen</a></dd>
	<dd><a href="#" title="angebotholen.at  als Startseite">angebotholen.at  als Startseite</a></dd>
	<dd><a href="#" title="Lesezeichen">Lesezeichen</a></dd>
</dl>
<dl>
	<dt>Presse, IR &amp; Links</dt>
	<dd><a href="#" title="Blogg">Blogg</a></dd>
	<dd><a href="#" title="Presse">Presse</a></dd>
	<dd><a href="#" title="Kooperationspartner">Kooperationspartner</a></dd>
	<dd><a href="#" title="PartnerProgramm">PartnerProgramm</a></dd>
	<dd><a href="#" title="MyHammer empfiehlt">MyHammer empfiehlt</a></dd>
	<dd><a href="#" title="News">News</a></dd>
</dl>