<?php $crnt = $mvc->getView();?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-forentrepreneurs') echo 'class="itemActive"';?>><a href="/for-entrepreneurs.html" title="_i18n{For Entrepreneurs}">_i18n{For Entrepreneurs}</a></li>
	<li <?php if($crnt == 'navigation-companies') echo 'class="itemActive"';?>><a href="/companies.html" title="_i18n{Yellow Pages}">_i18n{Yellow Pages}</a></li>
	<li <?php if($crnt == 'navigation-sale-opportunities') echo 'class="itemActive"';?>><a href="/" title="_i18n{Bargain}">_i18n{Bargain}</a></li>
</ul>
<ul class="userNav">
	<li>
		_i18n{Welcome Guest!} _i18n{Please} 
		<a href="/login.html" title="_i18n{Login}">_i18n{Login}</a>
		_i18n{or}
		<a href="/registration.html" title="_i18n{Register}">_i18n{Register}</a>
	</li>
</ul>