<?php
$feedbacks = $mvc->getObject(CompanyService::COMPANY_FEEDBACK);
$count = $mvc->getObject("count");
$pages = $mvc->getObject("pages");
?>
<div class="viewDComment">
<?php
if(isset($feedbacks)&&$feedbacks!=null){ ?>
	<div class="unitPagination">
		<p><span><?php echo $count;?></span> _i18n{comments}</p>
		<ul>
			<?php for($i=0; $i<$pages; $i++){ ?>
				<li>
				<?php if(isset($_GET['comment_page'])&&$_GET['comment_page']==$i+1  || !isset($_GET['comment_page'])&&$i==0) { ?>
					<span><?php echo $i+1; ?></span>
				<?php }else{ ?>
					<a href="/get-comments.html?comment_page=<?php echo $i+1; ?><?php
						echo isset($_GET['id']) ? '&id='.$_GET["id"] : NULL; 
					 ?>">
					<?php echo $i+1; ?>
					</a>
				<?php }?>
				</li>
			<?php } ?>
		</ul>
	</div>
<?php foreach($feedbacks as $key =>$feedback){?>
		<div class="unitDComment <?php echo ($key%2) == 0 ? 'unitOdd':null;?>">
			<div class="itemTitle">
				<h4><?php echo $feedback[UsersService::USERNAME] ?></h4><span class="itemDate"><?php echo $feedback[CompanyService::DATE] ?></span>
			</div>
			<div class="itemText">
				<p><?php echo $feedback[CompanyService::COMMENT] ?></p>
				<p><strong>_i18n{Order}:</strong> <a href="/view-order.html?id=<?php echo $feedback[OrdersService::HASH] ?>" title="<?php echo $feedback[OrdersService::ORDER_NAME] ?>"><?php echo $feedback[OrdersService::ORDER_NAME] ?></a></p>
			</div>
			<div class="itemRating">
				<div class="unitRating">
					<div class="simpleRating">
						<ul>
							<li class="itemCurrent" style="width:<?php echo $feedback[CompanyService::VOTE] ?>%"></li>
						</ul>
						<p><strong>1</strong> (<?php echo $feedback[CompanyService::VOTE] ?>% positiv) <a href="#" title="Extended">Extended</a></p>
					</div>
					<div class="extendRating">
						<dl>
							<dt>Quality of work:</dt>
							<dd><span class="itemCurrent" style="width:20%"></span></dd>
						</dl>
						<dl>
							<dt>Reliability:</dt>
							<dd><span class="itemCurrent" style="width:90%"></span></dd>
						</dl>
						<dl>
							<dt>Cleanliness:</dt>
							<dd><span class="itemCurrent" style="width:78%"></span></dd>
						</dl>
						<dl>
							<dt>Price/Performance:</dt>
							<dd><span class="itemCurrent" style="width:36%"></span></dd>
						</dl>
						<dl>
							<dt>Project delivered:</dt>
							<dd><span class="itemCurrent" style="width:78%"></span></dd>
						</dl>
						<dl>
							<dt>Consulting Services:</dt>
							<dd><span class="itemCurrent" style="width:78%"></span></dd>
						</dl>
						<p><a href="#" title="Avarage">Avarage</a></p>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
<?php } else { ?>
	<div class="unitDComment unitOdd">
		<div class="itemText">
			<p>_i18n{Sorry, no comments yet.}</p>
		</div>
	</div>
<?php } ?>
</div>