<?php
$feedbacks = $mvc->getObject(CompanyService::COMPANY_FEEDBACK);
?>
<div class="viewDComment">
	<?php
	foreach($feedbacks as $key =>$feedback){
									?>
	<div class="unitDComment <?php echo ($key%2) == 0 ? 'unitOdd':null;?>">
		<div class="itemTitle">
			<h4><?php echo $feedback[UsersService::USERNAME] ?></h4><span class="itemDate"><?php echo $feedback[CompanyService::DATE] ?></span>
		</div>
		<div class="itemText">
			<p><?php echo $feedback[CompanyService::COMMENT] ?></p>
			<!-- <p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p> -->
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:<?php echo round($feedback['count']) ?>%"></li>
			</ul>
			<p><strong>1</strong> (<?php echo round($feedback['count']) ?>% positiv)</p>
		</div>
	</div>
	<?php }	?>
<!-- 
	<div class="unitDComment unitOdd">
		<div class="itemTitle">
			<h4>internal doors hung</h4><span class="itemDate">19/01/2011</span>
		</div>
		<div class="itemText">
			<p>"Excellent worker,compatible & very helpful"</p>
			<p><strong>Work:</strong> 6 internal doors standard size 30'' wide in the next 2 weeks</p>
		</div>
		<div class="itemRating">
			<ul class="unitRating">
				<li class="itemCurrent" style="width:80%"></li>
			</ul>
			<p><strong>1</strong> (80% positiv)</p>
		</div>
	</div>
 -->
</div>