<?php 
$certificates = $mvc->getObject(CompanyService::COMPANY_CARTIFICATES);
?>
<div class="viewDProfile">
	<div class="unitEqColumn">
		<div class="unitRef">
			<h3>Certificates</h3>
<?php if(isset($certificates)&&$certificates!=null){
	foreach($certificates as $key =>$certificate){?>
		<div class="unitCertificate">
			<div class="innerP">
				<a href="<?php echo $certificate[UploadsService::PATH]?>" title="<?php echo $certificate[CompanyService::CARTIFICATES_TITLE]?>"><?php echo $certificate[CompanyService::CARTIFICATES_TITLE]?></a> (763kB) - <?php echo $certificate[CompanyService::CARTIFICATES_TITLE]?>
			</div>
		</div>
<?php } } else { ?>
		<div class="unitCertificate">
			<div class="innerP">
				_i18n{Sorry, no certificates yet.}
			</div>
		</div>
<?php } ?>
		</div>
	</div>
</div>