<?php 
	$crnt = $mvc->getView();
	$usr = SessionService::getAttribute(SessionService::USERNAME);
?>
<ul class="userNav">
	<li>_i18n{You are logged in as} <b><?php echo $usr;?></b>.</li>
	<li <?php if($crnt == 'navigation-login') echo 'class="itemActive"';?>>
	<a class="linkBtn" href="/logout.html" title="_i18n{Logout}"><span><strong>_i18n{Logout}</strong></span></a>
	</li>
</ul>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-about') echo 'class="itemActive"';?>><a href="/about.html" title="_i18n{About Us}">_i18n{About Us}</a></li>
</ul>
