<?php
$bargains = $mvc->getObject(BargainsService::BARGAINS);
?>
<div class="wrapCarousel">
	<div class="viewBox viewBoxC">
		<div class="cT"><em class="cL"></em><em class="cR"></em></div>
		<div class="cL">
			<div class="cR">
				<div class="bodyBox">
					<div class="itemClip">
						<ul>
<?php 				if (isset($bargains)&&$bargains!=NULL){
						foreach ($bargains as $key => $bargain){?>						
						<li>
							<a href="#" title="<?php echo $bargain[BargainsService::BARGAIN_NAME];?>">
								<span class="itemImg"><img height="72" src="<?php echo $bargain[UploadsService::PATH];?>" alt="<?php echo $bargain[BargainsService::DISCOUNT];?>% _i18n{Discount}" /></span>
								<span><?php echo $bargain[BargainsService::DISCOUNT];?>% _i18n{Discount}</span>
							</a>
						</li>
<?php }} ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cB"><em class="cL"></em><em class="cR"></em></div>
	</div>
</div>