<div class="registration">
	<b>Please enter your new password.</b>
</div>
<div class="error">
	<?php
		$errors = $mvc->getObject('error');
			if (isset($errors)){
				foreach ($errors as $key => $value){
				echo '<p>' . $value . '</p>';
			}
		}
	 ?>
</div>
<div class="login_failed">
	<form action="new-password.html" method="post">
		<dl>
			<dt>Password:</dt>
			<dd>
				<input type="password" name="password" id="password" size="35"/>
			</dd>
			<dt>Confirm Password:</dt>
			<dd>
				<input type="password" name="confirm_password" id="confirm_password" size="35"/>
			</dd>
		</dl>
		<input type="hidden" name="email" id="email" value="<?php if(isset($_GET['email'])) echo $_GET['email'];?>"></input>
		<input type="hidden" name="validation_id" id="validation_id" value="<?php if(isset($_GET['validation_id'])) echo $_GET['validation_id'];?>"></input>
		<input type="submit" value="Submit"/>
	</form>
</div>