<div class="wrapHome">
	<div class="greyBox">
		<div class="peopleFace"></div>
		<div class="peopleHand"></div>
		<!-- box on -->
		<div class="viewHomeBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h2>Jetzt Angebote einholen</h2>
				<form action="">
					<p>
						<select>
							<option>&nbsp;</option>
						</select>
						<label>Hauptkategorie?</label>
					</p>
					<p>
						<select>
							<option>&nbsp;</option>
						</select>
						<label>Unterkategorie?</label>
					</p>
					<p class="itemBtn">
						<button type="submit"><span><strong>Angebot kostenlos holen!</strong></span></button>
					</p>
				</form>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- box off -->
		<!-- list on -->
		<div class="viewAdvantages">
			<h3>Die Vorteile von angebotholen.at</h3>
			<ul>
				<li><a href="#" title="Kostenlos, Provisionsfrei">Kostenlos, Provisionsfrei</a></li>
				<li><a href="#" title="Nie wieder zuviel bezahlen">Nie wieder zuviel bezahlen</a></li>
				<li><a href="#" title="Bequem vergleichen">Bequem vergleichen</a></li>
				<li><a href="#" title="Absolut verbindlich">Absolut verbindlich</a></li>
				<li><a href="#" title="Empfehlungen">Empfehlungen</a></li>
				<li><a href="#" title="Qualitätsarbeit">Qualitätsarbeit</a></li>
			</ul>
		</div>
		<!-- list off -->
		<!-- box on -->
		<div class="viewHomeBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h2>So finden Sie das beste Angebot!</h2>
				<ol>
					<li>
						<span><img src="images/nbrFind01.gif" alt="Ihren Auftrag kostenlos eintragen" /></span>
						<span>Ihren Auftrag kostenlos eintragen</span>
					</li>
					<li>
						<span><img src="images/nbrFind02.gif" alt="Angebote vergleichen" /></span>
						<span>Angebote vergleichen</span>
					</li>
					<li>
						<span><img src="images/nbrFind03.gif" alt="Auftrag vergeben" /></span>
						<span>Auftrag vergeben</span>
					</li>
				</ol>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- box off -->
		<!-- small box on -->
		<div class="viewVideoBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h3>So geht's Video</h3>
				<div class="itemVideo">
				<img src="images/cnt/contentImg09.gif" alt="Video" /></div>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- small box off -->
		<!-- two lists on -->
		<div class="viewHomeList">
			<ul>
				<li><a href="#" title="Dachdecker (67)">Dachdecker (67)</a></li>
				<li><a href="#" title="Grafiker (54)">Grafiker (54)</a></li>
				<li><a href="#" title="Heizungsfirmen (53)">Heizungsfirmen (53)</a></li>
				<li><a href="#" title="Putzinstitute (53)">Putzinstitute (53)</a></li>
				<li><a href="#" title="Umzugsunternehmen (49)">Umzugsunternehmen (49)</a></li>
				<li><a href="#" title="Küchenbauer (48)">Küchenbauer (48)</a></li>
				<li><a href="#" title="Treuhandbüro (45)">Treuhandbüro (45)</a></li>
				<li><a href="#" title="Versicherungen (40)">Versicherungen (40)</a></li>
			</ul>
			<ul>
				<li><a href="#" title="Musikunterricht (39)">Musikunterricht (39)</a></li>
				<li><a href="#" title="Steuerberatung (38)">Steuerberatung (38)</a></li>
				<li><a href="#" title="Partyservice (25)">Partyservice (25)</a></li>
				<li><a href="#" title="Maler (24)">Maler (24)</a></li>
				<li><a href="#" title="Maurer (23)">Maurer (23)</a></li>
				<li><a href="#" title="Bodenleger (22)">Bodenleger (22)</a></li>
				<li><a href="#" title="Elektriker (20)">Elektriker (20)</a></li>
				<li><a href="#" title="VTelefonspezialist (19)">VTelefonspezialist (19)</a></li>
				<li><a href="#" title="IT Service (15)">IT Service (15)</a></li>
			</ul>
		</div>
		<!-- two lists off -->
		<!-- small box on -->
		<div class="viewPageBox">
			<div class="angleT"></div>
			<div class="bodyBox">
				<h3>Branchenverzeichnis</h3>
				<form action="">
					<p>
						<label>Branche?</label>
						<select>
							<option>&nbsp;</option>
						</select>
					</p>
					<p>
						<label>Region?</label>
						<select>
							<option>&nbsp;</option>
						</select>
					</p>
					<p class="itemBtn">
						<button type="submit"><span><strong>Suchen</strong></span></button>
					</p>
				</form>
			</div>
			<div class="angleB"></div>
		</div>
		<!-- small box off -->
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>