<div class="wrapLogin">
	<div class="greyBox">
		<div class="viewBox viewBoxL">
			<div class="cT"><em class="cL"></em><em class="cR"></em></div>
			<div class="cL">
				<div class="cR">
					<div class="bodyBox">
						<?php	
						$message = $mvc->getObject('message');
					if(isset($message)){
						echo '<p>' . $message . '</p>';
					} else {
					?>
							<h2>_i18n{Please, sign in}:</h2>
						<?php }	?>
						<div class="unitABlock">
							<form action="login.html" method="post">
								<?php $errors = $mvc->getObject(UsersService::ERROR);
								if (isset($errors)){?>
									<div class="itemWarning">
										<?php echo $errors; ?>
									</div>
								<?php } ?>
								<div class="unitEqColumn">
									<div class="itemForm">
										<label for="frmUser">_i18n{Username}:</label>
										<div class="itemData">
											<input type="text" id="frmUser" class="inpTxt" name="username" value="<?php if(isset($_POST['username'])) echo $_POST['username']; ?>"/>
										</div>
									</div>
									<div class="itemForm">
										<label for="frmPass">_i18n{Password}:</label>
										<div class="itemData">
											<input type="password" id="frmPass" class="inpTxt" name="password"/>
										</div>
									</div>
									<div class="itemForm">
										<div class="itemData">
											<input type="checkbox" class="inpChk" id="frmRemember" name="persistent"/>
											<label for="frmRemember">_i18n{Remember me}</label>
										</div>
									</div>
								</div>
								<div class="unitBtn">
									<button type="submit"><span><strong>Sign In</strong></span></button>
									<?php echo !isset($message) ? '<a href="forgot-password.html">_i18n{Forgot password?}</a>' : null; ?>
								</div>
							</form>
						</div>
						<h2>_i18n{If you have not free accaunt yet}:</h2>
						<div class="unitABlock unitABlockLast">
							<div class="unitBtn">
								<a class="linkBtn" href="/registration.html"><span><strong>_i18n{Register}</strong></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cB"><em class="cL"></em><em class="cR"></em></div>
		</div>
		<!-- fix gradient on -->
		<div class="lineHide"></div>
		<!-- fix gradient off -->
	</div>
</div>