<h1>_i18n{Forgot Password?}</h1>
<span class="message warning">_i18n{Please enter your email for reset password.}</span>
<?php	$message = $mvc->getObject(UsersService::ON_SUCCESS);
		if (isset($message) && $message!=NULL){?>
			<span class="message warning"><?php echo $message; ?></span>
<?php	} else {
			$errors = $mvc->getObject(UsersService::ERROR);
			if (isset($errors)){?>
				<div class="error">
					<ul>
						<li><?php echo $errors;?></li>
					</ul>
				</div>
<?php 		} ?>
<div class="center"> 
	<form action="forgot-password.html" method="post">
		<label for="email">_i18n{Your email}:</label>
		<input type="text" name="email" size="17" id="email"></input>
		<p class="btns">
	        <input class="defBtn" type="button" name="_i18n{Cancel}" value="Cancel" onclick="window.location = '/login.html' " />
	        <input class="defBtn" type="submit" value="_i18n{Submit}"></input>
        </p>
	</form>
</div>
<?php 	} ?>