<div class="topBlock">
	<form class="frmNew">
		<button onclick="showSplash('/training-new.html','splashCanv');return false">Add New Training</button>
	</form>
	<form action="/training-search.html" class="search">
		<input type="text" name="project" value="" /><input type="submit" value="Search" />
	</form>
</div>
<table class="genTbl" cellpadding="0" cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Participants</th>
    <th>Options</th>    
  </tr>
  <tr class="odd">
    <td>Training 1</td>
    <td>
    	<img src="images/tmp/status1.png" alt="Copy"/>
    	<span>4/10</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>
  <tr>
    <td>Training 2</td>
    <td>
    	<img src="images/tmp/status3.png" alt="Copy"/>
   		<span>20/100</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>
  <tr class="odd">
    <td>Training 3</td>
       <td>
    	<img src="images/tmp/status2.png" alt="Copy"/>
   		<span>8/10</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>
  <tr>
    <td>Training 4</td>
        <td>
    	<img src="images/tmp/status6.png" alt="Copy"/>
   		<span>15/58</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>
  <tr class="odd">
    <td>Training 5</td>
        <td>
    	<img src="images/tmp/status5.png" alt="Copy"/>
   		<span>4/12</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>
  <tr>
    <td>Training 6</td>
        <td>
    	<img src="images/tmp/status4.png" alt="Copy"/>
   		<span>30/30</span>
    </td>
    <td class="option">
    	<a href="/training-edit.html" title="Edit"><img src="images/edit.png" alt="Copy"/></a>
    	<a href="/training-copy.html" title="Copy"><img src="images/copy.png" alt="Copy"/></a>
    	<a href="/training-delete.html" title="Delete"><img src="images/delete.png" alt="Delete"/></a>
    </td>
  </tr>          
</table>
