<div class="signinForm">
	<form action="confirm-registration.html" method="post" name="registration">
		<fieldset id="personal_data">
			<label for="personal_data">_i18n{Personal Data}</label>
			<input type="hidden" name="id" value="<? if(isset($_GET['id'])) echo $_GET['id']; if(isset($_POST['id'])) echo $_POST['id'];?>"/>
			<input type="hidden" name="validation_id" value="<? if(isset($_GET['validation_id'])) echo $_GET['validation_id']; if(isset($_POST['validation_id'])) echo $_POST['validation_id'];?>"/>
			<p><label>_i18n{Address}: *</label><br /><input type="text" class="wide inpTxt" name="address" value="<? if(isset($_POST['address'])) echo $_POST['address']; ?>"/></p>
			<p><label>_i18n{Zip code}:</label><br /><input type="text" class="wide inpTxt" name="zip" value="<? if(isset($_POST['zip'])) echo $_POST['zip']; ?>"/></p>
			<p><label>_i18n{Location}: *</label><br /><input type="text" class="wide inpTxt" name="location" value="<? if(isset($_POST['location'])) echo $_POST['location']; ?>"/></p>
			<p><label>_i18n{Region}: *</label><br /><input type="text" class="wide inpTxt" name="region" value="<? if(isset($_POST['region'])) echo $_POST['region']; ?>"/></p>
			<p><label>_i18n{Country}: *</label><br /><input type="text" class="wide inpTxt" name="country" value="<? if(isset($_POST['country'])) echo $_POST['country']; ?>"/></p>
			<p><label>_i18n{Mobile phone}: *</label><br /><input type="text" class="wide inpTxt" name="phone" value="<? if(isset($_POST['phone'])) echo $_POST['phone']; ?>"/></p>
			<p><label>_i18n{Homepage}:</label><br /><input type="text" class="wide inpTxt" name="homepage" value="<? if(isset($_POST['homepage'])) echo $_POST['homepage']; ?>"/></p>
			<p><input type="checkbox" class="wide inpTxt" name="newsletter" value="1" checked="checked"/>_i18n{Send me newsletter.}</p>
		</fieldset>
		<fieldset id="bank_info">
			<label for="bank_info">_i18n{Bank Info}</label>
			<p><label>_i18n{Bank}:</label><br /><input type="text" class="wide inpTxt" name="bank" value="<? if(isset($_POST['bank'])) echo $_POST['bank']; ?>"/></p>
			<p><label>_i18n{Bank code}:</label><br /><input type="text" class="wide inpTxt" name="bank_code" value="<? if(isset($_POST['bank_code'])) echo $_POST['bank_code']; ?>"/></p>
			<p><label>_i18n{Account number}:</label><br /><input type="text" class="wide inpTxt" name="account_number" value="<? if(isset($_POST['account_number'])) echo $_POST['account_number']; ?>"/></p>
		</fieldset>
		<p class="btns">
			<input class="defBtn" type="button" name="Cancel" value="_i18n{Cancel}" onclick="window.location = '/' " />
			<input class="defBtn" type="submit" value="_i18n{Sign Up}"  value="Sign up" id="submit" name="submit"/>
		</p>
	</form>
</div>