<div class="topBlock">
	<form class="frmNew">
		<button onclick="showSplash('/user-new.html','splashCanv');return false">Add New User</button>
	</form>
	<form action="" class="search">
		<button onclick="showSplash('/user-new.html','splashCanv');return false">Synchronize user</button>
	</form>
	<br/><br/>
	<form action="" class="group">
		<select>
			<option>Class:</option>
		</select>
	</form>
	<form action="" class="group">
		<select>
			<option>Level:</option>
		</select>
	</form>
	<form action="" class="group">
		<select>
			<option>Training:</option>
		</select>
	</form>
	<form action="/user-search.html" class="group">
		<input type="text" name="project" value="" /><input type="submit" value="Search Users" />
	</form>
</div>
<table class="genTbl" cellpadding="0" cellspacing="0">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Class</th>    
    <th>Options</th>    
  </tr>
  <tr class="odd">
    <td>Dorn</td>
    <td>Desiree</td>
    <td>12a</td>
    <td class="option">
    	<form action="#">
			<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr>
    <td>Ermer</td>
    <td>Lisa</td>
    <td>6b</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr class="odd">
    <td>Kasch</td>
    <td>Simone</td>
    <td>7c</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr>
    <td>Lage</td>
    <td>Klaus</td>
    <td>13b</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr class="odd">
    <td>Mayer</td>
    <td>Stefan</td>
    <td>11a</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr>
    <td>Muller</td>
    <td>Frank</td>
    <td>13a</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>
  <tr class="odd">
    <td>raphaelle</td>
    <td>Keller</td>
    <td>12b</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr> 
    <tr>
    <td>Schulze</td>
    <td>Dieter</td>
    <td>11c</td>
    <td class="option">
    	<form action="#">
    		<a href="/user-edit.html" title="Edit" onclick="showSplash('/user-edit.html','splashCanv');return false">
	    		<img src="images/edit.png" alt="Copy"/>
	    	</a>
	    	<a href="/user-delete.html" title="Delete" onclick="showSplash('/user-delete.html','splashCanv');return false">
	    		<img src="images/delete.png" alt="Delete"/>
	    	</a>
    	</form>
    </td>
  </tr>   
</table>
