<p class="message">_i18n(new_post_text)</p>
<?php $errors = $mvc->getObject('errors');
	if($errors && $errors > 1) { ?>
<p class="error">_i18n(error_text)</p>
<?php } ?>
<form action="<?php echo CONTEXT_PATH ?>index.php?realty=new" method="post">
	<fieldset>
		<legend><b>_i18n(Real estate:)</b></legend>
		<dl>
			<dt>_i18n(listing_purpose)<span class="red">*</span></dt>
			<dd class="radio">
				<input type="radio" name="purpose" value="001" id="prp1"/><label for="prp1">_i18n(purpose_for_sale)</label>
				<input type="radio" name="purpose" value="002" id="prp2"/><label for="prp2">_i18n(purpose_for_rental)</label>
				<input type="radio" name="purpose" value="003" id="prp3"/><label for="prp3">_i18n(purpose_to_buy)</label>
				<input type="radio" name="purpose" value="004" id="prp4"/><label for="prp4">_i18n(purpose_to_rent)</label>
				<input type="radio" name="purpose" value="005" id="prp5"/><label for="prp5">_i18n(purpose_for_exchange)</label>
			</dd>
			<dt>_i18n(listing_realestate_type)<span class="red">*</span></dt>
			<dd>
				<select name="type">
					<optgroup label="_i18n(apartments)">
						<option value="002">_i18n(single_room)</option>
						<option value="003">_i18n(double_room)</option>
						<option value="004">_i18n(three_room)</option>
						<option value="005">_i18n(four_room)</option>
						<option value="006">_i18n(five_room)</option>
						<option value="007">_i18n(other_appartments)</option>
					</optgroup>
					<optgroup label="_i18n(homes)">
						<option value="009">_i18n(cottage)</option>
						<option value="010">_i18n(mansion)</option>
						<option value="011">_i18n(house_part)</option>
						<option value="012">_i18n(other_homes)</option>
					</optgroup>
					<optgroup label="_i18n(land)">
						<option value="014">_i18n(unfinished_construction)</option>
						<option value="015">_i18n(summer_cottage)</option>
						<option value="016">_i18n(other_land)</option>
					</optgroup>
					<optgroup label="_i18n(facility)">
						<option value="018">_i18n(warehouse)</option>
						<option value="019">_i18n(commercial_premises)</option>
						<option value="020">_i18n(production_space)</option>
						<option value="021">_i18n(office_space)</option>
						<option value="022">_i18n(room)</option>
						<option value="023">_i18n(other_facility)</option>
					</optgroup>
				</select>
			</dd>
			<dt>_i18n(listing_region)<span class="red">*</span></dt>
			<dd>
				<select name="region">
					<?php $regions = $mvc->getObject('regions');
						foreach($regions as $region) { ?>
					<option value="<?php echo strtolower($region) ?>">_i18n(<?php echo $region ?>, City)</option>
					<?php } ?>
				</select>
			</dd>
			<dt>_i18n(listing_city)<span class="red">*</span></dt>
			<dd><input type="text" name="city" size="32"/></dd>
			<dt>_i18n(listing_street)</dt>
			<dd><input type="text" name="street" size="32"/></dd>			
			<dt>_i18n(listing_space)<span class="red">*</span></dt>
			<dd><input type="text" name="space" size="10"/><label>_i18n(sqm)</label></dd>			
			<dt>_i18n(listing_price)<span class="red">*</span></dt>
			<dd><input type="text" name="price" size="10"/><label>_i18n(currency)</label></dd>			
			<dt>_i18n(listing_description)<span class="red">*</span></dt>
			<dd><textarea rows="5" cols="30" name="description"></textarea></dd>			
		</dl>
	</fieldset>
	<fieldset>
		<legend><b>_i18n(Contact data:)</b></legend>
		<dl>
			<dt>_i18n(Name)<span class="red">*</span></dt>
			<dd><input type="text" name="name" size="32"/></dd>
			<dt>_i18n(Email)<span class="red">*</span></dt>
			<dd><input type="text" name="email" size="32"/></dd>
			<dt>_i18n(Skype/ICQ)</dt>
			<dd><input type="text" name="im" size="32"/></dd>
			<dt>_i18n(Phone)<span class="red">*</span></dt>
			<dd><input type="text" name="phone" size="14"/></dd>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" value="_i18n(Submit)" class="submit"/></dd>			
		</dl>
	</fieldset>
</form>
<?php TemplateEngine::inclusion('ads/google-468x60.html', $mvc) ?>