<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No course available at this moment.</span>
<?php } else { ?>
<div class="pgListItem wide">
	<h1><?php echo $list[CourseService::CAPTION];?></h1>
	<div class="pgItemImg"><img src="<?php echo $list[CourseService::AVATAR];?>" alt="" title="" /></div>
	   <div class="pgItemBody">
	       <ul>
       		<li>
	       		<span>Rating:</span><span class="lsValue">
	       			<?php if($list[CourseService::RATE] >= 1){ ?>
					<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
					<?php if($list[CourseService::RATE] >= 2){ ?>
					<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
					<?php if($list[CourseService::RATE] >= 3){ ?>
					<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
					<?php if($list[CourseService::RATE] >= 4){ ?>
					<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
					<?php if($list[CourseService::RATE] >= 5){ ?>
					<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
				</span>
			</li>
          	<li><span>Students:</span><span class="lsValue">1258</span></li>
          	<li><span>Language:</span><span class="lsValue">English</span></li>
         	<li><span>Level:</span><span class="lsValue"><?php echo $list[CourseService::LEVEL];?></span></li>
         	<li><span>Base fee:</span><span class="lsValue"><?php echo $list[CourseService::FEE];?>$ / mon</span></li>
         	<li><span>Subjects:</span><span class="lsValue">NLP, DHE, SHE</span></li>
	     	</ul>
		</div>
	<p><?php echo $list[CourseService::DESCRIPTION];?></p>
</div>
<div>
	<b>Add exercises:</b>
	<?php
		$exerciseslist = $mvc->getObject('exerciseslist');
		if(!isset($exerciseslist) || count($exerciseslist) == 0){
	?>
	<span class="message">No course sign in to school.</span>
	<?php } else { ?>
	<table class="list">
	<?php foreach($exerciseslist as $key => $value){ ?>
		<tr  style="border: 1px solid #EFEFEF">
			<td>
				<a href=<?php echo 'exercise-details.html?id=' . $value[ExerciseService::ID];?>>
					<?php echo $value[ExerciseService::CAPTION];?>
				</a>
			</td>
			<td>
				<?php if($value[ExerciseService::RATE] >= 1){ ?>
				<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
				<?php if($value[ExerciseService::RATE] >= 2){ ?>
				<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
				<?php if($value[ExerciseService::RATE] >= 3){ ?>
				<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
				<?php if($value[ExerciseService::RATE] >= 4){ ?>
				<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
				<?php if($value[ExerciseService::RATE] >= 5){ ?>
				<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } ?>
			</td>
			<td>
				<?php echo $value[UsersService::USERNAME];?>
			</td>
			<td>
				<?php if($value[ExerciseService::COURSE_ID] == $list[CourseService::ID]){ ?>
				<a class="button" href=<?php echo 'course-details.html?remove=' . $value[ExerciseService::ID] . '&id=' . $list[CourseService::ID]; ?>>remove</a>
				<?php } else { ?>
				<a class="button" href=<?php echo 'course-details.html?add=' . $value[ExerciseService::ID] . '&id=' . $list[CourseService::ID];?>>add</a>
				<?php } ?>
				<a class="button" href=<?php echo 'edit-exercise.html?id=' . $value[ExerciseService::ID];?>>edit</a>
				<a class="button" href=<?php echo 'manage-exercises.html?deleted=' . $value[ExerciseService::ID];?>>delete</a>
			</td>
		</tr>
	<?php } ?>
	</table>
	<?php } ?>
</div>
<?php } ?>