<h1>Edit Category</h1>
<?php 
	$message = $mvc->getObject(CategoriesService::ID); 
	if (isset($message)) { ?>
<div class="center">
	<form action="manage-categories.html" method="post">
		<dl>
	 		<dt>Category Name:</dt> 
	 		<dd><input type="text" name="name" value="<?php $message = $mvc->getObject(CategoriesService::NAME);echo isset($message) ? $message : 'name';?>"/></dd>
		</dl>
		<input type="hidden" name="id" value="<?php $message = $mvc->getObject(CategoriesService::ID);echo isset($message) ? $message : 'id';?>"/>
		<input type="submit" name="submit" value="Submit Changes"/>
	</form>	
</div>
<?php } else {?>
	<span class="message">No category available at this moment.</span>
<?php } ?>