<h1>General MODERATOR Overview</h1>
<div>
	<p>
	Jane Doe, you have taken 8 courses in 3 schools and completed
	11 course levels. You have responded to 5412 challenges. You are
	wearing titles: NLP Practitioner and Shaman and are posessing
	certificates: NLPPr_L3 and SHET_L2. Currently you have subscribed to 2
	schools and 3 courses:
	</p>
</div>

<?php
	$mrSchList = $mvc->getObject('mrSchList');
	if(!isset($mrSchList) || count($mrSchList) == 0){
?>
<span class="message">No schools available at this moment.</span>
<?php } else { ?>

<?php foreach($mrSchList as $key => $value){ ?>
<div>
	<div class="leftPageContent">
	&nbsp;
	<div class="pgItemImg">
		<img src="<?php echo isset($value[SchoolService::AVATAR]) ? $value[SchoolService::AVATAR] : null;?>" alt="" title="" />
	</div>
	<span>
		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 1){ ?>
		<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 2){ ?>
		<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 3){ ?>
		<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 4){ ?>
		<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] >= 5){ ?>
		<a href=""><img src="images/star.png" /></a> <?php }else{ ?> <a href=""><img src="images/gray-star.png" /></a><?php } } ?>
	</span>
	</div>
	<div class="rightPageContent">
		<div class="pgListItem wide">
			<div class="pgItemBody">
				<div>
					
					<h2>
						<a href=<?php echo 'school-details.html?id=' . $value[SchoolService::ID];?>>
							<?php echo isset($value[SchoolService::CAPTION]) ? $value[SchoolService::CAPTION] : null;?>
						</a>
					</h2>
					<div class="description">
						<p><?php echo isset($value[SchoolService::DESCRIPTION]) ? $value[SchoolService::DESCRIPTION] : null;?></p>
					</div>
					<div class="crdate">
						<img alt="Created" src="images/calendar.png">
						<?php echo isset($value[SchoolService::CRDATE]) ? $value[SchoolService::CRDATE] : null;?>
					</div>
					<div class="categories">
						<b>Categories:</b>
						<span>
							<a href="#">NLP</a> 
							<a href="#">Milton</a> 
							<a href="#">DHC</a>
						</span>
					</div>
				</div>
				<div class="pgItemOptions">
					<a class="button" href=<?php echo 'edit-school.html?id=' . $value[SchoolService::ID];?>>Edit</a>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } } ?>




<h2>To contact us: Frequently Asked Questions (FAQ)</h2>
