<h1>Manage Categories</h1>
<?php 		
	$message = $mvc->getObject ( ContentController::RESULT );
	if (isset ( $message ) and count($message) != 0) {
?>
<div class="subHeader">
	<b>Categories List</b>
</div>
<table class="list">
<tr class="title">
	<td>Name:</td>
	<td>Options:</td>
</tr>

<?php foreach($message as $key => $value){ ?>
	<tr  style="border: 1px solid #EFEFEF">
		<td><?php echo $value[CategoriesService::NAME];?></td>
		<td>
			<a class="button" href=<?php echo 'edit-category.html?id=' . $value[CategoriesService::ID];?>>Edit</a>
			<a class="button" href=<?php echo 'manage-categories.html?deleted=' . $value[CategoriesService::ID];?>>Delete</a>
		</td>
	</tr>
<?php } ?>
</table> 
<?php }else{ ?>
	<span class="message">Sorry, there are no categories available at this moment.</span>
	<span class="message">You can create <a href="new-category.html">new</a> category.</span>
<?php } ?>