<h1>New Category</h1>
<div class="center">    
	<?php
		$errors = $mvc->getObject('forward');
		if (isset($errors)){
	?>
	<div class="registration">
		<p>Category was created.</p>
	</div>
	<?php }else{ ?>  
	<form class="reg_form" action="new-category.html" method="post">
		<dl>
			<dt>Category Name:</dt>
			<dd><input type="text" name="name" id="name" size="35" value="<? if(isset($_POST['name'])) echo $_POST['name']; ?>"></input></dd>
		</dl>
		<input type="submit" value="Add Category" id="submit" name="submit"/>
	</form>
	<?php } ?>	
</div>
