body {padding:0; margin:0; background:url('../images/global-bg.png') repeat-x center top; font-family:Tahoma, Geneva, sans-serif; font-size:12px}

ul, li, p, form, h1, h2, h3, h4, h5, h6, dl, dd {padding:0; margin:0; list-style:none}
a {color:#6387AC}
a:hover {text-decoration:none}
img {border:0}
p {font-size:12px; line-height:135%; padding:10px 0}

h1, h2 {font-weight:500; color:#333; padding:0 0 10px 0}
h1 {font-size:22px}
h2 {font-size:16px}
.pgIntro {font-size:14px; color:#666; padding:10px 0 15px 0}
/**/.clnr {clear:both; height:1px; overflow:hidden; font-size:1px}
/**/.brdr {border-top:1px solid #ededed}
.globalSubWrapper {width:960px; margin:0 auto}

.headerWrapper {display:table; width:100%}
	.headerLogo {height:88px; float:left}
	.headerMenu, .footerBody div {width:100%; display:table}
	.headerMenu {overflow:hidden}
		.headerMenu ul {list-style:none; font-size:12px; float:left; margin:0 0 0 -1px}
		.footerBody ul {list-style:none; font-size:12px; float:left; margin:0 0 5px 0}
		.headerMenu ul li, .footerBody ul li {float:left; line-height:28px}
			ul.mainNav li a {color:#666; display:block; text-decoration:none; font-weight:bold; border-left:1px solid #CCC; padding:0 14px}
			ul.mainNav li a:hover {color:#698DB1; background-color:#FFF}
			ul.mainNav li.current a {color:#698DB1; background-color:#FFF}
			ul.userNav {float:right}
			ul.userNav li {margin:0 0 0 10px}
			.footerBody ul.mainNav li a {color:#698DB1; font-weight:normal; display:block; text-decoration:none; border:0; padding:0 14px 0 0; text-decoration:underline}
			.footerBody ul.mainNav li a:hover {color:#666; text-decoration:none}
			.footerBody ul.mainNav li.current a {background-color:#FFF; font-weight:bold; color:#666}

.pageWrapper {padding:25px 0; width:100%; display:table}
			
	.leftPageContent {float: left; width: 120px; height:auto; line-height:25px; text-align:center; background-color: #ededed; border-bottom: 1px solid black; }
	.rightPageContent {float: left; width: 545px; height:auto; border-left: 1px solid black; border-bottom: 1px solid #ededed; margin-bottom: 40px;}
			.button {padding:3px; margin-top:500px; background-color: #ededed; border: 1px solid grey; color: black; text-decoration: none; }
			.button:hover {width: 30px; background-color: #CCC; border: 1px solid grey; color: black; }
	.mainPageContent {float:left; width:672px; margin:0 0 0 14px}
		.pgContentTools {background:url(../images/pg-content-tool-bg.png) repeat-x left top; clear:both; width:100%; display:table}
		.pgContentTools ul {float:right; font-size:11px; padding:5px 0 6px 0; margin:0 10px 0 0}
		.pgContentTools ul li {float:left; list-style:none; padding:4px 2px}

.pgItemsList {}
/*.pgItemsList h2 {padding:5px 10px; background-color:#ededed; float:right}*/
.pgItemsList h2 {float:right}
.pgListItem {margin:15px 0; width:335px; float:left; b-ackground-color:#CCC}
/**/.wide {float:none; width:auto}
.pgListItem  h2 {background:none; padding:0 0 5px 0; float:none}
.pgListItem .pgItemImg {float:left; padding:3px 10px 5px 0; margin-left: 3px;}
.pgListItem .pgItemBody {display:table; height:1%; margin-left: 15px;}
			
.pgListItem	.pgItemOptions {margin-top: 20px; line-height:30px; border-top: 1px solid #ededed; width: 451px;}
.pgListItem	.description {border-left: 2px solid #CCC;}
.pgListItem	.description p {margin: 10px;}
.pgListItem	.crdate {color: gray; font-size: 11px;}
.pgListItem	.categories { margin-top: 10px; width: 100%; height: 30px; line-height:30px; background-color: #E4F0F5;}
.pgListItem	.categories b {margin-left: 10px;}			
.pgListItem	.categories span {font-size: 11px;}
			
.pgListItem .pgItemBody  p {padding:0}
.pgListItem .pgItemBody ul {padding:5px 0 0 0; font-size:11px}
.pgListItem .pgItemBody ul li {margin:1px 0}
.pgListItem .pgItemBody ul li span {color:#999; padding:0 10px 0 0; width:60px; display:inline-block}
.pgListItem .pgItemBody ul li span.lsValue {color:#000; width:auto}
.pgListItem .pgItemBody p {padding:0 15px 0 0}
.extLink {margin:5px 0 0 0}
	.sidePageContent {float:right; width:245px}
	.sidePgItem {background:url('../images/side-pg-bg.png') repeat-x top left #fff; border-bottom:1px solid #ededed; padding:15px 0; margin:0 0 15px 0}
	/**/.sidePageContent h2 {padding:0 5px 10px 33px; background:none; float:none}
	/**/.sidePageContent ul {padding:0 5px 10px 33px}
	/**/.sidePageContent ul li {margin:5px 0; b-ackground:url(../images/arr-list.png) no-repeat 0 5px; p-adding:0 0 0 10px}

.signinForm {padding:0 0 15px 0}
.signinForm p {font-size:11px; padding:10px 25px 0 33px}

.inpTxt {width:100%; border-top:1px solid #666; border-left:1px solid #666; border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.inpChk {vertical-align:middle; margin:0 5px 0 0}
label {vertical-align:middle}
p.btns {text-align:right}

.headerForms {float:right; padding:40px 0 0 0; text-align:right}
form.languages {float:right; margin:1px 0 0 60px}
form.search {float:right}

.footerWrapper {border-top:7px solid #cbcbcb}
.footerBody {width:960px; margin:0 auto; padding:5px 0 15px 20px}
.footerBody p {font-size:11px; color:#666; padding:0}

.error p {margin:0; padding:0; color:red; text-align:center;}
.profile {border: 1px solid #EFEFEF;}
.profile:hover {border: 1px solid #999999;}
.center {text-align: center;}

dl {overflow: hidden;}
dt {clear:both; float:left; text-align:right; width:35%; margin: 2px;}
dd {float:left;	text-align:left; width:58%;	margin: 2px;}

.list {margin: 20px;font-size: 12px;text-align: center;}
.list tr {margin: 0; padding: 0; border: 1px solid #EFEFEF;}
.list td {width: 25%; padding: 5px; border: 1px solid #EFEFEF;}