<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>eBids4U</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jq.base.js"></script>
	<script type="text/javascript" src="js/jq.extend.js"></script>
	<script type="text/javascript" src="js/jq.function.js"></script>
</head>
<body>
<?php 
$title = $mvc->getObject(StaticPageController::TITLE);
$body = $mvc->getObject(StaticPageController::BODY);
?>
<div class="feedbackLink">
	<a href="/feedback.html" title="Feedback">Feedback</a>
</div>
<div class="wrapHeader">
	<div class="wrapInner">
		<?php TemplateEngine::inclusion('header.html', $mvc) ?>
	</div>
</div>
<div class="wrapNav">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/navigation-' . $mvc->getView() . '.html', $mvc)?>
	</div>
</div>
<div class="wrapContent">
	<div class="wrapInner">
		<div class="wrapTitle">
			<div class="viewTHead">
				<h1><?php echo $title; ?></h1>
			</div>
			<!-- extra links on -->
			<div class="viewEHead">
				<p><strong>_i18n{Hotline}: 0800 20 20 20</strong></p>
				<p><a href="mailto:info@angebotholen.at">info@angebotholen.at</a></p>
				<ul>
					<li class="itemMail"><a href="#" title="_i18n{Mail}">_i18n{Mail}</a></li>
					<li class="itemTwitter"><a href="#" title="_i18n{Twitter}">_i18n{Twitter}</a></li>
					<li class="itemFacebook"><a href="#" title="_i18n{Facebook}">_i18n{Facebook}</a></li>
				</ul>
			</div>
			<!-- extra links off -->
		</div>
		<!-- content on -->
		<div class="stationContent">
			<div class="wrapRtf">
				<div class="greyBox">
					<div class="viewWBox">
						<div class="angleT"></div>
						<div class="bodyBox">
							<h2><?php echo $title; ?></h2>
							<div class="unitWBlock unitLast">
								<div class="unitInfo unitRtf">
									<?php echo $body; ?>
								</div>
							</div>
							<div class="unitBtn">
								<button><span><strong>_i18n{Close}</strong></span></button>
							</div>
						</div>
						<div class="angleB"></div>
					</div>
					<!-- fix gradient on -->
					<div class="lineHide"></div>
					<!-- fix gradient off -->
				</div>
			</div>
		</div>
		<!-- content off -->
	</div>
</div>
<div class="wrapFooter">
	<div class="wrapInner">
		<?php TemplateEngine::execute('/footer-' . $mvc->getView() . '.html', $mvc);?>
	</div>
</div>
<div class="wrapBtmLine"><div class="wrapInner"></div></div>
<div class="wrapBanner">
	<div class="wrapInner">
		<a href="#" title="Banner"><img src="images/cnt/contentBanner01.gif" width="172" height="665" alt="Banner" /></a>
	</div>
</div>
</body>
</html>