<?php $crnt = $mvc->getView();?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="current"';?>><a href="/" title="Project">Projects</a></li>
	<li <?php if($crnt == 'navigation-trainings') echo 'class="current"';?>><a href="trainings.html" title="Training">Trainings</a></li>
	<li <?php if($crnt == 'navigation-users') echo 'class="current"';?>><a href="users.html" title="User">Users</a></li>
	<li <?php if($crnt == 'navigation-admins') echo 'class="current"';?>><a href="admins.html" title="Admin">Admins</a></li>
</ul>
<ul class="userNav">
	<!--<li>Welcome!&nbsp;<a href="login.html" title="Sign in to YouCademy account">Sign in</a>&nbsp;or&nbsp;<a href="registration.html" title="Register your YouCademy account">register</a></li>-->
	<li>Welcome <b>John Smmit!</b></li>
</ul>