<?php 
	$crnt = $mvc->getView();
?>
<div class="bodyBox" id="navMenu">
	<h2>_i18n{Navigation}</h2>
	<div class="viewMenu">
		<ul>
			<li <?php if($crnt == 'sidebar-manageusers') echo 'class="itemActive"';?>><a href="/manage-users.html" title="_i18n{Manage Users}">_i18n{Manage Users}</a></li>
			<li <?php if($crnt == 'sidebar-managecategory') echo 'class="itemActive"';?>><a href="/manage-category.html" title="_i18n{Manage Category}">_i18n{Manage Category}</a></li>
			<li <?php if($crnt == 'sidebar-category') echo 'class="itemActive"';?>><a href="#/new-category.html" title="_i18n{Create New Category}">-&nbsp;_i18n{New Category}</a></li>
			<li <?php if($crnt == 'sidebar-subcategory') echo 'class="itemActive"';?>><a href="#/new-subcategory.html" title="_i18n{Create New SubCategory}">-&nbsp;_i18n{New SubCategory}</a></li>
		</ul>
	</div>
</div>