<?php 
	$crnt = $mvc->getView();
	$new_mails = $mvc->getObject(MailService::NEW_MAILS);
?>
<div class="bodyBox" id="navMenu">
	<h2>_i18n{Navigation}</h2>
	<div class="viewMenu">
		<ul>
			<li <?php if($crnt == 'sidebar-manageusers') echo 'class="itemActive"';?>><a href="/manage-users.html" title="_i18n{Manage Users}">_i18n{Manage Users}</a>
<?php if($crnt == 'sidebar-manageusers' || $crnt == 'sidebar-newuser') { ?>
				<ul>
					<li <?php if($crnt == 'sidebar-newuser') echo 'class="itemActive"';?>><a href="/new-user.html" title="_i18n{Create New User}">_i18n{Create New User}</a></li>
				</ul>
<?php } ?>
			</li>
			<li <?php if($crnt == 'sidebar-managecategory') echo 'class="itemActive"';?>><a href="/manage-category.html" title="_i18n{Category Management}">_i18n{Category Management}</a></li>
			<li <?php if($crnt == 'sidebar-managestaticblock' || $crnt == 'sidebar-newblock'  || $crnt == 'sidebar-viewblock'  || $crnt == 'sidebar-editblock' ) echo 'class="itemActive"';?>><a href="/manage-static-block.html" title="_i18n{Static Block Management}">_i18n{Static Block Management}</a>
			<li <?php if($crnt == 'sidebar-mymail' || $crnt == 'sidebar-newmail' || $crnt == 'sidebar-viewmail' || $crnt == 'sidebar-inbox' || $crnt == 'sidebar-outbox' || $crnt == 'sidebar-trash') echo 'class="itemActive"';?>><a href="/my-mail.html" title="_i18n{My Messages}">_i18n{My Messages} <?php echo $new_mails!=0 ? '('.$new_mails.')':null;?></a>
<?php if($crnt == 'sidebar-mymail' || $crnt == 'sidebar-newmail' || $crnt == 'sidebar-viewmail' || $crnt == 'sidebar-inbox' || $crnt == 'sidebar-outbox' || $crnt == 'sidebar-trash') { ?>
				<ul>
					<li <?php if($crnt == 'sidebar-inbox') echo 'class="itemActive"';?>><a href="/inbox.html" title="_i18n{Inbox}">_i18n{Inbox}  <?php echo $new_mails!=0 ? '('.$new_mails.')':null;?></a></li>
					<li <?php if($crnt == 'sidebar-outbox') echo 'class="itemActive"';?>><a href="/outbox.html" title="_i18n{Outbox}">_i18n{Outbox}</a></li>
					<li <?php if($crnt == 'sidebar-trash') echo 'class="itemActive"';?>><a href="/trash.html" title="_i18n{Trash}">_i18n{Trash}</a></li>
				</ul>
<?php } ?>
			</li>
			
		</ul>
	</div>
</div>