<?php $crnt = $mvc->getView();?>
<div class="footerBody">
	<div>
		<ul class="mainNav">
			<li<?php if($crnt == 'footer-home') echo ' class="current"';?>><a href="/" title="">Projects</a></li>
			<li<?php if($crnt == 'footer-trainings') echo ' class="current"';?>><a href="trainings.html" title="Trainings">Trainings</a></li>
			<li<?php if($crnt == 'footer-users') echo ' class="current"';?>><a href="users.html" title="Users">Users</a></li>
			<li<?php if($crnt == 'footer-admins') echo ' class="current"';?>><a href="admins.html" title="Admins">Admins</a></li>
		</ul>
	</div>
	<p>(c) Copyright 2010 Trainings Boocking. All rights reserved.</p>
</div>