<div class="sidePgItem">
	<?php	
		$message = $mvc->getObject('message');
		if(isset($message)){
			echo '<p>' . $message . '</p>';
		} else {
	?>
	<h2>YouCademy account</h2>
	<?php }	?>
	<div class="signinForm">
		<form action="login.html" method="post">
			<p><label>Username:</label><br /><input type="text" class="inpTxt" name="username"/></p>
			<p><label>Password:</label><br /><input type="password" class="inpTxt" name="password"/></p>
			<p><input type="checkbox" class="inpChk" id="ss" name="persistent"/><label for="ss">Stay signed in</label></p>
			<p class="btns"><input type="submit" value="Sign In" /></p>
		</form>
		<?php echo !isset($message) ? '<p><a href="reset-password.html">Forgot password?</a></p>' : null; ?>
	</div>
</div>