<div class="wrapSide">
	<div class="viewCatalog">
		<div class="angleT"></div>
		<div class="bodyBox">
			<h2>Schnäppchen Katalog</h2>
			<ul>
				<li class="itemFirst">
					<a href="#" title="Digitalkamara &amp; Co">
						<img src="images/cnt/contentImg01.gif" alt="Digitalkamara &amp; Co" />
						<span>Digitalkamara &amp; Co</span>
					</a>
				</li>
				<li>
					<a href="#" title="Notebook &amp; Co">
						<img src="images/cnt/contentImg02.gif" alt="Notebook &amp; Co" />
						<span>Notebook &amp; Co</span>
					</a>
				</li>
				<li>
					<a href="#" title="Möbel">
						<img src="images/cnt/contentImg03.gif" alt="Möbel" />
						<span>Möbel</span>
					</a>
				</li>
				<li>
					<a href="#" title="Haushaltgeräte">
						<img src="images/cnt/contentImg04.gif" alt="Haushaltgeräte" />
						<span>Haushaltgeräte</span>
					</a>
				</li>
				<li>
					<a href="#" title="Mode &amp; Accessoires">
						<img src="images/cnt/contentImg05.gif" alt="Mode &amp; Accessoires" />
						<span>Mode &amp; Accessoires</span>
					</a>
				</li>
				<li>
					<a href="#" title="Handy &amp; Co">
						<img src="images/cnt/contentImg06.gif" alt="Handy &amp; Co" />
						<span>Handy &amp; Co</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="angleB"></div>
	</div>
</div>