<div class="headerWrapper">
	<div class="headerLogo">
		<a href="/" title=""><img src="images/logo.png" alt="" title="" style="margin:15px 0 0 0" /></a>
	</div>
	<div class="headerForms">
		<form action="" class="languages">
			<select>
				<option>Select language:</option>
				<option selected="selected">English</option>
				<option>Russian</option>
			</select>
		</form>
	</div>
	<div class="headerMenu">
	<!--  Navigation block begin -->
<?php TemplateEngine::execute('/navigation-' . $mvc->getView() . '.html', $mvc)?>
	<!--  Navigation block end -->	
	</div>
</div>