<?php $crnt = $mvc->getView();?>
<div class="footerBody">
	<div>
		<ul class="mainNav">
			<li <?php if($crnt == 'navigation-home') echo 'class="current"';?>><a href="/" title="">Projects</a></li>
			<li <?php if($crnt == 'navigation-trainings') echo 'class="current"';?>><a href="trainings.html" title="Trainings">Trainings</a></li>
			<li <?php if($crnt == 'navigation-users') echo 'class="current"';?>><a href="users.html" title="Users">Users</a></li>
			<li <?php if($crnt == 'navigation-admins') echo 'class="current"';?>><a href="admins.html" title="Admins">Admins</a></li>
		</ul>
	</div>
	<p>(c) Copyright 2010 Trainings Boocking. All rights reserved.</p>
</div>