<div class="y_direct">
	<script type="text/javascript">
	//<![CDATA[
	yandex_partner_id = 43623;
	yandex_site_bg_color = 'FFFFFF';
	yandex_site_charset = 'windows-1251';
	yandex_ad_format = 'direct';
	yandex_font_size = 1;
	yandex_direct_type = 'horizontal';
	yandex_direct_border_type = 'block';
	yandex_direct_limit = 2;
	yandex_direct_header_bg_color = 'FF964B';
	yandex_direct_bg_color = 'FBFBFB';
	yandex_direct_border_color = 'D0DBE1';
	yandex_direct_title_color = '6E7B83';
	yandex_direct_url_color = 'FF964B';
	yandex_direct_all_color = '0000CC';
	yandex_direct_text_color = '000000';
	yandex_direct_hover_color = '6E7B83';
	yandex_direct_favicon = true;
	document.write('<sc'+'ript type="text/javascript" src="http://an.yandex.ru/system/context.js"></sc'+'ript>');
	//]]>
	</script>
</div>