<h2>Admins Manage Users</h2>	
<div class="center">
	<div class="error">
 		<?php
			$errors = $mvc->getObject(UsersService::ERROR);
			if (isset($errors)){
				foreach ($errors as $key => $value){
					echo '<p>' . $value . '</p>';
				}
			}
	 	?>
	</div>
	<form enctype="multipart/form-data" action="edit-course.html" method="post">
		<dl>
			<dt>ID:</dt>
	 		<dd>
	 		<input type="hidden" name="id" value="<?php $message = $mvc->getObject(CourseService::ID);echo isset($message) ? $message : 'id';?>"/>
	 		<?php $message = $mvc->getObject(CourseService::ID);echo isset($message) ? $message : 'id';?>
	 		</dd>
			<dt>Course Name:</dt>
			<dd><input type="text" name="caption" id="caption" size="35" value="<?php $message = $mvc->getObject(CourseService::CAPTION);echo isset($message) ? $message : null;?>"/></dd>
			<dt>Description:</dt>
			<dd><textarea rows="10" cols="28"  name="description" id="description"><?php $message = $mvc->getObject(CourseService::DESCRIPTION);echo isset($message) ? $message : null;?></textarea></dd>
			<dt>Level:</dt>
			<dd>
			<select name="level" >
				<option><?php $message = $mvc->getObject(CourseService::LEVEL);echo isset($message) ? $message : null;?></option>
				<?php if ($message != 1) { ?> <option>1</option> <?php } ?>
				<?php if ($message != 2) { ?> <option>2</option> <?php } ?>
				<?php if ($message != 3) { ?> <option>3</option> <?php } ?>
				<?php if ($message != 4) { ?> <option>4</option> <?php } ?>
				<?php if ($message != 5) { ?> <option>5</option> <?php } ?>
				<?php if ($message != 6) { ?> <option>6</option> <?php } ?>
				<?php if ($message != 7) { ?> <option>7</option> <?php } ?>
			</select>
			</dd>
			<dt>School:</dt>
			<dd><input type="text" name="school_id" id="school_id" size="35" value="<?php $message = $mvc->getObject(CourseService::SCHOOL_ID);echo isset($message) ? $message : null;?>"/></dd>
			<dt>Avatar(80x80) :</dt>
			<dd>
			<img alt="none avatar" src="<?php $message = $mvc->getObject(CourseService::AVATAR);echo isset($message) ? $message : null;?>">
			<input type="file" name="file" size="30" ></input>
			</dd>
			<dd>
			<input type="hidden" name="alias" id="alias" value="<?php $message = $mvc->getObject(CourseService::ALIAS);echo isset($message) ? $message : null;?>"/>
			</dd>
		</dl>
		<input type="submit" name="submit" value="Submit Changes"/>
	</form>	
</div>
