<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No exercises available at this moment.</span>
<?php } else { ?>
<div>
	<h2><?php echo isset($list[0][ExerciseService::CAPTION]) ? $list[0][ExerciseService::CAPTION] : null;?></h2>
	<p>
	Owner: <?php echo isset($list[0][ExerciseService::OWNER]) ? $list[0][ExerciseService::OWNER] : null;?>
	</p>
	<p>
	Rate:
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 0){ ?>
	<a href="">[0]</a> <?php }else{ ?> <a href="">0</a> <?php } } ?> 
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 1){ ?>
	<a href="">[1]</a> <?php }else{ ?> <a href="">1</a> <?php } } ?>
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 2){ ?>
	<a href="">[2]</a> <?php }else{ ?> <a href="">2</a> <?php } } ?>
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 3){ ?>
	<a href="">[3]</a> <?php }else{ ?> <a href="">3</a> <?php } } ?>
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 4){ ?>
	<a href="">[4]</a> <?php }else{ ?> <a href="">4</a> <?php } } ?>
	<?php if(isset($list[0][ExerciseService::RATE])){ if($list[0][ExerciseService::RATE] == 5){ ?>
	<a href="">[5]</a> <?php }else{ ?> <a href="">5</a> <?php } } ?>
	</p>
	<p><?php echo isset($list[0][ExerciseService::DESCRIPTION]) ? $list[0][ExerciseService::DESCRIPTION] : null;?></p>
</div>
<?php }?>
<span class="message">
	Please adjust your web camera position and lighting so that you can clearly see yourself. 
	You must also see distinctive movement of the volume bar while you are speaking. The image and sound from your 
	web camera  and microphone will be recorded as soon as the challenge starts. The valuation can be based upon 
	your nonverbal signals during communication, not only words!
</span>