<form action="manage-users.html" method="post">
		<div class="user">
			<b>Admins Manage Users:</b>
			<a href="add-user.html">Add User</a>
		</div>
		<div class="user">
				<ul class="manage">
				<li>User Name:</li>
				<li>First Name:</li>
				<li>Last Name:</li>
				<li>Role:</li>
				<li>Operations:</li>
				</ul>
		</div>
		<?php 		
			$message = $mvc->getObject ( ContentController::RESULT );
			if (isset ( $message )) {
				for($i = 0; count($message)>$i; $i++){
		?>
		<div>
			<ul class="manage">
				<li><?php echo isset($message[$i][UsersService::USERNAME]) ? $message[$i][UsersService::USERNAME] : null;?></li>
				<li><?php echo isset($message[$i][UsersService::FIRSTNAME]) ? $message[$i][UsersService::FIRSTNAME] : null;?></li>
				<li><?php echo isset($message[$i][UsersService::LASTNAME]) ? $message[$i][UsersService::LASTNAME] : null;?></li>
				<li><?php echo isset($message[$i][UsersService::ROLE]) ? $message[$i][UsersService::ROLE] : null;?></li>
				<li>
					<a href=<?php echo 'edit-user.html?id=' . $message[$i][UsersService::ID]?>>edit</a>
					<a href=<?php echo 'manage-users.html?deleted=' . $message[$i][UsersService::ID]?>>delete</a>
				</li>
			</ul>
		</div>
		<?php
				}
			}
		?> 
		

</form>
