<h2>Manage Exercises</h2>
<span class="subMnu">
	<a href="/new-exercise.html" title="Create New Exercise">New...</a>
</span>
<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No exercises available at this moment.</span>
<?php } else { ?>

<div class="title">
	<ul class="manage">
		<li>Caption:</li>
		<li>Owner:</li>
		<li>Rate:</li>
		<li>Description:</li>
		<li>Delete:</li>
	</ul>
</div>
<?php foreach($list as $key => $value){ ?>
<div>
	<ul class="manage userlist">
		<li>
			<a href=<?php echo 'edit-exercise.html?id=' . $value[ExerciseService::ID];?>>
				<?php echo isset($value[ExerciseService::CAPTION]) ? $value[ExerciseService::CAPTION] : null;?>
			</a>
		</li>
		<li><?php echo isset($value[ExerciseService::OWNER]) ? $value[ExerciseService::OWNER] : null;?></li>
		<li><?php echo isset($value[ExerciseService::RATE]) ? $value[ExerciseService::RATE] : null;?></li>
		<li><?php echo isset($value[ExerciseService::DESCRIPTION]) ? $value[ExerciseService::DESCRIPTION] : null;?></li>
		<li><a href=<?php echo 'manage-exercises.html?deleted=' . $value[ExerciseService::ID];?>>delete</a></li>
	</ul>
</div>

<?php } } ?>