<h1>New Exercise</h1>
<div class="center">       
	<div class="error">
 		<?php
			$errors = $mvc->getObject(UsersService::ERROR);
			if (isset($errors)){
				foreach ($errors as $key => $value){
					echo '<p>' . $value . '</p>';
				}
			}
	 	?>
	</div>
	<form class="reg_form" action="new-exercise.html" method="post">
		<dl>
			<dt>Exercise Name:</dt>
			<dd><input type="text" name="caption" id="caption" size="35" value="<? echo isset($_POST[ExerciseService::CAPTION]) ? $_POST[ExerciseService::CAPTION] : null; ?>"/></dd>
			<dt>Description:</dt>
			<dd><textarea rows="10" cols="28"  name="description" id="description"><? echo isset($_POST[ExerciseService::DESCRIPTION]) ? $_POST[ExerciseService::DESCRIPTION] : null; ?></textarea></dd>
			<dt>Video for exercise:</dt>
			<dd><input type="text" name="video" id="video" size="35" value="<? echo isset($_POST[ExerciseService::VIDEO]) ? $_POST[ExerciseService::VIDEO] : null; ?>"/></dd>
		</dl>
		<input type="submit" value="Add Exersice" id="submit" name="submit"></input>
	</form>
</div>