<h1>About YouCademy.net</h1>
<div class="about">
	<p>
	YouCademy.net is a platform for computer aided learning (CAL),
	that enables schools to transmit their skill building methods to
	students via internet.
	</p>
	<ul>
		<li>In the modern world many people are striving for information and self-improvement. But due to time and/or financial restrictions
they are often unable to attend formal training</li>
		<li>That's why more and more people are trying to get not only their knowledge, but also their skillswhile learning alone,
sometimes using computer based tools. While this could be possible in some areas, in the most cases these efforts are doomed
to failure, due to the non-interactive nature of all available tools. Not only lack of motivation, but in the first place the lack of
competent feedback and human controlling are the problem</li>
		<li>We are developing a new eLearning tool aimed to face the mentioned challenge. It's distinctive features are:
			<ul class="inner">
				<li>Most exercises are put in by users and the execution is valuated by users. The users are motivated to contribute for points, grades
and monthly fee reduction</li>
				<li>Exercises themselves are also rated by users (same motivation), so that students are usually confronted with high quality stuff</li>
				<li>"School moderators" only control the available exercise groups, training targets/success criteria and sort out violation cases, like
spam. They create the "training structure", while community creates the content</li>
				<li>All content items can use any available multimedia channels (audio/video/sensory devices) for input and output. This way real time
multimodal responses can be trained and valuated</li>
				<li>Usually the exercises are challenge-response scenarios where the "challenge" is an HQ video and the response is real-time
recording from the user's web camera. The valuation of the execution is made shortly after the recording by other users. This may
include text comments, audio or video to explain the grade</li>
				<li>Skills relying on gestures, voice tone, facial expression etc. can be learned effectively thanks to quick feedback on real-time
response recording</li>
				<li>The platform provides Facebook integration for faster community growth and convenience
			</ul>
		</li>	
		<li>This platform will be the tool of choice for learning of:
			<ul class="inner">
				<li><b>Persuasion and Sales</b> because of the need for rapid calibration, congruency, spontaneous reaction (working with resistance)</li>
				<li><b>Management</b> - congruency, self presentation, getting used to known problematic situations</li>
				<li><b>Dating skills</b> - congruency, self presentation, calibration, reaction, getting used to in-field situations</li>
				<li><b>Neuro Linguistic Programming (NLP)</b> - calibration, reaction</li>
				<li><b>Ericksonian Hypnosis</b> - calibration, reaction, continuity</li>
				<li>Other <b>communication</b> and <b>psychotherapy</b> related topics</li>
				<li><b>Theater</b> skills</li>
				<li><b>Voicetraining</b> etc.</li>
			</ul>
		</li>
	</ul>
</div>