<h1>Hi! Ready to register with YouCademy?</h1>
<p>It's your typical registration - it's free and fairly simple to complete.
Already registered or want to make changes to your account? <a href="login.html" title="Sign in to YouCademy account">Sign in</a></p>
<?php	$errors = $mvc->getObject(UsersService::ERROR);
		if (isset($errors)){?>
			<div class="error">
				<ul>
<?php			foreach ($errors as $key => $value){
					echo '<li>' . $value . '</li>'; }?>
				</ul>
			</div>
<?php 	} ?>
<h2>Tell us about yourselft</h2>
<div class="signinForm">
	<form action="registration.html" method="post">
			<p><label>Username:</label><br /><input type="text" class="inpTxt" name="username" value="<? if(isset($_POST['username'])) echo $_POST['username']; ?>"/></p>
			<p><label>First Name:</label><br /><input type="text" class="inpTxt" name="firstname" value="<? if(isset($_POST['firstname'])) echo $_POST['firstname']; ?>"/></p>
			<p><label>Last Name:</label><br /><input type="text" class="inpTxt" name="lastname" value="<? if(isset($_POST['lastname'])) echo $_POST['lastname']; ?>"/></p>
			<p><label>Your Email:</label><br /><input type="text" class="inpTxt" name="email" value="<? if(isset($_POST['email'])) echo $_POST['email']; ?>"/></p>
			<p><label>Password:</label><br /><input type="password" class="inpTxt" name="password"/></p>
			<p><label>Repeat Password:</label><br /><input type="password" class="inpTxt" name="confirm_password"/></p>
			<p class="btns"><input type="submit" value="Sign Up"  value="Sign up" id="submit" name="submit"/></p>
	</form>
</div>
