<h1>List of YouCademy schools</h1>
<p>
	Here you can select the schools you wish to learn from. Every
	school has its own rules and fees, please see school details for more
	information.
</p>
<div class="pgContentTools">
	<ul>
    	<li>Sort by:</li>
        <li><a href="?<?php echo SchoolService::RATE ?>=<?php if (isset($_GET[SchoolService::RATE])){echo $_GET[SchoolService::RATE]==SQLClient::DESC ? SQLClient::ASC : SQLClient::DESC;} else {echo SQLClient::DESC;} ?>" title="">rating</a></li>
        <li><a href="?<?php echo SchoolService::LANGUAGE ?>=<?php if (isset($_GET[SchoolService::LANGUAGE])){echo $_GET[SchoolService::LANGUAGE]==SQLClient::DESC ? SQLClient::ASC : SQLClient::DESC;} else {echo SQLClient::DESC;} ?>" title="">languages</a></li>
        <li><a href="#" title="">courses</a></li>
    </ul>
</div>
<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No school available at this moment.</span>
<?php } else { ?>

<?php foreach($list as $key => $value){ ?>

<div class="pgItemsList">
	<div class="pgListItem">
	<div class="pgItemImg"><a href="<?php echo 'school-details.html?id=' . $value[SchoolService::ID];?>" title="avatar"><img src="<?php echo isset($value[SchoolService::AVATAR]) ? $value[SchoolService::AVATAR] : null;?>" alt="" title="" /></a></div>
	   <div class="pgItemBody">
	   	<h2><a href="<?php echo 'school-details.html?id=' . $value[SchoolService::ID];?>" title="School details">
	  	<?php echo isset($value[SchoolService::CAPTION]) ? $value[SchoolService::CAPTION] : null;?>
	   	</a></h2>
	       <p><?php echo isset($value[SchoolService::DESCRIPTION]) ? $value[SchoolService::DESCRIPTION] : null;?></p>
	       <ul>
       		<li>
	       		<span>Rating:</span><span class="lsValue">
	       		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] == 1){ ?>*<?php } } ?> 
	       		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] == 2){ ?>**<?php } } ?>
	       		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] == 3){ ?>***<?php } } ?>
	       		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] == 4){ ?>****<?php } } ?>
	       		<?php if(isset($value[SchoolService::RATE])){ if($value[SchoolService::RATE] == 5){ ?>*****<?php } } ?>
				</span>
			</li>
          	<li><span>Students:</span><span class="lsValue">1258</span></li>
          	<li><span>Courses:</span><span class="lsValue">2</span></li>
         	<li><span>Language:</span><span class="lsValue"><?php echo isset($value[SchoolService::LANGUAGE]) ? $value[SchoolService::LANGUAGE] : null;?></span></li>
         	<li><span>Base fee:</span><span class="lsValue">$0-$15 / mon</span></li>
         	<li><span>Subjects:</span><span class="lsValue">NLP, DHE, SHE</span></li>
	       </ul>
	       <p class="extLink"><a href="<?php echo 'school-details.html?id=' . $value[SchoolService::ID];?>" title="View">View</a></p>
		</div>
    </div>
    
    
    <?php if($key%2){ ?>
	<div class="clnr brdr">&nbsp;</div>
	<?php } ?>
	
</div>

<?php } }?>
