<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Home</title>
	<link href="styles/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- page header begin -->
	<div id="header" class="ext">
		ITO Global
	</div>
	<!-- page header end -->
	
	<div id="middle" class="ext">
	
	<!-- page navigation begin -->
	<div id="nav">
		Navigation
	</div>
	<!-- page navigation end -->
	
	<!-- page content begin -->
	<div id="content">	
		Content
	</div>
	<!-- page content end -->	
	</div>
	
	<!-- page footer begin -->
	<div id="footer" class="ext"></div>
	<!-- page footer end -->


</body>
</html>