<h1>Please enter your new password.</h1>
<?php	$errors = $mvc->getObject(UsersService::ERROR);
		if (isset($errors)){?>
			<div class="error">
				<ul>
<?php			foreach ($errors as $key => $value){
					echo '<li>' . $value . '</li>'; }?>
				</ul>
			</div>
<?php 	} ?>

<div class="center">
	<form action="new-password.html" method="post">
		<dl>
			<dt>Password:</dt>
			<dd>
				<input type="password" name="password" id="password" size="35"/>
			</dd>
			<dt>Confirm Password:</dt>
			<dd>
				<input type="password" name="confirm_password" id="confirm_password" size="35"/>
			</dd>
		</dl>
		<input type="hidden" name="email" id="email" value="<?php $result = $mvc->getObject('email'); if($result) echo ($result);?>"></input>
		<input type="hidden" name="validation_id" id="validation_id" value="<?php $result = $mvc->getObject('validation_id'); if($result) echo ($result);?>"></input>
		<input type="submit" value="Submit"/>
	</form>
</div>