@CHARSET "UTF-8";

html, body {margin:0;padding:0;font-family:Tahoma,Geneva,sans-serif}

h1, div.footer {display:block;width:80%}
h1, div.footer, input.submitBtn {background-color:#004071;color:#FFFFFF;}

h1 {height:20px;line-height:20px;margin:90px auto 0;font-weight:bold;font-size:12px;text-transform:uppercase;word-spacing:5px;letter-spacing:1px}

h1 img {float:left;margin-top:-69px;vertical-align:top}

h1 b {display:block;float:left;height:20px;line-height:20px;margin:0 10px}

h1 a {color: #FFFFFF; float:right;margin-right:20px;}

fieldset.loginFrm {display:block;width:250px;margin:100px auto;font-size:12px;color:#004071;border:1px solid #004071;padding:0 20px 20px}
fieldset.loginFrm legend {color:black;line-height:14px}
input.submitBtn {border:1px solid #004071;margin-left:10px;padding:0 10px;cursor:pointer;text-align:center}

div.footer {position:absolute;margin-left:10%;bottom:0px;height:60px;font-size:10px;text-align:center;}
div.footer p {margin:10px 0}
div.footer a {color:#FBA615}
