<?php $crnt = $mvc->getView();?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="current"';?>><a href="/" title="Home">Home</a></li>
	<li <?php if($crnt == 'navigation-schools') echo 'class="current"';?>><a href="schools.html" title="Schools">Schools</a></li>
	<li <?php if($crnt == 'navigation-community') echo 'class="current"';?>><a href="community.html" title="Community">Community</a></li>
	<li <?php if($crnt == 'navigation-discussions') echo 'class="current"';?>><a href="discussions.html" title="Discussions">Discussions</a></li>
	<li <?php if($crnt == 'navigation-about') echo 'class="current"';?>><a href="about.html" title="About YouCademy">About YouCademy</a></li>
</ul>
<ul class="userNav">
	<li>Welcome!&nbsp;<a href="login.html" title="Sign in to YouCademy account">Sign in</a>&nbsp;or&nbsp;<a href="registration.html" title="Register your YouCademy account">register</a></li>
</ul>