<?php $crnt = $mvc->getView();?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-for-entrepreneurs') echo 'class="itemActive"';?>><a href="/for-entrepreneurs.html" title="_i18n{Home}">Für Unternehmer</a></li>
	<li <?php if($crnt == 'navigation-industries') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">Branchenverzeichnis</a></li>
	<li <?php if($crnt == 'navigation-sale-opportunities') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">Schnäppchen</a></li>
</ul>
<ul class="userNav">
	<li><a href="login.html" title="_i18n{Login}">_i18n{Login}</a></li>
	<li><a href="forgot-password.html" title="_i18n{Forgot password?}">_i18n{Forgot password?}</a></li>
</ul>