<?php $crnt = $mvc->getView();?>
<ul class="userNav">
	<li <?php if($crnt == 'navigation-registration') echo 'class="itemActive"';?>>
	<a class="linkBtn" href="registration.html" title="_i18n{Register}"><span><strong>_i18n{Register}</strong></span></a>
	</li>
	<li <?php if($crnt == 'navigation-login') echo 'class="itemActive"';?>>
	<a class="linkBtn" href="login.html" title="_i18n{Login}"><span><strong>_i18n{Login}</strong></span></a>
	</li>
</ul>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-about') echo 'class="itemActive"';?>><a href="/about.html" title="_i18n{About Us}">_i18n{About Us}</a></li>
</ul>
