<?php
	$list = $mvc->getObject('list');
	if(!isset($list) || count($list) == 0){
?>
<span class="message">No exercises available at this moment.</span>
<?php } else { ?>
<?php foreach($list as $key => $value){ ?>
<div class="pgItemsList">
	<div class="pgListItem wide">
	   <div class="pgItemBody">
	   	<h1><?php echo isset($value[ExerciseService::CAPTION]) ? $value[ExerciseService::CAPTION] : null;?></h1>
	       <ul>
       		<li>
	       		<span>Rating:</span><span class="lsValue">
	       		<?php if(isset($value[ExerciseService::RATE])){ if($value[ExerciseService::RATE] == 1){ ?>*<?php } } ?> 
	       		<?php if(isset($value[ExerciseService::RATE])){ if($value[ExerciseService::RATE] == 2){ ?>**<?php } } ?>
	       		<?php if(isset($value[ExerciseService::RATE])){ if($value[ExerciseService::RATE] == 3){ ?>***<?php } } ?>
	       		<?php if(isset($value[ExerciseService::RATE])){ if($value[ExerciseService::RATE] == 4){ ?>****<?php } } ?>
	       		<?php if(isset($value[ExerciseService::RATE])){ if($value[ExerciseService::RATE] == 5){ ?>*****<?php } } ?>
				</span>
			</li>
          	<li><span>Students:</span><span class="lsValue">1258</span></li>
         	<li><span>Language:</span><span class="lsValue">English</span></li>
         	<li><span>Level:</span><span class="lsValue"><?php //echo isset($value[ExerciseService::LEVEL]) ? $value[ExerciseService::LEVEL] : null;?></span></li>
         	<li><span>Base fee:</span><span class="lsValue">$0-$15 / mon</span></li>
         	<li><span>Subjects:</span><span class="lsValue">NLP, DHE, SHE</span></li>
         	<li><span>Owner:</span><span class="lsValue"><?php echo isset($value[ExerciseService::OWNER]) ? $value[ExerciseService::OWNER] : null;?></span></li>
	       </ul>
		 <p><?php echo isset($value[ExerciseService::DESCRIPTION]) ? $value[ExerciseService::DESCRIPTION] : null;?></p>
		 <p><?php echo isset($value[ExerciseService::VIDEO]) ? $value[ExerciseService::VIDEO] : null;?></p>
		</div>
    </div>
    <?php if($key%2){ ?>
	<div class="clnr brdr">&nbsp;</div>
	<?php } ?>
</div>
<?php } } ?>
<p><a href="start-challenge.html?username=1">Start Challenge</a></p>
<span class="message">
	Please adjust your web camera position and lighting so that you can clearly see yourself. 
	You must also see distinctive movement of the volume bar while you are speaking. The image and sound from your 
	web camera  and microphone will be recorded as soon as the challenge starts. The valuation can be based upon 
	your nonverbal signals during communication, not only words!
</span>