<?php 
	$crnt = $mvc->getView();
	$usr = SessionService::getAttribute(SessionService::USERNAME);
?>
<ul class="mainNav">
	<li <?php if($crnt == 'navigation-home') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">_i18n{Home}</a></li>
	<li <?php if($crnt == 'navigation-forentrepreneurs') echo 'class="itemActive"';?>><a href="/" title="_i18n{For Entrepreneurs}">Für Unternehmer</a></li>
	<li <?php if($crnt == 'navigation-industries') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">Branchenverzeichnis</a></li>
	<li <?php if($crnt == 'navigation-sale-opportunities') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">Schnäppchen</a></li>
	<li <?php if($crnt == 'navigation-my-account') echo 'class="itemActive"';?>><a href="/" title="_i18n{Home}">My account</a></li>
</ul>
<ul class="userNav">
	<li>_i18n{You are logged in as} <b><?php echo $usr;?></b>.</li>
	<li><a href="/logout.html" title="_i18n{Sign out}">_i18n{Sign out}</a></li>
</ul>