<div class="counters">
	<!--bigmir)net TOP 100 begin -->
	<script type="text/javascript" language="javascript"><!--
		bmN=navigator,bmD=document,bmD.cookie='b=b',i=0,bs=[],bm={v:115528,s:115528,t:8,c:bmD.cookie?1:0,n:Math.round((Math.random()* 1000000)),w:0};
		for(var f=self;f!=f.parent;f=f.parent)bm.w++;
		try{if(bmN.plugins&&bmN.mimeTypes.length&&(x=bmN.plugins['Shockwave Flash']))bm.m=parseInt(x.description.replace(/([a-zA-Z]|s)+/,''));
		else for(var f=3;f<20;f++)if(eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.'+f+'")'))bm.m=f;}catch(e){;}
		try{bm.y=bmN.javaEnabled()?1:0;}catch(e){;}
		try{bmS=screen;bm.v^=bm.d=bmS.colorDepth||bmS.pixelDepth;bm.v^=bm.r=bmS.width;}catch(e){;}
		r=bmD.referrer.slice(7);if(r&&r.split('/')[0]!=window.location.host){bm.f=escape(r);bm.v^=r.length;}
		bm.v^=window.location.href.length;for(var x in bm)if(x===''||x=='v'||x=='s'||x=='t'||x=='c'||x=='n'||x=='w'||x=='m'||x=='y'||x=='d'||x=='r'||x=='f')bs[i++]=x+bm[x];
		bmD.write('<a href="http://www.bigmir.net/" target="_blank" onClick="img=new Image();img.src=&quot;http://www.bigmir.net/?cl=115528&quot;;"><img src="http://c.bigmir.net/?'+bs.join('&')+'"  width="88" height="31" border="0" alt="bigmir)net TOP 100" title="bigmir)net TOP 100" /></a>');
	//--></script>
	<!--bigmir)net TOP 100 end -->
	
	<!-- begin of Top100 code -->
	<a href="http://top100.rambler.ru/top100/"><img src="http://counter.rambler.ru/top100.cnt?1419219" alt="" width="1" height="1" border="0" /></a>
	<!-- end of Top100 code -->
	<!-- begin of Top100 logo -->
	<a href="http://top100.rambler.ru/top100/"><img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-black2.gif" alt="Rambler's Top100" width="88" height="31" border="0" /></a>
	<!-- end of Top100 logo -->
	
	<!-- BEGIN OF MyTOP CODE v5.3 -->
	<script type="text/javascript" language="javascript">//<!--
		mtI="111905121500";mtG="45";mtT="2";mtS='http://111905121500.c.mystat-in.net/?';
		mtD=document;mtN=navigator.appName;mtR=escape(mtD.referrer);
		mtW="";mtC="";mtV="0";mtJ="1";
	//--></script>
	<script type="text/javascript" language="javascript1.1">//<!--
		mtV="1";mtJ = (navigator.javaEnabled()?"1":"0");
	//--></script>
	<script type="text/javascript" language="javascript1.2">//<!--
		mtE=screen;mtW=mtE.width;mtN!="Netscape"?mtC=mtE.colorDepth:mtC=mtE.pixelDepth;mtV="2";
	//--></script>
	<script type="text/javascript" language="javascript1.3">//<!--
		mtV="3";
	//--></script>
	<script type="text/javascript" language="javascript">//<!--
		mtUrl="";mtUrl+="\""+mtS+"i"+mtI+"&t"+mtT+"&g"+mtG+"&w"+mtW+"&c"+mtC+"&r"+mtR+"&v"+mtV+"&j"+mtJ+"\"";
		mtUrl="<a href=http://mytop-in.net/ target=_blank><img src="+mtUrl+"width=1 height=1 border=0 alt=\"Rated by MyTOP\" /></a>";
		mtD.write(mtUrl);
	//--></script>
	<a href="http://mytop-in.net/" target="_blank"><img src="http://111905121500.c.mystat-in.net/?i111905121500&amp;t2&amp;g45&amp;j0" width="1px" height="1px" border="0" alt="Rated by MyTOP" /></a>
	<!-- END OF MyTOP CODE v5.3 -->
	
	<!-- Domik.net start -->
	<a href="http://www.domik.net/" target="_blank">
		<script type="text/javascript" language="javascript"><!--
			dcd=document; dcd.cookie="dctc=1";	dcuid=1679581; dcref=dcd.referrer;	dcsw=screen.width; dcsh=screen.height; dcru=dcd.location; dctq="";
			if(dcd.cookie){dctq="&amp;c=q";}
			document.write('<img border="0" alt="Domik.net" src="http://c.domik.net/?uid='+dcuid+'&amp;rf='+dcref+'&amp;sw='+dcsw+'&amp;sh='+dcsh+'&amp;ru='+dcru+dctq+'&amp;rnd='+Math.random()+'" />');
		//--></script>
	</a>
	<!-- Domik.net end -->
	
	<!-- proext TOP v2.00 -->
	<a href="http://www.proext.com/" target="_blank" onclick='this.href="http://top.proext.com/go.cgi?u=39207";'>
		<script language="javascript" type="text/javascript"><!--
			pcD=document;pcD.cookie="b=b";pcC=pcD.cookie?1:0;
			pcQ='<img src="http://t.proext.com/?u=39207&amp;v=1&amp;f=2&amp;c='+pcC;
			pcF = pcD.referrer.slice(7);
			((pcI=pcF.indexOf('/'))!=-1)?(pcF=pcF.substring(0,pcI)):(pcI=pcF.length);
			if(pcF!=window.location.href.substring(7,7+pcI)){pcQ+='&amp;r='+escape(pcD.referrer);}
			else {try{pcOF=(window.opener && window.opener.document && window.opener.document.referrer)?window.opener.document.referrer.slice(7):'';
			((pcOI=pcOF.indexOf('/'))!=-1)?(pcOF=pcOF.substring(0,pcOI)):(pcOI=pcOF.length);
			if(pcOF!=window.location.href.substring(7,7+pcOI))pcQ+='&amp;r='+escape(window.opener.document.referrer);}catch(e){}}
			pcQ+='&amp;p='+escape(document.URL)+'&amp;t='+Math.random();
			pcD.write(pcQ+'" width="88px" height="31px" border="0" alt="TOP.proext.com" />');
		//--></script>
	</a>
	<script language="javascript" type="text/javascript" src="http://t.proext.com/js/to.js"></script>
	<!-- proext TOP -->
	
	<!-- chat.lviv.ua begin -->
	<a href="http://chat.lviv.ua/top/?siteid=351"><img src="http://chat.lviv.ua/top/images/counter-351.png" border="0" width="1px" height="1px" hspace="0" vspace="0" alt="chat.lviv.ua" /></a>
	<!-- chat.lviv.ua end -->
</div>	