<br/>
  <a href="[CONTEXT_PATH]" title="Lviv real estate portlal Lviv-Realty"> 
  &copy; Lviv-Realty</a> | 
  <a href="[CONTEXT_PATH]realestate/listings.html" title="Lviv Real Estate">Lviv Real Estate</a> | 
  <a href="[CONTEXT_PATH]realestate/for-sale.html" title="Real estate sales">Sales,</a>
  <a href="[CONTEXT_PATH]realestate/rentals.html" title="Real estate rental">rental,</a>
  <a href="[CONTEXT_PATH]realestate/search.html" title="Real estate search">real estate search</a><br/>
  <a href="[CONTEXT_PATH]realestate/demand.html" title="Real estate demand">demand,</a>
  <a href="[CONTEXT_PATH]realestate/exchange.html" title="Real estate exchange">exchange</a> | 
        Feel free to contact us at:<br/>
  <a href="mailto:support@lviv-realty.com" class="mail" title="Support team">support@lviv-realty.com</a><br/>